{
  "swagger": "2.0",
  "info": {
    "description": "MoDaC API is a set of public rest API to access datasets stored in the repository.",
    "title": "MoDaC API",
    "version": "1.0.0"
  },
  "host": "fsdmel-modac01t.ncifcrf.gov",
  "basePath": "/",
  "tags": [
    {
      "name": "modac-rest-api",
      "description": "MoDaC Rest API"
    }
  ],
  "paths": {
    "/api/collection/**": {
      "get": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "getCollection",
        "operationId": "getCollectionUsingGET",
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "list",
            "in": "query",
            "description": "list",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HpcCollectionListDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "registerCollection",
        "operationId": "registerCollectionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "collectionRegistration",
            "description": "collectionRegistration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcCollectionRegistrationDTO"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/collection/query": {
      "post": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "queryCollections",
        "operationId": "queryCollectionsUsingPOST",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "compoundMetadataQuery",
            "description": "compoundMetadataQuery",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcCompoundMetadataQueryDTO"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HpcCollectionListDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/dataObject/**/download": {
      "post": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "synchronousDownload",
        "operationId": "synchronousDownloadUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/dataObject/query": {
      "post": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "queryDataObjects",
        "operationId": "queryDataObjectsUsingPOST",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "compoundMetadataQuery",
            "description": "compoundMetadataQuery",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcCompoundMetadataQueryDTO"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "returnParent",
            "in": "query",
            "description": "returnParent",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HpcDataObjectListDTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/dataObject/**": {
      "get": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "getDataObject",
        "operationId": "getDataObjectUsingGET",
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeAcl",
            "in": "query",
            "description": "includeAcl",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HpcDataObjectListDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "registerDataObject",
        "operationId": "registerDataObjectUsingPUT",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "dataObjectRegistration",
            "description": "dataObjectRegistration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcDataObjectRegistrationRequestDTO"
            }
          },
          {
            "in": "body",
            "name": "doeDataFile",
            "description": "doeDataFile",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/dataObject/**/download": {
      "post": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "synchronousDownload",
        "operationId": "synchronousDownloadUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "downloadRequest",
            "description": "downloadRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcDownloadRequestDTO"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/registration": {
      "put": {
        "tags": [
          "modac-rest-api"
        ],
        "summary": "registerBulkDataObjects",
        "operationId": "registerBulkDataObjectsUsingPUT",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bulkDataObjectRegistrationRequest",
            "description": "bulkDataObjectRegistrationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HpcBulkDataObjectRegistrationRequestDTO"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Calendar": {
      "type": "object",
      "properties": {
        "calendarType": {
          "type": "string"
        },
        "firstDayOfWeek": {
          "type": "integer",
          "format": "int32"
        },
        "lenient": {
          "type": "boolean"
        },
        "minimalDaysInFirstWeek": {
          "type": "integer",
          "format": "int32"
        },
        "time": {
          "type": "string",
          "format": "date-time"
        },
        "timeInMillis": {
          "type": "integer",
          "format": "int64"
        },
        "timeZone": {
          "$ref": "#/definitions/TimeZone"
        },
        "weekDateSupported": {
          "type": "boolean"
        },
        "weekYear": {
          "type": "integer",
          "format": "int32"
        },
        "weeksInWeekYear": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Calendar"
    },
    "HpcBulkDataObjectRegistrationRequestDTO": {
      "type": "object",
      "properties": {
        "dataObjectRegistrationItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcDataObjectRegistrationItemDTO"
          }
        },
        "directoryScanRegistrationItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcDirectoryScanRegistrationItemDTO"
          }
        },
        "dryRun": {
          "type": "boolean"
        },
        "uiURL": {
          "type": "string",
          "xml": {
            "name": "uiURL",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcBulkDataObjectRegistrationRequestDTO",
      "xml": {
        "name": "HpcBulkDataObjectRegistrationRequestDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcBulkMetadataEntries": {
      "type": "object",
      "properties": {
        "defaultCollectionMetadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        },
        "pathsMetadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcBulkMetadataEntry"
          }
        }
      },
      "title": "HpcBulkMetadataEntries",
      "xml": {
        "name": "HpcBulkMetadataEntries",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcBulkMetadataEntry": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "xml": {
            "name": "path",
            "attribute": false,
            "wrapped": false
          }
        },
        "pathMetadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        }
      },
      "title": "HpcBulkMetadataEntry",
      "xml": {
        "name": "HpcBulkMetadataEntry",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCollection": {
      "type": "object",
      "properties": {
        "absolutePath": {
          "type": "string",
          "xml": {
            "name": "absolutePath",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionId": {
          "type": "integer",
          "format": "int32"
        },
        "collectionInheritance": {
          "type": "string",
          "xml": {
            "name": "collectionInheritance",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionMapId": {
          "type": "string",
          "xml": {
            "name": "collectionMapId",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionName": {
          "type": "string",
          "xml": {
            "name": "collectionName",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionOwnerName": {
          "type": "string",
          "xml": {
            "name": "collectionOwnerName",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionOwnerZone": {
          "type": "string",
          "xml": {
            "name": "collectionOwnerZone",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionParentName": {
          "type": "string",
          "xml": {
            "name": "collectionParentName",
            "attribute": false,
            "wrapped": false
          }
        },
        "comments": {
          "type": "string",
          "xml": {
            "name": "comments",
            "attribute": false,
            "wrapped": false
          }
        },
        "createdAt": {
          "xml": {
            "name": "createdAt",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/Calendar"
        },
        "dataObjects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcCollectionListingEntry"
          }
        },
        "info1": {
          "type": "string",
          "xml": {
            "name": "info1",
            "attribute": false,
            "wrapped": false
          }
        },
        "info2": {
          "type": "string",
          "xml": {
            "name": "info2",
            "attribute": false,
            "wrapped": false
          }
        },
        "specColType": {
          "type": "string",
          "xml": {
            "name": "specColType",
            "attribute": false,
            "wrapped": false
          }
        },
        "subCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcCollectionListingEntry"
          }
        }
      },
      "title": "HpcCollection",
      "xml": {
        "name": "HpcCollection",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCollectionDTO": {
      "type": "object",
      "properties": {
        "collection": {
          "xml": {
            "name": "collection",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcCollection"
        },
        "metadataEntries": {
          "xml": {
            "name": "metadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcMetadataEntries"
        },
        "permission": {
          "type": "string",
          "xml": {
            "name": "permission",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "NONE",
            "OWN",
            "READ",
            "WRITE"
          ]
        }
      },
      "title": "HpcCollectionDTO",
      "xml": {
        "name": "HpcCollectionDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCollectionListDTO": {
      "type": "object",
      "properties": {
        "collectionPaths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcCollectionDTO"
          }
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "HpcCollectionListDTO",
      "xml": {
        "name": "HpcCollectionListDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCollectionListingEntry": {
      "type": "object",
      "properties": {
        "createdAt": {
          "xml": {
            "name": "createdAt",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/Calendar"
        },
        "dataSize": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string",
          "xml": {
            "name": "path",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcCollectionListingEntry",
      "xml": {
        "name": "HpcCollectionListingEntry",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCollectionRegistrationDTO": {
      "type": "object",
      "properties": {
        "createParentCollections": {
          "type": "boolean"
        },
        "metadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        },
        "parentCollectionsBulkMetadataEntries": {
          "xml": {
            "name": "parentCollectionsBulkMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcBulkMetadataEntries"
        }
      },
      "title": "HpcCollectionRegistrationDTO",
      "xml": {
        "name": "HpcCollectionRegistrationDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCompoundMetadataQuery": {
      "type": "object",
      "properties": {
        "compoundQueries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcCompoundMetadataQuery"
          }
        },
        "operator": {
          "type": "string",
          "xml": {
            "name": "operator",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "AND",
            "OR"
          ]
        },
        "queries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataQuery"
          }
        }
      },
      "title": "HpcCompoundMetadataQuery",
      "xml": {
        "name": "HpcCompoundMetadataQuery",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcCompoundMetadataQueryDTO": {
      "type": "object",
      "properties": {
        "compoundQuery": {
          "xml": {
            "name": "compoundQuery",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcCompoundMetadataQuery"
        },
        "compoundQueryType": {
          "type": "string",
          "xml": {
            "name": "compoundQueryType",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "COLLECTION",
            "DATA_OBJECT"
          ]
        },
        "detailedResponse": {
          "type": "boolean"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "type": "boolean"
        }
      },
      "title": "HpcCompoundMetadataQueryDTO",
      "xml": {
        "name": "HpcCompoundMetadataQueryDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDataObject": {
      "type": "object",
      "properties": {
        "absolutePath": {
          "type": "string",
          "xml": {
            "name": "absolutePath",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionId": {
          "type": "integer",
          "format": "int32"
        },
        "collectionName": {
          "type": "string",
          "xml": {
            "name": "collectionName",
            "attribute": false,
            "wrapped": false
          }
        },
        "createdAt": {
          "xml": {
            "name": "createdAt",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/Calendar"
        },
        "dataName": {
          "type": "string",
          "xml": {
            "name": "dataName",
            "attribute": false,
            "wrapped": false
          }
        },
        "dataOwnerName": {
          "type": "string",
          "xml": {
            "name": "dataOwnerName",
            "attribute": false,
            "wrapped": false
          }
        },
        "dataPath": {
          "type": "string",
          "xml": {
            "name": "dataPath",
            "attribute": false,
            "wrapped": false
          }
        },
        "dataSize": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "HpcDataObject",
      "xml": {
        "name": "HpcDataObject",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDataObjectDTO": {
      "type": "object",
      "properties": {
        "dataObject": {
          "xml": {
            "name": "dataObject",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcDataObject"
        },
        "metadataEntries": {
          "xml": {
            "name": "metadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcMetadataEntries"
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32"
        },
        "permission": {
          "type": "string",
          "xml": {
            "name": "permission",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "NONE",
            "OWN",
            "READ",
            "WRITE"
          ]
        }
      },
      "title": "HpcDataObjectDTO",
      "xml": {
        "name": "HpcDataObjectDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDataObjectListDTO": {
      "type": "object",
      "properties": {
        "dataObjectPaths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataObjects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcDataObjectDTO"
          }
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "HpcDataObjectListDTO",
      "xml": {
        "name": "HpcDataObjectListDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDataObjectRegistrationItemDTO": {
      "type": "object",
      "properties": {
        "callerObjectId": {
          "type": "string",
          "xml": {
            "name": "callerObjectId",
            "attribute": false,
            "wrapped": false
          }
        },
        "createParentCollections": {
          "type": "boolean"
        },
        "dataObjectMetadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        },
        "globusUploadSource": {
          "xml": {
            "name": "globusUploadSource",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcGlobusUploadSource"
        },
        "googleDriveUploadSource": {
          "xml": {
            "name": "googleDriveUploadSource",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcStreamingUploadSource"
        },
        "linkSourcePath": {
          "type": "string",
          "xml": {
            "name": "linkSourcePath",
            "attribute": false,
            "wrapped": false
          }
        },
        "parentCollectionsBulkMetadataEntries": {
          "xml": {
            "name": "parentCollectionsBulkMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcBulkMetadataEntries"
        },
        "path": {
          "type": "string",
          "xml": {
            "name": "path",
            "attribute": false,
            "wrapped": false
          }
        },
        "s3UploadSource": {
          "xml": {
            "name": "s3UploadSource",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcStreamingUploadSource"
        }
      },
      "title": "HpcDataObjectRegistrationItemDTO",
      "xml": {
        "name": "HpcDataObjectRegistrationItemDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDataObjectRegistrationRequestDTO": {
      "type": "object",
      "properties": {
        "callerObjectId": {
          "type": "string",
          "xml": {
            "name": "callerObjectId",
            "attribute": false,
            "wrapped": false
          }
        },
        "checksum": {
          "type": "string",
          "xml": {
            "name": "checksum",
            "attribute": false,
            "wrapped": false
          }
        },
        "createParentCollections": {
          "type": "boolean"
        },
        "generateUploadRequestURL": {
          "type": "boolean"
        },
        "metadataEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        },
        "parentCollectionsBulkMetadataEntries": {
          "xml": {
            "name": "parentCollectionsBulkMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcBulkMetadataEntries"
        },
        "source": {
          "xml": {
            "name": "source",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcDataObjectRegistrationRequestDTO",
      "xml": {
        "name": "HpcDataObjectRegistrationRequestDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDirectoryScanPathMap": {
      "type": "object",
      "properties": {
        "fromPath": {
          "type": "string",
          "xml": {
            "name": "fromPath",
            "attribute": false,
            "wrapped": false
          }
        },
        "toPath": {
          "type": "string",
          "xml": {
            "name": "toPath",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcDirectoryScanPathMap",
      "xml": {
        "name": "HpcDirectoryScanPathMap",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDirectoryScanRegistrationItemDTO": {
      "type": "object",
      "properties": {
        "basePath": {
          "type": "string",
          "xml": {
            "name": "basePath",
            "attribute": false,
            "wrapped": false
          }
        },
        "bulkMetadataEntries": {
          "xml": {
            "name": "bulkMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcBulkMetadataEntries"
        },
        "callerObjectId": {
          "type": "string",
          "xml": {
            "name": "callerObjectId",
            "attribute": false,
            "wrapped": false
          }
        },
        "excludePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "globusScanDirectory": {
          "xml": {
            "name": "globusScanDirectory",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcGlobusScanDirectory"
        },
        "googleDriveScanDirectory": {
          "xml": {
            "name": "googleDriveScanDirectory",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcGoogleDriveScanDirectory"
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pathMap": {
          "xml": {
            "name": "pathMap",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcDirectoryScanPathMap"
        },
        "patternType": {
          "type": "string",
          "xml": {
            "name": "patternType",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "REGEX",
            "SIMPLE"
          ]
        },
        "s3ScanDirectory": {
          "xml": {
            "name": "s3ScanDirectory",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcS3ScanDirectory"
        }
      },
      "title": "HpcDirectoryScanRegistrationItemDTO",
      "xml": {
        "name": "HpcDirectoryScanRegistrationItemDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcDownloadRequestDTO": {
      "type": "object",
      "properties": {
        "globusDownloadDestination": {
          "xml": {
            "name": "globusDownloadDestination",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcGlobusDownloadDestination"
        },
        "googleDriveDownloadDestination": {
          "xml": {
            "name": "googleDriveDownloadDestination",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcGoogleDriveDownloadDestination"
        },
        "s3DownloadDestination": {
          "xml": {
            "name": "s3DownloadDestination",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcS3DownloadDestination"
        },
        "synchronousDownloadFilter": {
          "xml": {
            "name": "synchronousDownloadFilter",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcSynchronousDownloadFilter"
        }
      },
      "title": "HpcDownloadRequestDTO",
      "xml": {
        "name": "HpcDownloadRequestDTO",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcFileLocation": {
      "type": "object",
      "properties": {
        "fileContainerId": {
          "type": "string",
          "xml": {
            "name": "fileContainerId",
            "attribute": false,
            "wrapped": false
          }
        },
        "fileContainerName": {
          "type": "string",
          "xml": {
            "name": "fileContainerName",
            "attribute": false,
            "wrapped": false
          }
        },
        "fileId": {
          "type": "string",
          "xml": {
            "name": "fileId",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcFileLocation",
      "xml": {
        "name": "HpcFileLocation",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcGlobusDownloadDestination": {
      "type": "object",
      "properties": {
        "destinationLocation": {
          "xml": {
            "name": "destinationLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        },
        "destinationOverwrite": {
          "type": "boolean"
        }
      },
      "title": "HpcGlobusDownloadDestination",
      "xml": {
        "name": "HpcGlobusDownloadDestination",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcGlobusScanDirectory": {
      "type": "object",
      "properties": {
        "directoryLocation": {
          "xml": {
            "name": "directoryLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcGlobusScanDirectory",
      "xml": {
        "name": "HpcGlobusScanDirectory",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcGlobusUploadSource": {
      "type": "object",
      "properties": {
        "sourceLocation": {
          "xml": {
            "name": "sourceLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcGlobusUploadSource",
      "xml": {
        "name": "HpcGlobusUploadSource",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcGoogleDriveDownloadDestination": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "xml": {
            "name": "accessToken",
            "attribute": false,
            "wrapped": false
          }
        },
        "destinationLocation": {
          "xml": {
            "name": "destinationLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcGoogleDriveDownloadDestination",
      "xml": {
        "name": "HpcGoogleDriveDownloadDestination",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcGoogleDriveScanDirectory": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "xml": {
            "name": "accessToken",
            "attribute": false,
            "wrapped": false
          }
        },
        "directoryLocation": {
          "xml": {
            "name": "directoryLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcGoogleDriveScanDirectory",
      "xml": {
        "name": "HpcGoogleDriveScanDirectory",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcMetadataEntries": {
      "type": "object",
      "properties": {
        "parentMetadataEntries": {
          "type": "array",
          "xml": {
            "name": "parentMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        },
        "selfMetadataEntries": {
          "type": "array",
          "xml": {
            "name": "selfMetadataEntries",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/HpcMetadataEntry"
          }
        }
      },
      "title": "HpcMetadataEntries",
      "xml": {
        "name": "HpcMetadataEntries",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcMetadataEntry": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string",
          "xml": {
            "name": "attribute",
            "attribute": false,
            "wrapped": false
          }
        },
        "collectionId": {
          "type": "integer",
          "format": "int32"
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "levelLabel": {
          "type": "string",
          "xml": {
            "name": "levelLabel",
            "attribute": false,
            "wrapped": false
          }
        },
        "unit": {
          "type": "string",
          "xml": {
            "name": "unit",
            "attribute": false,
            "wrapped": false
          }
        },
        "value": {
          "type": "string",
          "xml": {
            "name": "value",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcMetadataEntry",
      "xml": {
        "name": "HpcMetadataEntry",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcMetadataQuery": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "string",
          "xml": {
            "name": "attribute",
            "attribute": false,
            "wrapped": false
          }
        },
        "attributeMatch": {
          "type": "string",
          "xml": {
            "name": "attributeMatch",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "ANY",
            "EXACT"
          ]
        },
        "format": {
          "type": "string",
          "xml": {
            "name": "format",
            "attribute": false,
            "wrapped": false
          }
        },
        "levelFilter": {
          "xml": {
            "name": "levelFilter",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcMetadataQueryLevelFilter"
        },
        "operator": {
          "type": "string",
          "xml": {
            "name": "operator",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "EQUAL",
            "LIKE",
            "NOT_EQUAL",
            "NUM_GREATER_OR_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_LESS_OR_EQUAL",
            "NUM_LESS_THAN",
            "TIMESTAMP_GREATER_OR_EQUAL",
            "TIMESTAMP_GREATER_THAN",
            "TIMESTAMP_LESS_OR_EQUAL",
            "TIMESTAMP_LESS_THAN"
          ]
        },
        "value": {
          "type": "string",
          "xml": {
            "name": "value",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcMetadataQuery",
      "xml": {
        "name": "HpcMetadataQuery",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcMetadataQueryLevelFilter": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "xml": {
            "name": "label",
            "attribute": false,
            "wrapped": false
          }
        },
        "level": {
          "type": "integer",
          "format": "int32"
        },
        "operator": {
          "type": "string",
          "xml": {
            "name": "operator",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "EQUAL",
            "LIKE",
            "NOT_EQUAL",
            "NUM_GREATER_OR_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_LESS_OR_EQUAL",
            "NUM_LESS_THAN",
            "TIMESTAMP_GREATER_OR_EQUAL",
            "TIMESTAMP_GREATER_THAN",
            "TIMESTAMP_LESS_OR_EQUAL",
            "TIMESTAMP_LESS_THAN"
          ]
        }
      },
      "title": "HpcMetadataQueryLevelFilter",
      "xml": {
        "name": "HpcMetadataQueryLevelFilter",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcS3Account": {
      "type": "object",
      "properties": {
        "accessKey": {
          "type": "string",
          "xml": {
            "name": "accessKey",
            "attribute": false,
            "wrapped": false
          }
        },
        "region": {
          "type": "string",
          "xml": {
            "name": "region",
            "attribute": false,
            "wrapped": false
          }
        },
        "secretKey": {
          "type": "string",
          "xml": {
            "name": "secretKey",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcS3Account",
      "xml": {
        "name": "HpcS3Account",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcS3DownloadDestination": {
      "type": "object",
      "properties": {
        "account": {
          "xml": {
            "name": "account",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcS3Account"
        },
        "destinationLocation": {
          "xml": {
            "name": "destinationLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcS3DownloadDestination",
      "xml": {
        "name": "HpcS3DownloadDestination",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcS3ScanDirectory": {
      "type": "object",
      "properties": {
        "account": {
          "xml": {
            "name": "account",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcS3Account"
        },
        "directoryLocation": {
          "xml": {
            "name": "directoryLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        }
      },
      "title": "HpcS3ScanDirectory",
      "xml": {
        "name": "HpcS3ScanDirectory",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcStreamingUploadSource": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "xml": {
            "name": "accessToken",
            "attribute": false,
            "wrapped": false
          }
        },
        "account": {
          "xml": {
            "name": "account",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcS3Account"
        },
        "sourceInputStream": {
          "xml": {
            "name": "sourceInputStream",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/InputStream"
        },
        "sourceLocation": {
          "xml": {
            "name": "sourceLocation",
            "attribute": false,
            "wrapped": false
          },
          "$ref": "#/definitions/HpcFileLocation"
        },
        "sourceSize": {
          "type": "integer",
          "format": "int64"
        },
        "sourceURL": {
          "type": "string",
          "xml": {
            "name": "sourceURL",
            "attribute": false,
            "wrapped": false
          }
        }
      },
      "title": "HpcStreamingUploadSource",
      "xml": {
        "name": "HpcStreamingUploadSource",
        "attribute": false,
        "wrapped": false
      }
    },
    "HpcSynchronousDownloadFilter": {
      "type": "object",
      "properties": {
        "compressedArchiveType": {
          "type": "string",
          "xml": {
            "name": "compressedArchiveType",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "TAR",
            "TGZ",
            "ZIP"
          ]
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "patternType": {
          "type": "string",
          "xml": {
            "name": "patternType",
            "attribute": false,
            "wrapped": false
          },
          "enum": [
            "REGEX",
            "SIMPLE"
          ]
        }
      },
      "title": "HpcSynchronousDownloadFilter",
      "xml": {
        "name": "HpcSynchronousDownloadFilter",
        "attribute": false,
        "wrapped": false
      }
    },
    "InputStream": {
      "type": "object",
      "title": "InputStream"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "dstsavings": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string"
        },
        "rawOffset": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "TimeZone"
    }
  }
}