<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="tab-pane fade show active M-4 p-4" th:fragment="about" id="aboutTab" role="tabpanel">
<div class="col-md-12 form-row Aboutbuttoncontainer" style="background-image: url(/images/about.png);">
            <div style="text-align: left;margin-left:95px;" class="col-md-8 form-group  subbuttoncontainer">
            <h1 style="color: #FFFFFF;font-family:Proxima Nova;
             font-size: 29px;line-height: 54px;
             width: 213px;">About MoDaC</h1></div> 
            </div>
            <div class="col-md-12" style="margin-top: -80px;margin-left: 133px;">
    
    <p style="height: 392px;width: 824px;opacity: 0.98;color: #000000;font-family: Proxima Nova;
    font-size: 17px;letter-spacing: 0;line-height: 29px;">
The Model and Data Clearinghouse is a data sharing repository developed to transition to the
 broader research community, software and computational capabilities developed within NCI and in 
 collaborative programs, including the NCI-DOE Collaborations and the ATOM consortium. Annotated 
 datasets stored in the repository are publicly available and can be searched against their metadata and 
 downloaded. Users are required to sign up to access the data, no account is required to perform searches and view the metadata associated with a Program, Study or Dataset collection. Data can be downloaded asynchronously to a Globus endpoint or and AWS S3 bucket, as well as synchronously to the user machine. Support for additional transfer endpoints such as Google drive and Google cloud are also under consideration. Users can 
monitor the progress of all their asynchronous downloads at any point in time during the transfer.</p>
        
    </div>
    </div>
</body>
</html>
