<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div class="tab-pane fade show active M-4" th:fragment="about"
		id="aboutTab" style="background-color: #f4f4f4;" role="tabpanel">
		<div class="col-md-12 form-row Aboutbuttoncontainer"
			style="background-image: url(/images/about.jpg);">
			<div
				style="text-align: center; margin-left: 6rem; height: 65px; margin-top: 9rem;"
				class="col-md-8 form-group subbuttoncontainer" id="aboutImgDiv">
				<h1 id="aboutText"
					style="color: #FFFFFF; font-family: latoregular; font-size: 29px; line-height: 65px; margin-left: 2rem; letter-spacing: 1px;">About
					MoDaC</h1>
			</div>
		</div>
		<div class="col-md-12" id="aboutMoDaCDescp"
			style="margin-top: -4rem; margin-left: 8rem; margin-right: 39rem; width: fit-content; padding-bottom: 10rem;">

			<p
				style="opacity: 0.98; color: #000000; font-family: latoregular; font-size: 17px; letter-spacing: 1px; line-height: 29px;">
				The Predictive Oncology Model and Data Clearinghouse (MoDaC) is a
				resource-sharing repository developed to transition resources to the
				broader research community. These resources consist of predictive
				oncology datasets and mathematical models (such as machine learning
				and deep learning models) developed within NCI and in collaborative
				programs, including the <a target="_blank"
					href="https://datascience.cancer.gov/collaborations/joint-design-advanced-computing">
					Joint Design of Advanced Computing Solutions for Cancer (JDACS4C)
					Program</a> and the <a target="_blank"
					href="https://datascience.cancer.gov/collaborations/atom">
					Accelerating Therapeutics for Opportunities in Medicine (ATOM)
					Consortium</a>. Annotated datasets and models stored in the repository
				are publicly available and can be searched against their metadata
				and downloaded.
			</p>

			<p
				style="opacity: 0.98; color: #000000; font-family: latoregular; font-size: 17px; letter-spacing: 1px; line-height: 29px;">
				An account is not needed to perform searches of the repository and
				view the metadata associated with a collection. Users who create an
				account can download data. Downloads can be performed asynchronously
				to a Globus endpoint or to an AWS S3 bucket, or synchronously to the
				user's computer. Users can monitor the progress of their
				asynchronous downloads at any point during the transfer.</p>

			<p
				style="opacity: 0.98; color: #000000; font-family: latoregular; font-size: 17px; letter-spacing: 1px; line-height: 29px;">
				MoDaC allows users to associate a Document Object Identifier with a
				stored asset and provides a shareable link for citations.</p>

			<p
				style="opacity: 0.98; color: #000000; font-family: latoregular; font-size: 17px; letter-spacing: 1px; line-height: 29px;">
				MoDaC provides support for evaluating MoDaC models deployed to the
				NCI on-premises environment. Users can evaluate these models through
				the MoDaC web interface or programmatically using the MoDaC REST API
				suite. For more information on this capability, <a
					th:href="@{/contactUs}">contact us</a>.
			</p>

		</div>
	</div>
</body>
</html>
