<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="changePassword" th:fragment="changePassword" style="display:none;">
                 <form role="form" id="forgot-password-form"  style="width: 50%;">
                        <h1>Change Password</h1>
                        
                        <div class="clearfix errorBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-danger">
                            <h6 class="errorMsg"></h6>
                        </div>
                    </div>
                </div>
                
                  <div class="clearfix successBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-success">
                            <h6 class="successMsg"></h6>
                        </div>
                    </div>
                </div>
                
                 <div class="row row-buffer">
                    <p id="forgotPasswordLightBoxPromptText">
                       &nbsp;&nbsp; Use this form to reset password.
                    </p>
                  </div>
                  
                    <br>
                        
                        <div class="row row-buffer">
                            <div class="col-lg-4">
                             <label class="infoLabel" for="txtforgotPasswordEmail">Email <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-8">
                            <span id="txtforgotPasswordEmail" th:text="${loggedOnUser}"  class="form-control defaultFocus"></span>                              
                            </div>
                        </div>
                        
                 <div class="row row-buffer">
                            <div class="col-lg-4">
                         <label class="infoLabel" for="forgot_password">New Password <i class="fa fa-question-circle" data-toggle="tooltip"
                          title="Password must be 8 to 14 characters and must contain at least one alphanumeric value and a special character." 
                    style="font-size: 12px;"></i><span class="required"> *</span></label>
                            </div>
                            <div class="col-lg-8">
                            <input type="password" autocomplete="off"  id="forgot_password" name="forgot_password" maxlength="20" class="form-control defaultFocus">
                            </div>
                        </div>
                         <div class="row row-buffer">
                            <div class="col-lg-4">
                        <label class="infoLabel" for="forgot_password_confirm">Confirm New Password <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-8">
                         <input type="password" autocomplete="off" id="forgot_password_confirm" name="forgot_password_confirm" maxlength="20" class="form-control defaultFocus">
                                
                            </div>
                        </div>
                
                        <hr>
                        <div class="row" style="justify-content: center;">
                        
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button class="btn btn-lg btn-success btn-block" id="cancelResetPswdBtn" name="cancel" value="Cancel">Cancel</button>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">                            
                                <button class="btn btn-lg btn-primary btn-block" id="btnforgotPassword">Submit</button>
                            </div>
                        </div>
                </form>
        </div>
        <hr>

</body>
</html>
