<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="M-4 p-4 mx-auto" id="changePassword" th:fragment="changePassword" style="
    width: 800px;height: 600px;margin-left: 350px;">
  
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="changePswdSubTab">
                 <form role="form" id="forgot-password-form"  style="width: 100%;color:#fff">
                         <h3 style="text-align: center;font-family: latoregular;padding-top: 18px;
                   padding-bottom: 14px;font-size: 26px;
    color: #fff;">CHANGE PASSWORD</h3>
                        <hr style="color: #214C75;">
                        <div class="clearfix errorBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-danger" style="background-color: #E87B05;">
                            <h6 class="errorMsg" style="color:#EAF6FF"></h6>
                        </div>
                    </div>
                </div>
                
                  <div class="clearfix successBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-success">
                            <h6 class="successMsg"></h6>
                        </div>
                    </div>
                </div>
                
                 <div class="row row-buffer">
                    <p style="color: #fff;font-family: 'inter_medium';font-size: 13px;padding-left: 162px;">
                       &nbsp;&nbsp; Use this form to reset password.
                    </p>
                  </div>
                  
                    <br>
                        
                        <div class="row row-buffer" style="padding-top:0px;">
                            <div class="col-lg-4">
                             <label class="infoLabel" for="txtforgotPasswordEmail">Email </label>
                            </div>
                            <div class="col-lg-8">
                            <span id="txtforgotPasswordEmail" style="background-color: #A1C1DB;color: #000000;"
                            th:text="${loggedOnUser}"  class="form-control defaultFocus myaccountTextbox"></span>                              
                            </div>
                        </div>
                        
                 <div class="row row-buffer">
                            <div class="col-lg-4">
                         <label class="infoLabel" for="forgot_password">New Password <span class="required"> *</span></label>
                            </div>
                            <div class="col-lg-8">
                            <input type="password" autocomplete="off"  id="forgot_password" name="forgot_password" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                            </div>
                        </div>
                         <div class="row row-buffer">
                            <div class="col-lg-4">
                        <label class="infoLabel" for="forgot_password_confirm">Confirm New Password <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-8">
                         <input type="password" autocomplete="off" id="forgot_password_confirm" name="forgot_password_confirm" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                <div class="row row-buffer" style="height:30%;">
                <div class="col-lg-12">
             <span style="font-family:'inter_regular';font-size: 13px;">Password must contain:</span>
                  <div id="demo" style="max-height: 38%;font-size: 13px;font-family: 'inter_regular';">
                <ul>
              <li>8-14 characters.</li>
              <li>At least 1 capital letter.</li>
             <li>At least 1 lowercase letter.</li>
             <li>At least 1 numeric character.</li>
             <li>At least 1 allowed special character (!@#$%^&*()_+|~-=`{}[]:";'&lt;&gt;?,./).</li>  
                </ul>
                
                  </div>
                 </div>
            </div>
                        <hr style="color: #214C75;">
                        <div class="row" style="justify-content: center;margin-top:30px;">
                        
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a class="btn btn-lg btn-success btn-block"th:href="@{/}" id="cancelPassword">CANCEL</a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">                            
                                <button class="btn btn-lg btn-primary btn-block"  id="btnforgotPassword">SUBMIT</button>
                            </div>
                        </div>
                </form>
        </div>
        </div>
       

</body>
</html>
