<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="M-4 p-4 mx-auto" id="contactUs" th:fragment="contactUs" style="
    width: 800px;height: 710px;margin-left: 350px;">
  
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="contactUsSubTab">
                 <form role="form" id="contact-us-form"  style="width: 100%;color:#fff">
                    <h3 style="text-align: center;font-family: latoregular;padding-top: 18px;
                   padding-bottom: 14px;font-size: 26px;color: #fff;">CONTACT US</h3>
                        <hr class="loginHr">
                        <div class="clearfix errorBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-danger" style="background-color: #E87B05;">
                            <h6 class="errorMsg" style="color:#EAF6FF"></h6>
                        </div>
                    </div>
                </div>
                
                  <div class="clearfix successBlock" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                        <div class="alert alert-success">
                            <h6 class="successMsg" style="text-align:center;"></h6>
                        </div>
                    </div>
                </div>
                  
                    <br>
                        
                        <div class="row row-buffer" style="padding-top:0px;">
                            <div class="col-lg-3">
                             <label class="infoLabel" for="contact_us_name">Name <span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                               <input type="text" th:value="${fullName}" th:disabled="${fullName != null}"
                                th:style="${loggedOnUser != null ? 'background-color: #A1C1DB;color: #000000;': ''}"
                                autocomplete="off" id="contact_us_name" name="contact_us_name" 
                                maxlength="20" class="form-control defaultFocus myaccountTextbox">                            
                            </div>
                        </div>
                        
                 <div class="row row-buffer">
                            <div class="col-lg-3">
                         <label class="infoLabel" for="contact-us-email">Email <span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                            <input type="text" th:value="${loggedOnUser}" 
                            th:style="${loggedOnUser != null ? 'background-color: #A1C1DB;color: #000000;': ''}"
                            th:disabled="${loggedOnUser != null}" autocomplete="off"  
                            id="id_user_email" name="id_user_email" maxlength="50" 
                            class="form-control defaultFocus myaccountTextbox">  
                            </div>
                        </div>
                         <div class="row row-buffer">
                            <div class="col-lg-3">
                        <label class="infoLabel" for="contact_us_txtarea">Message<span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                         <textarea id="contact_us_txtarea" name="contact_us_txtarea" rows="5" class="form-control defaultFocus"></textarea>
                                
                            </div>
                        </div>
                        <div class="row row-buffer">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9">                        
        				<div id="google_recaptcha"></div>      				
      					</div>
                        </div>
                        
                        <hr class="loginHr">
                        <div class="row" style="justify-content: center;margin-top:30px;margin-bottom: 30px;">
                        
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a class="btn btn-lg btn-success btn-block" th:href="@{/}" style="margin-left:45px;" 
                                id="cancelContactUs">CANCEL</a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">                            
                                <button class="btn btn-lg btn-primary btn-block" id="btnSubmitEmail">SUBMIT</button>
                            </div>
                        </div>
                </form>
        </div>
        </div>
       

</body>
</html>
