<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div class="form-row jumbotron pt-2 pb-2 mb-2"
		id="editCollectionFragment" th:fragment="editCollectionFragment"
		style="display: none;">

		<div class="col-lg-12 col-md-12 col-sm-12 float-right">
			<div class="controls controls-row mt-4">
				<a class="float-left mb-2 mr-2 backToSearchBtn"><img
					src="images/BackSearch-icon.png" data-toggle="tooltip"
					title="Back to Search Results"
					th:src="@{/images/BackSearch-icon.png}" style="width: 50px;"
					alt="back to search"> &nbsp;&nbsp;<span class="backToSearch">Back
						to Search Results</span></a> <a
					class="float-left mb-2 mr-2 backToAssetDetailsBtn"
					style="display: none;"> <img src="images/BackSearch-icon.png"
					data-toggle="tooltip" title="Back to Search Results"
					th:src="@{/images/BackSearch-icon.png}" style="width: 50px;"
					alt="back to search"> &nbsp;&nbsp;<span class="backToSearch">Back
						to Asset Details</span></a> <a class="float-left mb-2 mr-2 backToUploadTab"
					style="display: none;"> <img src="images/BackSearch-icon.png"
					data-toggle="tooltip" title="Back to Upload Tab"
					th:src="@{/images/BackSearch-icon.png}" style="width: 50px;"
					alt="Back to Upload Tab"> &nbsp;&nbsp;<span
					class="backToSearch">Back to Upload Tab</span></a>

			</div>
		</div>
		<div class="alert alert-success editCollectionSuccess" role="alert"
			style="display: none; margin-bottom: 10px;">
			<div class="col-md-12"
				style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
				<h6 class="editCollectionMsg"></h6>
			</div>
		</div>

		<div class="alert alert-danger editCollectionError" role="alert"
			style="display: none; margin-bottom: 10px;">
			<div class="col-md-12"
				style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
				<h6 class="editCollectionErrorMsg"></h6>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 float-right">
			<p style="font-size: 20px; font-weight: 500;">
				User Metadata for: <span id="editUserMetadataFileName"></span>
			</p>
		</div>
		<form class="form-horizontal" id="collectionForm" method="POST"
			style="width: 90%;">
			<input type="hidden" name="path" id="path" /> <input type="hidden"
				name="isDataObject" id="isDataObject" /> <input type="hidden"
				name="collectionId" id="collectionId" />
			<table id="userMetaData"
				class="table table-stripped table-bordered display dt-responsive wrap"
				style="width: 100%">
				<thead class="opensans-normal-white-15px">
					<tr>
						<th aria-sort="none" class="sortable" data-sort="text"
							role="columnheader" scope="col">ATTRIBUTE NAME</th>
						<th aria-sort="none" class="sortable" data-sort="text"
							role="columnheader" scope="col">VALUE</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<div class="col-lg-12 col-md-12 col-sm-12 float-right"
				style="margin-right: -22px;">
				<div class="controls controls-row mt-4">
					<button id="addMetaData" type="button"
						class="btn btn-primary float-right mb-2 mr-2">Add
						Metadata</button>
					<button id="updateMetaData" type="button"
						class="btn btn-primary float-right mb-2 mr-2">Update</button>
					<button id="updatePermissions" type="button"
						style="display: none;"
						class="btn btn-primary float-right mb-2 mr-2">Edit
						Permissions</button>
				</div>
			</div>
		</form>

	</div>
</body>
</html>
