<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div id="footer" class="col-md-12 col-sm-12 p-0" th:fragment="footer"
		style="margin-top: 10px; height: fit-content;">

		<div class="top-footer opensans-normal-white-16-2px">
			<div class="row top-footer-container">
				<div class="col-8">
					<div class="row top-footer-leftcontainer">
						<div class="col-4">
							<section class="primary-content">
								<div class="primary-link">About</div>
								<ul class="list list--unstyled">
									<li class="secondary-link-firstchild">
										<a aria-label="About MoDaC" th:href="@{/aboutTab}">About MoDaC </a>
									</li>
									<li class="secondary-link">
										<a aria-label="About MoDaC" target="_blank"
											href="https://wiki.nci.nih.gov/display/MoDaCdoc">MoDaC
											User Guide</a>
									</li>
									<li class="secondary-link">
										<a th:href="@{/contactUs}"> Contact MoDaC </a>
									</li>
								</ul>
							</section>
						</div>

						<div class="col-4">
							<section class="primary-content">
								<div class="primary-link">Policies</div>
								<ul class="list list--unstyled">
									<li class="secondary-link-firstchild">
										<a href="https://www.cancer.gov/policies/accessibility" target="_blank"
											rel="noopener noreferrer">Accessibility</a>
									</li>
									<li class="secondary-link">
										<a href="https://www.cancer.gov/policies/foia" target="_blank"
											rel="noopener noreferrer">FOIA</a>
									</li>
									<li class="secondary-link">
										<a href="/https://www.cancer.gov/policies/privacy-security" target="_blank"
											rel="noopener noreferrer">Privacy &amp;
											Security</a>
									</li>
									<li class="secondary-link">
										<a href="https://www.cancer.gov/policies/disclaimer" target="_blank"
											rel="noopener noreferrer">Disclaimers</a>
									</li>
									<li class="secondary-link">
										<a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html"
											target="_blank" rel="noopener noreferrer">Vulnerability Disclosure
										</a>
									</li>
								</ul>
							</section>
						</div>
					</div>

				</div>
				<div class="col-4">

					<div class='sign-up'>
						<div class='sign-up-heading'>Sign up for email updates</div>
						<form aria-label='Footer subscribe' class='form' id='signup'>
							<div class='form-form-group'>
								<label class='form-label' for='email'>
									Enter your email address
								</label>
								
							<input class="form-input width-full" type="email" 
							id="signUpEmailAddress" name="signUpEmailAddress" required>
							
							</div>
							<button class='form-button form-button--accent-warm' type='submit' id="signUpBtn">
								Sign up
							</button>
						</form>
					</div>

				</div>
			</div>


		</div>

		<div class="bottom-footer">
			<div class="frame-container">
				<div class="row overlap-group1-2">
					<div class="col-5">
						<div class="institute-container">
							<p class="at-the-national-institutes-of-health poppins-normal-white-18-7px">
								<span class="poppins-normal-white-18-7px">at the National Institutes of
									Health</span>
							</p>
							<div class="national-cancer-institute poppins-bold-white-25px">
								<span class="poppins-bold-white-25px">National Cancer Institute</span>
							</div>
						</div>
						<div class="follow-us poppins-bold-white-22-9px">
							<span class="poppins-bold-white-22-9px">Follow us</span>
						</div>
						<img class="group-66" th:src="@{/images/group-66-1.png}" alt="Group 66" />
					</div>
					<div class="col-7">
						<div class="frame-46">
							<div class="contact-us poppins-bold-white-22-9px">
								<span class="poppins-bold-white-22-9px">Contact Us</span>
							</div>
							<div class="group-65">


								<div class="site-feedback opensans-normal-white-16px">
									<span class="contact-link">
										<a href="https://livehelp.cancer.gov/">Live Chat</a>
									</span>
									<span class="contact-link">
										<a href="tel:1-800-4-CANCER">1-800-4-CANCER</a>
									</span>
									<span class="contact-link">
										<a href="mailto:NCIinfo@nih.gov">NCIinfo@nih.gov</a>
									</span>
									<span class="contact-link">
										<a class="no-exit-notification"
											href="https://nci.az1.qualtrics.com/jfe/form/SV_aeLLobt6ZeGVn5I">Site
											Feedback</a>
									</span>
								</div>
							</div>
							<div class="text0-2 text0-3 opensans-normal-white-14-2px">
								<span class="opensans-normal-white-14-2px">
									<a href="https://www.hhs.gov/" target="_blank" rel="noopener noreferrer"> U.S.
										Department of Health and Human Services </a>
									<br />
									<a href="https://www.nih.gov/" target="_blank" rel="noopener noreferrer">National
										Institutes of Health </a>
									<br />
									<a href="https://www.cancer.gov/" target="_blank" rel="noopener noreferrer">National
										Cancer Institute </a>
									<br />
									<a href="https://usa.gov/" target="_blank" rel="noopener noreferrer">USA.gov</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>