<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="footer" class="col-md-12 col-sm-12 p-0" th:fragment="footer" style="margin-top: 180px;">
        <footer class="pt-5 pb-5 text-muted text-center site-footer" style="background-color: #11314A;">
    
     <div class="col-md-12 col-sm-12">
       <div class="form-row" style="margin-left: -116px;">
        <div class="form-group col-lg-6 col-md-6 mx-auto">
        <div class="nci-wordmark"></div>
      </div>
       
    <div class="form-group col-lg-4 col-md-4 mx-auto" id="footer_subDiv" style=" ">
    <p style=" margin-right: 318px;">NIH POLICIES</p>
    <p>Disclaimer Policies  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; Accessibility  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FOIA</p>
        </div>
         </div>
    </div>
        
     <hr style="height: 2px;background-color: #344E62;"> 
        <ul class="list-inline" role="list" id="footer_items">
            <li role="listitem" class="list-inline-item">
                <a href="http://www.hhs.gov" target="_blank">U.S. Department of Health and Human Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            </li>
            <li role="listitem" class="list-inline-item">
                <a href="http://www.nih.gov" target="_blank">National Institutes of Health</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            </li>
            <li role="listitem" class="list-inline-item">
                <a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            </li>
            <li role="listitem" class="list-inline-item last">
                <a href="http://usa.gov" target="_blank">USA.gov</a>
            </li>
            <br/>
            <li>NIH… Turning Discovery Into Health<sup>®</sup>
            </li>

        </ul>
    </footer>
</div>
</body>
</html>
