 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!--DAP code-->
    <script src="//assets.adobedtm.com/6a4249cd0a2c/30a3fab3e7df/launch-1ee667035a97.min.js" async></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173457937-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173457937-1');
    </script>
    <!-- End Google Analytics -->
    <link rel="canonical" href="https://www.cancer.gov/" />
</head>
<body>
 <div id="brand" class="col-md-12 col-sm-12 pl-0 pr-0" role="navigation" th:fragment="header" aria-label="brand div">

  <!--logo image-->
    <div class="col order-first" style="margin-left:-30px;">
        <a href="#" aria-label="image link">
        <img src="images/nci_logo.png" th:src="@{/images/nci_logo.png}" class="logoImg" alt="National Cancer Institute"></a>
    </div>
    
    <nav id="nci-brand" class="navbar navbar-expand-lg navbar-dark bg-default ml-auto">
     <!--on small media collapse icon-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNav" aria-controls="globalNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<div id="globalNav" class="collapse navbar-collapse justify-content-end col order-last bordered" style="max-height:15%;">
            <div id="subNav" class="card-header" style="height:50px;">
        <ul class="nav nav-tabs card-header-tabs" id="subTab" role="tablist" style="margin-right: -59px;font-size:18px;">
            <li class="nav-item" role="tab">
                <a class="nav-link active" id="landing-tab" th:href="@{/}"role="tab"><u>Home</u></a>
            </li>
            
            
                
            <li class="nav-item" role="tab">
                <a class="nav-link" id="search-tab" th:href="@{/searchTab}" role="tab"><u>Search</u></a>
            </li>
           
           <li class="nav-item" role="tab" th:if="${loggedOnUser != null && isUploader eq true}">
                <a class="nav-link" id="upload-tab" th:href="@{/addbulk}" role="tab" ><u>Uploads</u></a>
            </li>
            
            <li class="nav-item" role="tab" th:if="${loggedOnUser != null}">
                <a class="nav-link" id="manageTasks-tab" th:href="@{/tasksTab}" role="tab"><u>Status</u></a>
            </li>
            
            
             <li class="nav-item dropdown" role="tab">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-label="Help"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <u>About</u>
                    </a>
                         <div class="dropdown-menu" style="margin-top:5px !important;background-color: #1D90FF;">
                        <a class="dropdown-item" id="about-tab" th:href="@{/aboutTab}">About MoDaC</a>
                        <a class="dropdown-item" target="_blank" href="https://wiki.nci.nih.gov/display/MoDaCdoc">User Guide</a>
                        <a class="dropdown-item" href="mailto:modac-support@mail.nih.gov?">Contact</a>
                    </div>

                </li>
 
        </ul>
    </div> 
                </div>
    <!--top right navigation-->
    <div id="topNav" class="collapse navbar-collapse justify-content-end col order-last bordered" style="max-width:34%;">
        <ul class="navbar-nav navbar-dark text-white justify-content-end" role="tablist">
                
                <li th:if= "${loggedOnUser != null}" class="nav-item dropdown" role="tab">
                    <a class="nav-link dropdown-toggle" style="color: #D06709;" href="#" role="button" aria-label="Help"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <span class="topNav-item" style="text-transform: uppercase;" th:text="${firstName}">&nbsp;
                       <i aria-hidden="true" class="fa fa-caret-down pull-right"></i></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/myaccount}" id="myaccountTab">My Account</a>
                        <a class="dropdown-item" th:href="@{/resetPassword}" id="changePswdTab">Change Password</a>
                    </div>
                </li>

                  <li class="nav-item" role="tab" th:if="${loggedOnUser == null}">
                <a class="nav-link" id="login-tab" style="color: #D06709;" th:href="@{/loginTab}" role="tab">Login</a>
              </li>
                			    	
               <li class="nav-item" th:if= "${loggedOnUser != null}" role="tab">
			    	<a class="nav-link" style="color: #D06709;" href="#" id="logout">|&nbsp;&nbsp;&nbsp;&nbsp;LOGOUT</a>
			    	</li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
