 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
 <div id="brand" class="col-md-12 col-sm-12 pl-0 pr-0" role="navigation" th:fragment="headerBulkUpload">

    <nav id="nci-brand" class="navbar navbar-expand-lg navbar-dark bg-default ml-auto">
    <!--app title-->
    <div class="col justify-content=center appnameWrapper">
        <div class="appName"><h1 style="font-size:20px">NCI DOE Data Clearing House</h1></div>
    </div>
    <!--on small media collapse icon-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--top right navigation-->
    <div id="topNav" class="collapse navbar-collapse justify-content-end col order-last bordered">
        <ul class="navbar-nav navbar-dark text-white justify-content-end">
                  
                <!--Users Guide-->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-book"></i>
                        <span class="topNav-item">User Guide</span></a>
                </li>
                
                <!--Help and contact-->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-question-circle"></i><span class="topNav-item"> Help</span>
                    </a>
                </li>
			    	
               <li class="nav-item" th:if= "${loggedOnUser != null}">
			    	<a class="nav-link" href="#" id="logout">Log Out</a>
			    	</li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>