<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <title>Model and Data Clearinghouse</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/googleapisFonts.css" th:href="@{/css/googleapisFonts.css}">
    <link rel="stylesheet" href="css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/typeaheadjs.css" th:href="@{/css/typeaheadjs.css}"/>
    <link rel="stylesheet" href="css/all.css" th:href="@{/css/all.css}"/>

    <link rel="stylesheet" href="css/select2-bootstrap4.min.css" th:href="@{/css/select2-bootstrap4.min.css}"/>
    <link rel="stylesheet" href="css/select2.min.css" th:href="@{/css/select2.min.css}"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css" th:href="@{/css/bootstrap-datepicker.min.css}"/>

    <link rel="stylesheet" href="css/I2E-template.css" th:href="@{/css/I2E-template.css}"/>
    <link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}"/>

    <!-- Datatable Scripts -->
    <link href="DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet"
          th:href="@{/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css}">
    <link href="DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          th:href="@{/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css}">
    <link href="DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css" rel="stylesheet"
          th:href="@{/DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css}">
    <link href="DataTables/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet"
          th:href="@{/DataTables/Responsive-2.2.2/css/responsive.bootstrap4.min.css}">
    <link href="css/dataTables.checkboxes.css" rel="stylesheet" th:href="@{/css/dataTables.checkboxes.css}">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <!--DAP code-->
    <script src="//assets.adobedtm.com/6a4249cd0a2c/30a3fab3e7df/launch-1ee667035a97.min.js" async></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173457937-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173457937-1');
    </script>
    <!-- End Google Analytics -->
   
</head>

<body>
<h1>Body.....</h1>
</body>
</html>
