<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="tab-pane fade show active M-4 p-4" th:fragment="landing" id="landingTab" role="tabpanel">
             <div class="row" id="landingDiv" style="">
            <input type="hidden" id="uploader" value="${isUploader}"/>
            <div class="col-md-12 buttoncontainer">
            <div class="col-md-12 subbuttoncontainer">
            <h1 style="height: 26px;color: #FFFFFF;font-family:Proxima Nova;font-size: 29px;
             line-height: 48px;text-align: center;">
             MODEL AND DATA CLEARINGHOUSE
        </h1></div>               
            </div>
           <div class="col-md-12 form-row" style="height: 239px;width: 1123px;background-color: #5C90C2;margin-top: -83px;">
            
            
            <div class="col-md-4 form-group ellipse-1 " style="text-align: center;" th:if="${loggedOnUser == null}">
             <blockquote class="blockquoteText">
              <p><a th:href="@{/loginTab}" style="color:#AF5B00;">
               Already a Member? Sign in.</a></p></blockquote>
            </div>
            
            
            <div class="col-md-4 form-group ellipse-1 " style="text-align: center;">
             <blockquote class="blockquoteText">
              <p><a th:href="@{/searchTab}" style="color:#AF5B00;">
              Search investigations, studies or data sets using any keyword.</a></p></blockquote>
            </div>
            
             
            
             <div class="col-md-4 form-group ellipse-1 " style="text-align: center;" th:if="${loggedOnUser != null}">
            
            <blockquote class="blockquoteText">
              <p><a th:href="@{/tasksTab}" style="color:#AF5B00;">
               View Status of downloads and uploads.</a></p></blockquote>
            </div>

           <div class="col-md-4 form-group ellipse-1 " style="text-align: center;" th:if="${loggedOnUser != null && isUploader eq true}">
            
            <blockquote class="blockquoteText">
              <p><a th:href="@{/addbulk}" style="color:#AF5B00;">
               Add collections and upload bulk or single files.</a></p></blockquote>
            </div>
            
            </div>
        </div>
        <hr>
        
        
    </div>
</body>
</html>
