<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="M-4 p-4 col-md-8 mx-auto" id="loginTab" role="tabpanel" th:fragment="login" style="
    max-width: 800px">
    
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="loginSubTab" style="
    background-color: #6496C6;border: 0 solid #000000;
    box-sizing: border-box;opacity: 0.96;border-radius: 11px;height: 470px;">
                 <form role="form" id="userlogin" style="width:100%;">
                        <p style="text-align: center;color: #fff;font-family: latoregular;font-size: 26px;color: #FFFFFF;">LOGIN</p>
                        <div class="clearfix errorBlockLogin" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; Padding-right: 0px; border-radius: 0px;">
                        <div class="alert alert-danger" style="background-color: #E87B05;">
                            <h6 class="errorMsgLogin" style="color:#EAF6FF"></h6>
                        </div>
                    </div>
                </div>
                        <hr>
                    <br>                 

                       <p style="text-align: center;font-size: 16px;color: #fff;">You can search publicly available data without an account.</p>
                        <div class="row row-buffer">
                           
                            <div class="col-lg-12" style="margin-left:100px;">
                                <input class="form-control input-lg loginFieldsTextBox" id="username" maxlength="50" name="username" placeholder="Email Address*" type="text">
                                <span class="TextField-floatingLabel-qefpP" style="display:none;">Email Address</span>
                            </div>
                        </div>
                        <div class="row row-buffer" style="margin-top:18px;">
                            
                            <div class="col-lg-12" style="margin-left:100px;">
                                <input autocomplete="off" class="form-control input-lg loginFieldsTextBox" id="password" maxlength="20" name="password" placeholder="Password*" type="password">
                                     <span class="TextField-floatingLabel-qefpP" style="display:none;">Password</span>
                            </div>
                        </div>
                        <div class="row row-buffer" style="margin-left: 100px;background-color: none;margin-top: 15px;">
                           <div class="col-lg-5"> <a href="javascript:void(0)" data-toggle="modal" 
                           data-target="#forgotPasswordLightbox" class="btn-link pull-right underlineLinks" 
                           style="color: black !important;">Forgot your password?</a></div>
                           <div class="col-lg-5">  <a id="register-tab" href="javascript:void(0);" class="underlineLinks" style="color:#fff!important">Register as a new user.</a></div>
                        </div>
    
                        <hr>
                        <div class="row" style="justify-content: center;">
                        
                            <div class="col-xs-3 col-sm-3 col-md-3">
                               <button class="btn btn-lg btn-success btn-block" id="loginButton" 
                               name="login" value="Sign In" style="background-color: #C6FFF4 !important;
                       color: #1C5886;font-size: 15px;border-radius: 6px;">LOGIN</button>
                            </div>
                        </div>
                        <br/>
                        
                </form>
        </div>
           <div th:replace="fragments/registration :: registration">Registration tab</div>
    </div>
</body>
</html>
