<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="M-4 p-4" id="loginTab" role="tabpanel" th:fragment="login">
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="loginSubTab">
                 <form role="form" id="userlogin" style="width:50%;">
                        <h2>Sign In</h2>
                        <div class="clearfix errorBlockLogin" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; Padding-right: 0px; border-radius: 0px;">
                        <div class="alert alert-danger">
                            <h6 class="errorMsgLogin"></h6>
                        </div>
                    </div>
                </div>
                        <hr>
                    <br>                 

                       <p style="text-align: left;font-size: 16px;color: #00579e!important;">You can search publicly available data without an account.</p>
                        <div class="row row-buffer">
                            <div class="col-lg-2">
                                <label for="username">Email Address <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-10">
                                <input class="form-control input-lg" id="username" maxlength="50" name="username" placeholder="Your Email" type="text">
                                
                            </div>
                        </div>
                        <div class="row row-buffer">
                            <div class="col-lg-2">
                                <label for="password">Password <span class="required">*</span></label>
                            </div>
                            <div class="col-lg-10">
                                <input autocomplete="off" class="form-control input-lg" id="password" maxlength="20" name="password" placeholder="Your Password" type="password">
                                
                            </div>
                        </div>
                        <div class="row" style="justify-content: flex-end;margin-right: 10px;">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#forgotPasswordLightbox" class="btn-link pull-right">Forgot your password?</a>
                        </div>
    
                        <hr>
                        <div class="row" style="justify-content: center;">
                        
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button class="btn btn-lg btn-success btn-block" id="loginButton" name="login" value="Sign In">Sign In</button>
                            </div>
                        </div>
                        <br/>
                        <div class="row" style="justify-content: center;">
                            <p style="text-align: left;font-size: 18px;font-style:italic;color: #00579e!important;">
                        <a id="register-tab" href="javascript:void(0);" style="text-decoration: underline;">Register as a new user.</a></p>
                        </div>
                </form>
        </div>
        <hr>
           <div th:replace="fragments/registration :: registration">Registration tab</div>
    </div>
</body>
</html>
