<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="tab-pane fade M-4 p-4" id="manageTasks" role="tabpanel" th:fragment="manageTasks">
         <table id="manageTasksTable" class="table table-stripped table-bordered display dt-responsive wrap"  role="grid" style="width:100%" aria-label="manage tasks result table">
                      <thead>
							<tr>
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Task Id </th>   
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Name</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Date</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Transfer Status</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Type</th>                              
                             </tr>
                        </thead>
                        <tbody>
                    </tbody>
                </table>
    </div>
</body>
</html>
