<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="M-4 p-4" id="manageTasks" role="tabpanel" th:fragment="manageTasks">
     
<div class="col-md-4 col-sm-4" style="padding-bottom: -16px;
    margin-bottom: -85px;margin-top: 46px;height: 55px;width: 445px;
    background-color: #E87B05;color: #fff;">
    <p style="font-weight: 500;font-size: 20px;color: #FFFFFF;font-family: 
    latoregular;font-size: 29px;line-height: 52px;">Task Status</p></div>
    
         <table id="manageTasksTable" class="table table-stripped table-bordered display dt-responsive wrap"  
         role="grid" style="border:none;width:100%" aria-label="manage tasks result table">
                      <thead>
							<tr>
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Task ID </th>   
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Asset Identifier</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Created On</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Completed On</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Type</th>        
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="colgroup">Transfer Status</th> 
                             </tr>
                        </thead>
                        <tbody>
                    </tbody>
                </table>
    </div>
</body>
</html>
