<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="M-4 p-4" id="manageTasks" role="tabpanel" th:fragment="manageTasks">
     
     <div class="col-md-12 col-sm-12"><h4>Task Status</h4></div>
         <table id="manageTasksTable" class="table table-stripped table-bordered display dt-responsive wrap"  role="grid" style="width:100%" aria-label="manage tasks result table">
                      <thead>
							<tr>
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Task ID </th>   
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Data Set Name</th> 
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Date</th> 
                                                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Type</th>        
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Transfer Status</th> 
                      
                             </tr>
                        </thead>
                        <tbody>
                    </tbody>
                </table>
    </div>
</body>
</html>
