<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div th:fragment="modal-dialogs">
		<div id="forgotPasswordLightbox"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false" aria-labelledby="forgotPasswordLabel">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-title" id="forgotPasswordLabel">Forgot
							Password</p>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div id="forgotPasswordContent"
						class="modal-body drilldown-content">

						<div class="clearfix forgorPswdErrorBlock" style="display: none;">
							<div class="col-md-12"
								style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
								<div class="alert alert-danger">
									<h6 aria-hidden="true" class="forgotPswdErrorMsg"></h6>
								</div>
							</div>
						</div>

						<div class="clearfix forgorPswdSuccessBlock"
							style="display: none;">
							<div class="col-md-12"
								style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
								<div class="alert alert-success">
									<h6 aria-hidden="true" class="forgotPswdSuccessMsg"></h6>
								</div>
							</div>
						</div>

						<div class="row row-buffer">
							<p id="forgotPasswordLightBoxPromptText">&nbsp;&nbsp; If you
								have already registered, use this form to request a new
								password.</p>
						</div>
						<div class="row row-buffer">
							<div class="col-sm-3">
								<label class="infoLabel" for="txtResetPswdLink">Email <span
									class="required">*</span></label>
							</div>
							<div class="col-sm-9">
								<input type="text" id="txtResetPswdLink" name="txtResetPswdLink"
									maxlength="50" class="form-control defaultFocus">
							</div>
						</div>
						<div class="row row-buffer">
							<div class="col-sm-12">
								<span class="errorMessage" id="forgotPasswordErrors"></span>
							</div>
						</div>
						<div id="forgotPassword_DialogControls" class="row row-buffer"
							style="text-align: end;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button type="button" class="btn btn-default pull-right"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary pull-right"
									id="btnSubmitPswdLink">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="updateAccessPermissionsModal"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-title">Update Access Groups</p>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="clearfix updateAccessGroupsBlock"
						style="display: none; margin-left: 10px; width: 90%;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-success">
								<h6 aria-hidden="true" class="updateAccessMsg"></h6>
							</div>
						</div>
					</div>

					<div class="clearfix errorUpdateAccessGroupsBlock"
						style="display: none; margin-left: 10px; width: 90%;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-danger">
								<h6 aria-hidden="true" class="updateErrorAccessMsg"></h6>
							</div>
						</div>
					</div>
					<input type="hidden" id="updateCollectionId" /> <input
						type="hidden" id="accessGroups" /> <input type="hidden"
						id="permissionGroups" /> <input type="hidden" id="metadata_path" />
					<input type="hidden" id="selectedCollection" />
					<input type="hidden" id="assetCurationStatus" />
					<div class="modal-body drilldown-content">
						<div class="row row-buffer" style="padding-top: 0px;">
							<label for="selectedCollectionName">Selected collection:
								<span id="selectedCollectionName"></span>
							</label> <br> <br>

						</div>
						<div class="row row-buffer" style="padding-top: 0px;">
							<label for="updateAccessGroupsList" style="padding-bottom: 0.5rem;">Access Groups
								Permissions <span id="infoTxtForAccessGroups"
								style="font-size: 14px;"></span>
							</label> <select class="simple-select2" multiple="multiple"
								id="updateAccessGroupsList" aria-labelledby="updateAccessGroupsList" name="updateAccessGroupsList"
								style="width: 70%">
							</select> &nbsp;&nbsp; <span id="publicCheckBox"> <input
								type="checkbox" id="editPublicAccess" aria-label="public access"
								value="public access"> Public
							</span>
						</div>
						<div class="row row-buffer" style="text-align: end;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button type="button" class="btn btn-default pull-right"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary pull-right"
									id="btnUpdateAccessGroup">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="updatePermissionModal"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-title">Update Permissions</p>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="clearfix updatePermissionsSuccessBlock"
						style="display: none; margin-left: 10px; width: 90%;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-success">
								<h6 aria-hidden="true" class="updatePermMsg"></h6>
							</div>
						</div>
					</div>


					<input type="hidden" id="hiddenCollectionId" />
					<div id="updatePermissionsContent" style="margin-top: -2rem;"
						class="modal-body drilldown-content">
						<div class="row row-buffer">
							<label for="updateMetaDataPermissionsList" style="padding-bottom: 0.5rem;">Specify who
								can edit the collection &nbsp; <i class="fas fa-question-circle"
								data-toggle="tooltip"
								title="Permissions to Edit Metadata and Create Subcollections"></i>
								:
							</label> <select class="simple-select2" multiple="multiple"
								id="updateMetaDataPermissionsList" aria-labelledby="updateMetaDataPermissionsList"
								name="updateMetaDataPermissionsList" style="width: 70%">
							</select>
						</div>
						<div class="row row-buffer" style="text-align: end;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button type="button" class="btn btn-default pull-right"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary pull-right"
									id="btnUpdatePermissions">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="editPredictionAccessModal"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-title">Edit Prediction Access</p>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="clearfix updatePredAccessSuccessBlock"
						style="display: none; margin-left: 10px; width: 90%;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-success">
								<h6 aria-hidden="true" class="updatePredGrpMsg"></h6>
							</div>
						</div>
					</div>


					<input type="hidden" id="predCollectionId" /> <input type="hidden"
						id="predCollectionPath" /> <input type="hidden"
						id="predAccessGroups" /> <input type="hidden" id="isPublic" />
					<div class="modal-body drilldown-content">
						<div class="row row-buffer" style="margin-top: -16px;">
							<label for="updatePredictionAccessGrpList"
								style="padding-bottom: 10px;">Prediction Access Groups:
							</label> <select class="simple-select2" multiple="multiple"
								id="updatePredictionAccessGrpList" aria-labelledby="updatePredictionAccessGrpList"
								name="updatePredictionAccessGrpList" style="width: 70%">
							</select>&nbsp;&nbsp; <span id="isPublicAccessForPredictionSpan"> <input
								type="checkbox" id="isPublicAccessForPrediction"
								aria-label="public access" value="public access"> Public
							</span>
						</div>
						<div class="row row-buffer" style="text-align: end;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button type="button" class="btn btn-default pull-right"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary pull-right"
									id="btnPredictionAccessGrp">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="createAssetModal" class="modal fade bs-example-modal-lg "
			tabindex="-1" role="dialog" aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<p class="modal-title">Select Asset Type</p>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="clearfix createAssetSuccessBlock"
						style="display: none; margin-left: 10px; width: 90%;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-success">
								<h6 aria-hidden="true" class="createAssetMsg"></h6>
							</div>
						</div>
					</div>

					<div class="modal-body drilldown-content">
						<div class="row row-buffer">
							<label for="createAssetCollectionType">Asset Type: </label> <select
								class="simple-select2" id="createAssetCollectionType" aria-labelledby="createAssetCollectionType"
								name="createAssetCollectionType" style="width: 70%">
								<option value="Dataset">Dataset</option>
								<option value="Model">Model</option>
							</select>
						</div>
						<div class="row row-buffer" style="text-align: end;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button type="button" class="btn btn-default pull-right"
									data-dismiss="modal">Close</button>
								<button class="btn btn-primary pull-right" data-dismiss="modal"
									id="btnSelectAssetType">Select</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="performInferencingModel"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content"
					style="width: 550px; border-radius: 14px;">
					<div class="modal-header"
						style="border-bottom: none; margin-left: 29px; margin-top: 10px;">
						<p class="modal-title">Generate Predictions</p>
						<button type="button" class="close" data-dismiss="modal"
							style="margin-top: -30px;" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="clearfix performInferencingError"
						style="display: none; text-align: center; margin-bottom: 10px;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-danger">
								<h6 aria-hidden="true" class="performInferMsgError"></h6>
							</div>
						</div>
					</div>

					<div class="modal-body drilldown-content"
						style="margin-top: -26px; margin-left: 0px; margin-right: 0px; overflow: hidden; padding: 0px;">
						<form class="form-horizontal" id="performInferForm" method="POST"
							style="font-family: 'inter_regular';">
							<input type="hidden" id="testInputPath" name="testInputPath" />
							<input type="hidden" id="modelPath" name="modelPath" />

							<div
								class="form-row row row-buffer col-sm-12 col-md-12 col-lg-12"
								id="displayDataTypeDiv"
								style="margin-left: 30px; margin-top: 6px; margin-bottom: -5px; display: table;">

								<select class="simple-select2"
									id="uploadFrom" aria-labelledby="uploadFrom" name="uploadFrom" style="width: 84%"
									onChange="displayPredictionSelectionDiv(this.options[this.selectedIndex]);">

								</select>

							</div>


							<div class="row row-buffer referenceDatasetSelectionDiv"
								style="justify-content: center; margin-top: 10px; display: none">
								
								<select class="simple-select2" multiple="multiple"
									id="referenceDatasetList" aria-labelledby="referenceDatasetList" name="referenceDatasetList"
									style="width: 60%; border: 2px solid #E87B05;">
								</select>
							</div>

							<div class="row row-buffer userInputDiv"
								style="margin-left: 50px; margin-top: 10px; display: none">
								<label id="labelForInputType"
									style="font-family: 'inter_regular'; font-size: 14px; font-weight: 500;">Upload
									input file to generate predictions.&nbsp;<span id="tooltipHtml"></span>
								</label> <input type="file" style="margin-top: 14px;"
									id="uploadTestInferFile" aria-labelledby="uploadTestInferFile" name="uploadTestInferFile" />
							</div>

							<div class="row row-buffer userInputDiv"
								style="margin-left: 0px; margin-top: 10px; display: none; box-sizing: border-box; background-color: #F1F1F1; padding-left: 51px; padding-bottom: 20px;">
								<label class="optionalLabel">OPTIONAL</label> <label
									class="optionalLabelInfo"> Upload outcome file to
									evaluate the model.&nbsp;<span id="outputTooltipHtml"></span>
								</label> <input type="file" style="margin-top: 14px;"
									id="uploadTestOutputFile" aria-labelledby="uploadTestOutputFile" name="uploadTestOutputFile" />
							</div>

						</form>
						<div class="row row-buffer"
							style="text-align: center; margin-top: 10px; padding-bottom: 10px;">
							<div class="col-sm-12" style="margin-bottom: 10px;">

								<button class="btn btn-primary" id="performInferencing"
									style="display: none;">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="performModelAnalysisModal"
			class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content"
					style="width: 550px; border-radius: 14px;">
					<div class="modal-header"
						style="border-bottom: none; margin-left: 32px; margin-top: 10px;">
						<p class="modal-title">Perform Model Analysis</p>
						<button type="button" class="close" data-dismiss="modal"
							style="margin-top: -30px;" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="clearfix performModelAnalysisError"
						style="display: none; margin-left: 37px; width: 90%; margin-bottom: 10px;">
						<div class="col-md-12"
							style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
							<div class="alert alert-danger">
								<h6 aria-hidden="true" class="performAnalysisMsgError"></h6>
							</div>
						</div>
					</div>

					<div class="modal-body drilldown-content"
						style="margin-top: -43px; margin-left: 49px;">
						<form class="form-horizontal" id="performModelAnalysisForm"
							style="font-family: 'inter_regular';" method="POST">
							<input type="hidden" id="testInputPath" name="testInputPath" />
							<input type="hidden" id="outputResultFilePath"
								name="outputResultFilePath" />

							<div class="row row-buffer">
								<label for="selectApplicableModelName">Applicable
									Model:&nbsp;&nbsp; <select class="simple-select2"
									multiple="multiple" id="selectApplicableModelName"
									name="selectApplicableModelName" style="width: 60%">
								</select>
								</label>
							</div>
						</form>
						<div class="row row-buffer"
							style="text-align: center; margin-top: 10px; margin-right: -6px;">
							<div class="col-sm-12" style="margin-bottom: 10px;">
								<button class="btn btn-primary" id="performModelAnalysisBtn">
									Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
