<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="M-4 p-4 mx-auto" id="myAccount" th:fragment="myaccount" style="
    width: 700px;height: 685px;margin-left: 350px;">
  
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="myAccountSubTab">
           <form role="form" id="update-profile-form" style="width: 100%;">
               <h3 style="text-align: center;font-family: latoregular;padding-top: 18px;
                   padding-bottom: 14px;font-size: 26px;color: #fff;">MY ACCOUNT</h3>
  
             <hr style="color: #214C75;">
                    <br>
                       
                        <div class="row row-buffer" style="margin-top: 10px;">
                            <div class="col-lg-4">
                              <label class="infoLabel" for="firstNameTxt">First Name <span>*</span></label>
                            </div>
                            <div class="col-lg-8">
                              <input type="text" id="firstNameTxt" name="firstNameTxt" maxlength="50" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                        
                 <div class="row row-buffer">
                            <div class="col-lg-4">
                          <label class="infoLabel" for="lastNameTxt">Last Name <span>*</span></label>
                            </div>
                            <div class="col-lg-8">
                            <input type="text" id="lastNameTxt" name="lastNameTxt" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                         <div class="row row-buffer">
                            <div class="col-lg-4">
                          <label class="infoLabel" for="institutionTxt">Institution / Organization  <span>*</span></label>
                            </div>
                            <div class="col-lg-8">
                          <input type="text" id="institutionTxt" name="institutionTxt" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                  
                   <div class="row row-buffer">
                            <div class="col-lg-4">
                             <label class="infoLabel" for="emailAddrTxt">Email Address </label>
                            </div>
                            <div class="col-lg-8">
                             <span id="emailAddrTxt" style="background-color: #A1C1DB;color: #000000;" th:text="${loggedOnUser}" 
                             class="form-control defaultFocus myaccountTextbox"></span>                       
                                
                            </div>
                        </div>
                        
                         
                   <div class="row row-buffer" style="padding-bottom: 38px;">
                            <div class="col-lg-4">
                             <label class="infoLabel" for="groupNames">Group Names </label>
                            </div>
                            <div class="col-lg-8">
                             <span id="groupNames" style="background-color: #A1C1DB;color: #000000;"
                             class="form-control defaultFocus myaccountTextbox"></span>                       
                                
                            </div>
                        </div>
    
                       <hr style="color: #214C75;">
                        <div class="row" style="justify-content: center;margin-top: 30px;">                      
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a class="btn btn-success btn-block"  th:href="@{/}" id="cancelUpdate">CANCEL</a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button class="btn btn-primary btn-block"  id="btnUpdateProfile">UPDATE</button>
                            </div>
                        </div>
                </form>
        </div>
        </div>
        <hr>

</body>
</html>
