<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="M-4 p-4 mx-auto" id="myAccount" th:fragment="myaccount" style="
    width: 700px;height: 685px;">
  
        <div class="form-row jumbotron pt-2 pb-2 mb-2" id="myAccountSubTab">
           <form role="form" id="update-profile-form" style="width: 100%;" method="POST">
               <h3 style="text-align: center;font-family: latoregular;padding-top: 18px;
                   padding-bottom: 14px;font-size: 26px;color: #fff;">MANAGE ACCOUNT</h3>
  
             <hr class="loginHr">
                        <div class="row row-buffer" style="margin-top: 10px;">
                            <div class="col-lg-3">
                              <label class="infoLabel" for="firstName">First Name <span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                              <input type="text" id="firstName" th:value="${userInfo.firstName}"  name="firstName" maxlength="50" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                        
                 <div class="row row-buffer">
                            <div class="col-lg-3">
                          <label class="infoLabel" for="lastName">Last Name <span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                            <input type="text" id="lastName" th:value="${userInfo.lastName}"  name="lastName" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                         <div class="row row-buffer">
                            <div class="col-lg-3">
                          <label class="infoLabel" for="institution">Institution / Organization  <span>*</span></label>
                            </div>
                            <div class="col-lg-9">
                          <input type="text" id="institution" th:value="${userInfo.institution}" name="institution" maxlength="20" class="form-control defaultFocus myaccountTextbox">
                                
                            </div>
                        </div>
                  
                   <div class="row row-buffer" style="padding-bottom: 38px;">
                            <div class="col-lg-3">
                             <label class="infoLabel" for="emailAddrTxt">Email Address </label>
                            </div>
                            <div class="col-lg-9">
                             <span id="emailAddrTxt" style="background-color: #A1C1DB;color: #000000;" th:text="${loggedOnUser}" 
                             class="form-control defaultFocus myaccountTextbox"></span>                       
                                
                            </div>
                        </div>
                        
                         
   
                       <hr class="loginHr">
                        <div class="row" style="justify-content: center;margin-top: 30px;">                      
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a class="btn btn-success btn-block"  th:href="@{/}" id="cancelUpdate">CANCEL</a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button class="btn btn-primary btn-block"  id="btnUpdateProfile">UPDATE</button>
                            </div>
                        </div>
                </form>
        </div>
        </div>
        <hr>

</body>
</html>
