<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="M-4 mx-auto" id="notificationFragment" th:fragment="notificationFragment">


        <div class="component-2">
            <div class="h4-inter-light-size">
                <div class="frame-32">
                    <h1 class="h4-inter-light-siz valign-text-middle">Send Release Notification</h1>
                </div>
            </div>
        </div>

        <form role="form" id="release-notification-form" class="mx-auto">
            <div class="form-row">

                <div class="form-group col-lg-12 col-md-12 col-sm-12 form_div">

                    <div class="frame-69">
                        <div class="overlap-group2">


                            <div class="clearfix errorBlock" style="display: none;">
                                <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
                                    <div class="alert alert-danger" style="text-align: center;">
                                        <h6 class="errorMsg" style="color: #FF0000"></h6>
                                    </div>
                                </div>
                            </div>


                            <div class="flex-row">
                                <div class="notification_header">
                                    <div class="notification_sub_header">Release Notification Form</div>
                                </div>
                            </div>

                            <div class="col-lg-12 row row-buffer" style="display:inline-flex;">
                                <p class="for-specific-question opensans-bold-midnight-blue-13px">
                                    Message :
                                </p>

                                <div class="col-lg-8 your-text-here inter-normal-midnight-blue-16px">
                                    <textarea id="notification_txtarea" aria-labelledby="notification_txtarea" placeholder="Your text here..." name="notification_txtarea" rows="5" class="form-control defaultFocus"></textarea>
                                </div>
                            </div>
                            
                             <div class="col-lg-12 row row-buffer" style="display:inline-flex;">
                                <p class="for-specific-question opensans-bold-midnight-blue-13px">
                                    Attach File (Optional) : 
                                </p>

                                <div class="col-lg-6 document_div inter-normal-midnight-blue-16px">
                                    <input type="file" name="releaseDoc" id="releaseDoc"/>
                                </div>
                            </div>


                            <div class="row group" style="justify-content: center;">
                                <div class="valign-text-middle">
                                    <button class="btn btn-lg btn-primary btn-block" id="sendNotificationBtn">Send Notification</button>
                                </div>
                            </div>

                            <div class="clearfix successBlock" style="display: none;">
                                <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; padding-top: 10px; border-radius: 0px;">
                                    <div class="alert">
                                        <h6 class="successMsg" id="siteFeedbackMsg" style="text-align: center;">
                                            Thank you for your inquiry. We are redirecting you to the homepage.</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
           
    </div>
    </form>

    </div>

</body>

</html>