<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<!--DAP code-->
	<script src="//assets.adobedtm.com/6a4249cd0a2c/30a3fab3e7df/launch-1ee667035a97.min.js" async></script>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173457937-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-173457937-1');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<div id="brand" class="col-md-12 col-sm-12 pl-0 pr-0" role="navigation" th:fragment="public-header"
		aria-label="brand div">
		<!--Banner-->
		<section id="banner" class="banner" aria-label="Official government website">
			<header class="banner-header">
				<div class="banner-inner">
					<div class="banner-header-text">
						An official website of the United States government
					</div>
				</div>
			</header>
		</section>
		<!--logo image-->
		<div class="col order-first logo-container">
			<a th:href="@{/}" aria-label="image link"> <img src="images/nci_modac_logo.svg"
					th:src="@{/images/nci_modac_logo.svg}" class="logoImg" alt="National Cancer Institute"></a>
		</div>

		<div th:if="${downtimeMessage!= null}" class="col-md-12"
			style="color: red; font-size: 17px; font-weight: bold; text-align: center;">
			<span th:text="${downtimeMessage}"></span>
		</div>

		<nav id="globalNav" aria-label="Primary navigation" class="nci-header-nav">
			
			<button class="d-none d-sm-block d-md-block d-lg-none col-md-10 col-sm-6 navbar-toggler mobile-nav-toggle" 
			    id="menuBtn" type="button" data-toggle="collapse"
				data-target="#mobile-navigation" aria-controls="mobile-navigation" aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="fas fa-bars toggleNavBarIcon"></i></span>
			</button>
			
			<div class="mobileNav" id="mobileNav">
			<!--on small media collapse icon-->
			<button class="d-none d-sm-block d-md-block d-lg-none col-md-10 col-sm-6 navbar-toggler mobile-nav-toggle" 
			    id="closeMenuBtn" type="button" data-toggle="collapse"
				data-target="#mobile-navigation" aria-controls="mobile-navigation" aria-expanded="false"
				aria-label="Toggle navigation">
				<span><i class="fas fa-times closeNavBarIcon"></i></span>
			</button>
			
			<ul id="mobile-navigation" class="sc-dtLLSn dpehyt mobile-navigation collapse" data-visible="false">
				<li class="sc-dkQUaI hQrVZb"><a class="landing-tab" aria-current="page" th:href="@{/}">Home</a>
				</li>
				<li class="sc-dkQUaI hQrVZb"><a class="search-tab" th:href="@{/searchTab}">Search</a></li>
				<li class="sc-dkQUaI hQrVZb" id="aboutMenuMobile">
				<a aria-expanded="true" class="sc-WZYut jLeSfx">About&nbsp;</a></li>
			</ul>
			
			<!--Sub navbar when clicked on about us -->
				<ul data-visible="true" class="sc-ikXwFM hZHGfK" id="aboutSubNav" style="display:none;">
					<li class="nci-header-mobilenav__list-node" id="backToMainMenu">
						<button class="nci-header-mobilenav__list-msg">
						<img th:src="@{/images/arrow_narbar_mobile.png}" alt="back button" /> Main Menu</button>
					</li>
					<li class="sc-dkQUaI hQrVZb" id="aboutSubMenu"><a class="aboutMobileTabNav"
							th:href="@{/aboutTab}">About
						</a></li>
					<li class="sc-dkQUaI hQrVZb hQrVZb_subTab"><a class="aboutMobileTabNav"
							th:href="@{/aboutTab}">About Us
						</a></li>
					<li class="sc-dkQUaI hQrVZb hQrVZb_subTab"><a id="api-docs" target="_blank"
							th:href="@{/swagger-ui/index.html}">API Documentation
						</a></li>
					<li class="sc-dkQUaI hQrVZb hQrVZb_subTab"><a target="_blank"
							href="https://wiki.nci.nih.gov/display/MoDaCdoc">User Guide
						</a></li>
					<li class="sc-dkQUaI hQrVZb hQrVZb_subTab"><a id="contact-tab" th:href="@{/contactUs}">Contact Us
						</a></li>
				</ul>
				</div>

			<div class="d-none d-lg-block headerinner">
				<ul class="headerprimary">
					<li class="headerprimary-item">
						<button id="home" class="usa-button headerprimary-button" aria-expanded="false"
							data-href="https://modac.cancer.gov" aria-controls="menu-829" data-menu-id="829">
							<a th:href="@{/}" role="tab">
							<span>Home</span>
					</a>
						</button>
					</li>
					<li class="headerprimary-item">
						<button id="search" class="usa-button headerprimary-button" aria-expanded="false"
							data-href="https://modac.cancer.gov" aria-controls="menu-11868" data-menu-id="11868">
							<a th:href="@{/searchTab}"
								role="tab">
							<span>Search</span>
							</a>
						</button>
					</li>
					<li class="headerprimary-item dropdown">
						<button class="btn usa-button headerprimary-button dropdown-toggle" type="button"
							id="about" data-toggle="dropdown">About
							<img class="dropdown-icon" th:src="@{/images/dropdown.svg}" alt="Frame 49" />
							<img class="dropup-icon" th:src="@{/images/dropup.svg}" alt="Frame 49" />
						</button>
						<ul class="dropdown-menu dropdown-container-new" role="menu" aria-labelledby="menu1">
							<div class="dropdown-container-block">
							<a class="dropdown-item" id="about-tab" th:href="@{/aboutTab}">About
								Us</a> <a th:if="${showApiDocs}" class="dropdown-item" id="api-docs" target="_blank"
								th:href="@{/swagger-ui/index.html}">API Documentation</a>
							<a class="dropdown-item" target="_blank" href="https://wiki.nci.nih.gov/display/MoDaCdoc"
								rel="noopener noreferrer">User
								Guide</a>
							<a class="dropdown-item" th:href="@{/contactUs}">Contact Us</a>
							</div>
						</ul>
					</li>

					<!--top right navigation-->
					<li class="headerprimary-item justify-content-end col order-last bordered">
						<div id="topNav" class="justify-content-end col order-last bordered">
							<ul class="navbar-nav card-header-tabs text-white justify-content-end flex-row" role="tablist" style="margin-top: -4px;">

								<li class="nav-item" role="tab" th:if="${loggedOnUser == null}">
									<a class="nav-link" id="login-tab" th:href="@{/loginTab}" role="tab">LOGIN
										&nbsp;|&nbsp;
										REGISTER</a>
								</li>

							</ul>
						</div>
					</li>

				</ul>


			</div>
		</nav>


	</div>
</body>

</html>