<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="form-row jumbotron pt-2 pb-2 mb-2" id="registrationTab" th:fragment="registration">
    <form role="form" id="register-form" autocomplete="off"  style="width: 100%;color:#fff">
                            <p style="text-align: center;font-family: latoregular;padding-top: 18px;
    padding-bottom: 14px;font-size: 26px;color: #FFFFFF;">CREATE AN ACCOUNT</p>
         <div class="clearfix errorBlockRegister" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;
                     border-radius: 0px;">
                        <div class="alert alert-danger" style="background-color: #E87B05;text-align: center;">
                            <h6 class="errorMsgRegister" style="color:#EAF6FF"></h6>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix successBlockRegister" style="display: none;">
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; 
                    border-radius: 0px;">
                        <div class="alert alert-success" style="text-align: center;">
                            <h6 class="successMsgRegister"></h6>
                        </div>
                    </div>
                </div>
       <hr class="loginHr">
       
            <div class="row row-buffer">
                <div class="col-lg-6">
                     <input class="form-control loginFieldsTextBox" style="width:100%;" placeholder="First Name*" id="id_first_name" maxlength="50" name="id_first_name" type="text">
                         <span class="TextField-floatingLabel-qefpP" style="display:none;">First Name</span>
                </div>
                <div class="col-lg-6">
                    <input class="form-control loginFieldsTextBox" style="width:100%;" placeholder="Last Name*" id="id_last_name" maxlength="50" name="id_last_name" type="text">
                        <span class="TextField-floatingLabel-qefpP" style="display:none;">Last Name</span>
                </div>
            </div>
            <div class="row row-buffer" style="margin-top:16px;">
                <div class="col-lg-12">
                    <input class="form-control loginFieldsTextBox" style="width:100%;" placeholder="Institution/Organization*" autocomplete="off" id="id_institution" maxlength="80" name="id_institution" type="text">
                        <span class="TextField-floatingLabel-qefpP" style="display:none;">Institution / Organization </span>
                </div>
            </div>
            <div class="row row-buffer" style="margin-top:16px;">
                <div class="col-lg-12">
                    <input class="form-control loginFieldsTextBox" style="width:100%;" placeholder="Email Address*" autocomplete="off" id="id_user_email" maxlength="80" name="id_user_email" type="text">
                        <span class="TextField-floatingLabel-qefpP" style="display:none;">Email Address</span>
                </div>
            </div>
            <div class="row row-buffer" style="margin-top:16px;">
                <div class="col-lg-6">
                     <input autocomplete="off" placeholder="Password*" style="width:100%;" class="form-control loginFieldsTextBox" id="id_password" maxlength="20" name="id_password" type="password">
                         <span class="TextField-floatingLabel-qefpP" style="display:none;">Password</span>
                </div>
                <div class="col-lg-6">
                    <input autocomplete="off" placeholder="Confirm password*" style="width:100%;" class="form-control loginFieldsTextBox" id="id_password_confirm" maxlength="20" name="id_password_confirm" type="password">
                        <span class="TextField-floatingLabel-qefpP" style="display:none;">Confirm Password</span>
                </div>
            </div>
            
             <div class="row row-buffer" style="height:15%;margin-top: 20px;margin-left: 10px;">
                <div class="col-lg-12">
                <span style="font-family:'inter_regular';font-size: 13px;">Password must contain:</span>
                  <div id="demo" style="max-height: 38%;font-size: 13px;font-family: 'inter_regular';">
                <ul>
              <li>8-14 characters.</li>
              <li>At least 1 capital letter.</li>
             <li>At least 1 lowercase letter.</li>
             <li>At least 1 numeric character.</li>
             <li>At least 1 allowed special character (!@#$%^&*()_+|~-=`{}[]:";'&lt;&gt;?,./).</li>  
                </ul>
                
                  </div>
                 </div>
            </div>
      
       <hr class="loginHr">
        
        <div class="row" style="justify-content: center;padding-top: 5px;">
            
             <div class="col-xs-6 col-sm-6 col-md-6 pull-right">    
                <button class=" btn btn-primary btn-block pull-right" id="btnRegister">REGISTER</button>
            </div>            
        </div>
        
        <div class="row" style="justify-content: center;margin-left: 60px;margin-top:25px;">
            <div class="col-xs-6 col-sm-6 col-md-6">
               <a id="returnToLoginForm" class="underlineLinks" href="javascript:void(0);">Log in if you already have an account.</a> 
            </div>
        </div>

    </form>
</div>
</body>
</html>
