<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="M-4 p-4" id="searchTab" role="tabpanel" th:fragment="search">
      <div id="searchFragmentDiv">
        <form id="referral-search-params">
            <div class="form-row  pt-2 pb-2 mb-2">
                <div id="searchCollapse" class="col-md-12 col-sm-12 collapse show">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-lg-6 col-md-8 mx-auto" style="float: right;margin-top: 33px;">
                                <input type="hidden" th:value="${dmeDataId}" id="dmeDataId"/>
                                <input type="hidden" th:value="${doi}" id="doi"/>
                                 <input type="hidden" th:value="${searchQuery}" id="searchQuery"/>
                                 <input type="hidden" th:value="${returnToSearch}" id="returnToSearch"/>
                                 <input type="text" placeholder="Search MoDaC" style="height: 112%;
                                  margin-top:10px;border: 2px solid #E87B05;border-radius: 
                                  26px;float: right;" id="attributeVal" class="form-control">
                                
                                 <span id="resetBtn" data-toggle="tooltip" title="Reset" 
                                  style="position: absolute;top: 25px;
                                  right: 90px;height: 16px;"><img src="/images/cancel-X-grey.svg" style="width:20px;"/></span>
                            
                                 <span data-toggle="tooltip" title="Search" style="position: absolute;top: 20px;
                                  right: 25px;height: 29px;width: 57px;font-size: 18px;background-color: #E87B05;border-radius: 13px;
                                  text-align: center;" id="searchBtn">
                                 <img src="/images/arrow-white-large.svg" style="width: 29px;"></span>
                                 <br>
                            </div>
                           </div> 
                       <div class="form-row">   
                       <div class="form-group col-lg-2 col-md-8" style="margin-left:-35px;margin-right:35px;">   
                       <h5>Filter Results By:</h5>                   
                                  <div class="col-lg-12 col-md-12" th:each="list : ${browseList}" 
                                   style="height: 120px;overflow: auto;margin-bottom:10px;">
                                     <label th:text="${list.key}" class="attrName" style="margin-bottom:10px;"></label>
                                  
                                     <div class="form-group col-lg-12 col-md-12 filterGroupDiv" th:id="${list.key}" th:each="attr : ${list.value}">
                                     <input type="checkbox" class="filteritem" th:value="${attr}"/>&nbsp;
                                     <span th:text="${attr}"></span>
                                     </div>
                                </div>                           
                            </div>  
                          
                         <div class="form-group col-md-10 col-sm-12 mb-4" id="searchResultsDiv" 
            style="display:none;margin-top:40px;background-color: #ecf4fb;">                          
                <!-- search results -->
                <div th:replace="fragments/search_results :: search_results"></div>
            </div>
                   </div>
                </div>                   
              </div>
            
                       
           
            </div>
        </form>
        </div>

         <div th:replace="fragments/editCollectionFragment :: editCollectionFragment"></div>
         </div>
</body>
</html>
