<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="M-4 p-4" id="searchTab" role="tabpanel" th:fragment="search">
      <div id="searchFragmentDiv">
        <form id="referral-search-params">
            <div class="form-row  pt-2 pb-2 mb-2">
                <div id="searchCollapse" class="col-md-12 col-sm-12 collapse show">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-lg-8 col-md-8" style="float: right;margin-top: -8px;margin-left: 150px;">
                                <input type="hidden" th:value="${dmeDataId}" id="dmeDataId"/>
                                <input type="hidden" th:value="${doi}" id="doi"/>
                                 <input type="hidden" th:value="${searchQuery}" id="searchQuery"/>
                                 <input type="hidden" th:value="${returnToSearch}" id="returnToSearch"/>
                                 <input type="text" placeholder="Search MoDaC" style="height: 120%;
                                  margin-top:10px;border: 2px solid #E87B05;border-radius: 
                                  26px;float: right;" id="attributeVal" class="form-control">
                                
                                 <span id="resetBtn" data-toggle="tooltip" title="Reset" 
                                  style="position: absolute;top: 25px;
                                  right: 98px;height: 16px;"><img src="/images/cancel-X-grey.svg" style="width:20px;"/></span>
                            
                                 <span data-toggle="tooltip" title="Search" style="position: absolute;top: 20px;
                                  right: 24px;height: 33px;width: 58px;font-size: 18px;background-color: #E87B05;border-radius: 16px;
                                  text-align: center;" id="searchBtn">
                                 <img src="/images/arrow-white-large.svg" style="width: 29px;"></span>
                                 <br>
                            </div>
                           </div> 
                       <div class="form-row">   
                       <div class="form-group col-lg-3 col-md-8" style="margin-left:-35px;margin-right:35px;margin-top:41px;
                       overflow: auto;height: 515px;background-color: #C6D9EC;overflow-x: hidden;">    
                       <div style="background-color: #3a73b9;margin-bottom: 10px;margin-left: -10px;height: 42px;width: 105%;">
                         <p style="color: #fff;
                              font-weight: bolder;
                              font-family: 'latoregular';
                              font-size: 18px;
                              margin-left: 15px;
                              padding-top: 5px;float:left;">Filters: </p>
                              
                              <input type="button" value="CLEAR ALL" id="clearFilters" class="btn btn-sm" style="float: right;margin-right: 16px;
                                 background-color: #FFFFFF;margin-top: 8px;
                                  border-radius: 15px;font-family: 'inter_regular';width:70px;font-size: 9px;font-weight: bold;color: #000;">
                       </div>                    
                           <div th:each="list : ${browseList}" class="filterComponentDiv"
                                   style="border-radius: 12px;border: 1px solid #fff;margin-bottom: 13px;background-color: #fff;margin-left: 10px;margin-right: 3px;">
                              <p style="background-color: #E87B05;border-radius: 5px;color: #fff;
                                 margin-bottom: 6px;width: 101%;margin-left: -1px;margin-top: -1px;border-radius: 3px;
                                 font-size: 19px;" class="attributeLabel">
                              <label class="attrName" th:text="${list.key}" style="color: #fff;margin-bottom: 5px;
                              margin-top: -8px;margin-left: 10px;
                                     	font-size: 17px;width: 65%;font-family: 'latoregular';"></label>
                                     	<img src="images/AccordionDown.svg" class="dataTargetCollapse"
                                     	th:src="@{/images/AccordionDown.svg}" style="width:11px;float: left;
                                         margin-top: 12px;margin-left: 10px;"/>
                                         <img src="images/Search.svg" class="searchCheckBoxlist"
                                     	th:src="@{/images/Search.svg}" style="width:18px;font-size: 15px;float: right;margin-right: 12px;
                                          margin-top: 8px;"/>
                                         
                                         </p>
                               <input type="text" class="filterSearchBox" placeholder="Search..." style="width: 96%;border-radius: 4px;
                               border: 2px solid #A7A7A7;
                                font-size: 14px;height: 2.1rem;padding: 6px 12px;margin-bottom: 15px;display:none;">
                                          
                               <div class="dataDivCollapse"
                               style="height: 115px;overflow: auto;margin-left: -5px;font-family: 'latoregular';">
                                     <div class="form-group col-lg-12 col-md-12 filterGroupDiv" th:id="${list.key}" th:each="attr : ${list.value}">
                                     <input type="checkbox" class="filteritem" th:value="${attr}"/>&nbsp;
                                     <span th:text="${attr}" style="margin-left: 3px;"></span>
                                     </div>
                               </div>
                           </div>                           
                            </div>  
                          
                         <div class="form-group col-md-9 col-sm-12 mb-4" id="searchResultsDiv" 
            style="display:none;margin-top:40px;background-color: #C6D9EC;">                          
                <!-- search results -->
                <div th:replace="fragments/search_results :: search_results"></div>
            </div>
                   </div>
                </div>                   
              </div>
            
                       
           
            </div>
        </form>
        </div>

         <div th:replace="fragments/editCollectionFragment :: editCollectionFragment"></div>
         </div>
</body>
</html>
