<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div id="searchTab" role="tabpanel" th:fragment="search">
		<div id="searchFragmentDiv" class="col-md-12 col-sm-12">
			<div class="form-row">
				<input type="hidden" th:value="${dmeDataId}" id="dmeDataId" /> <input
					type="hidden" th:value="${doi}" id="doi" /> <input type="hidden"
					th:value="${searchQuery}" id="searchQuery" /> <input type="hidden"
					th:value="${returnToSearch}" id="returnToSearch" /> <input
					type="hidden" id="returnToSearchMyCollection" value="false" /> <input
					type="hidden" id="showModelAnalysisResults" value="false" /> <input
					type="hidden" id="keyWord" th:value="${keyWord}" />


				<div class="form-group col-lg-12 col-md-12" id="keyworkSearchDiv">

					<h1 class="search_title">
                     <span>MoDaC</span>
					</h1>
					<input type="text" placeholder="Search MoDaC" id="attributeVal"
						aria-labelledby="attributeVal" class="form-control keywordSearch">
					<span id="resetBtn" data-toggle="tooltip" title="Reset"
						style="display: none;"><img alt="cancel icon"
						src="/images/cancel-X-grey.svg" style="width: 14px;" /></span> <span
						data-toggle="tooltip" title="Search" id="searchBtn"> <img
						src="/images/search_icon.svg" alt="search Icon"></span>
					<br>
				</div>
				<div class="form-group col-lg-12 col-md-12"
					id="mobileKeyworkSearchDiv" style="display: none;">
					<input type="text" placeholder="Search MoDaC" id="attributeVal"
						aria-labelledby="attributeVal" class="form-control keywordSearch">
					<span id="resetBtnMobile" style="display: none;"
						data-toggle="tooltip" title="Reset"><img alt="cancel icon"
						src="/images/cancel-X-grey.svg" style="width: 25px;" /></span> <span
						id="searchMobileBtn"> <img
						src="/images/arrow-white-large.svg" alt="search Icon"
						style="width: 18px;"> <span>SUBMIT</span>
					</span>
				</div>
			</div>
			<div class="form-row" id="searchSubSectionDiv">
				<div class="form-group col-lg-3 col-md-8" id="filterSectionDiv">
					<div id="filterSectionSubDiv">
						<p>Search Filter</p>
																				
							<span id="clearFilters" data-toggle="tooltip" title="Clear filters"><img alt="clear Icon"
							src="/images/side-bar-reset.png"></span>
							
							<span id="expand_collapse_filters" data-toggle="tooltip" title="Collapse all filters"/>
								<img  src="/images/collapse_filters.png" aria-hidden="true"></span>
								
								
					</div>
					
					<div id="mobileFiltersSection" style="display: none;">
						<span id="cancelFiltersMobile"><img alt="reset icon"
							src="/images/Filter.Cancel.svg" /></span> <span
							id="searchFiltersMobilebtn"> <img alt="arrow Icon"
							src="/images/Filter.Right_Arrow.Submit.svg"></span>
					</div>


					<div th:each="list : ${browseList}" class="filterComponentDiv">
						<p class="attributeLabel">
							<label class="attrName inter-bold-tuna-19px" th:text="${list.attributeName}"></label> <img
								src="images/AccordionDown.png" class="dataTargetCollapse"
								alt="accordian Icon" th:src="@{/images/AccordionDown.png}"
								style="width: 12px; float: left; margin-top: 15px; margin-left: 30px;" />

							<img alt="search checkbox Icon"
								th:if="${list.attributeName != 'Asset Type' && list.attributeName != 'Is Reference Dataset' && 
								 list.attributeName != 'Is Model Deployed'}"
								src="images/Filter.Magnifying.Icon.png"
								class="searchCheckBoxlist" data-toggle="tooltip" title="Search for filter"
								th:src="@{/images/Filter.Magnifying.Icon.png}"/>
						</p>
                   <div class="search_filter_div" th:if="${list.attributeName != 'Asset Type' && list.attributeName != 'Is Reference Dataset' &&
                                list.attributeName != 'Is Model Deployed'}">
						<input type="text"						
							class="filterSearchBox" th:placeholder="'Search ' + ${list.attributeName}">
							
							<img alt="cancel Icon" class="cancel_fiter_icon"
							src="/images/cancel_search_filter_icon.png">
					</div>
  					
						<div class="dataDivCollapse">
							<div class="form-group col-lg-12 col-md-12 filterGroupDiv"
								th:id="${list.attributeName}" th:each="attr: ${list.attrValues}">

								<input type="hidden" th:value="${attrStat.index}" /> <input
									type="hidden" class="filterSize" th:value="${attrStat.size}" />
								<label class="showMorefields"> <input type="checkbox"
									class="filteritem" th:value="${attr}" />&nbsp;&nbsp;
									<div th:text="${attr}" class="inter-medium-wedgewood-16px"
										style="margin-left: 25px; margin-top: -21px;letter-spacing: 0.16px;"></div>
										
									<span class="asset_type_count" th:if="${list.attributeName == 'Asset Type' && attr == 'Dataset'}" 
										th:text="${list.datasetCount}"></span>
									<span class="asset_type_count" th:if="${list.attributeName == 'Asset Type' && attr == 'Model'}"
										 th:text="${list.modelCount}"></span>
									<span class="asset_type_count" th:if="${list.attributeName == 'Is Reference Dataset' && attr == 'Yes'}" 
										th:text="${list.referenceDatasetCount}"></span>
									<span class="asset_type_count" th:if="${list.attributeName == 'Is Reference Dataset' && attr == 'No'}"
										 th:text="${list.nonReferenceDatasetCount}"></span>
									<span class="asset_type_count" th:if="${list.attributeName == 'Is Model Deployed' && attr == 'Yes'}" 
										th:text="${list.modelDeployedCount}"></span>
									<span class="asset_type_count" th:if="${list.attributeName == 'Is Model Deployed' && attr == 'No'}"
										 th:text="${list.modelNotDeployedCount}"></span>
									 
									<img alt="line Icon" src="/images/line.png">
								</label>
								
							</div>

						</div>
						<div class="css-17rpx5x col-lg-12 col-md-12">
							<a href="javascript:void();" aria-label="show more"
								class="showMore"></a>
						</div>
						<div class="css-17rpx5xLess col-lg-12 col-md-12"
							style="display: none;">
							<a href="javascript:void();" aria-label="Less" class="showLess">Less
								..</a>
						</div>
					</div>
				</div>
							
				<div class="form-group col-md-9 col-sm-12 mb-4"
					id="searchResultsDiv"
					<!-- search results -->
					<div th:replace="fragments/search_results :: search_results"></div>
				</div>

				<div class="form-group col-md-12 col-sm-12 mb-4"
					id="searchResultsMobileDiv" style="display: none;">

					<div class="col-lg-12 col-md-12 col-sm-12 float-right">
						<div class="controls controls-row mt-4"
							style="margin-left: 2.2rem;">
							<a id="backtoFiltersMobilebtn"><img
								src="images/Search.Back_Arrow_Mobile.svg"
								th:src="@{/images/Search.Back_Arrow_Mobile.svg}"
								style="width: 55px; height: 31px;" alt="back to search">
								&nbsp;&nbsp;<span id="backMobileFilter">Back to Search
									Filters</span></a>
						</div>
					</div>
					<!-- search results -->
					<div
						th:replace="fragments/search_results_mobile :: search_results_mobile"></div>
				</div>
			</div>


		</div>

		<div
			th:replace="fragments/editCollectionFragment :: editCollectionFragment"></div>
	</div>
</body>
</html>
