<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div id="uploadTab" role="tabpanel"
		th:fragment="uploadFragment" style="max-width: 1440px; margin: 0 auto;">
		<div class="col-md-4 col-sm-4" id="uploadHeader">
			<p >Upload
				Data</p>
		</div>

		<div id="uploadSectionDiv" class="form-row jumbotron pt-2 pb-2 mb-2">
			<div class="form-row col-md-12 col-sm-12" id="uploadSubFragmentTab">

				<input type="hidden" th:value="${basePathSelected}" id="basePath" />
				<input type="hidden" th:value="${datafilePath}" id="datafilePath" />
				<input type="hidden" th:value="${institutePath}" id="institutePath" />
				<input type="hidden" th:value="${uploadPath}" id="uploadPath" /> <input
					type="hidden" th:value="${studyPath}" id="studyPath" /> <input
					type="hidden" id="uploadAsyncType" th:value="${uploadAsyncType}" />
				<input type="hidden" id="assetPermissions" /> <input type="hidden"
					th:value="${bulkUploadCollection}" id="bulkUploadCollection" /> <input
					type="hidden" id="showUploadDataFilesTab"
					th:value="${authorized != null or endpoint_id != null or authorizedGC != null}" />

				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<div
							class="form-row jumbotron pt-2 pb-2 mb-2 col-lg-10 col-md-10 registerDiv">
							<div class="form-group col-lg-4 col-md-4"
								style="margin-left: 70px;">
								<div class="pull-left" style="margin-left: 15px">
									<label class="uploadLabels radio-inline"><input
										type="radio" name="selectProgram" class="registeRadioButtons"
										onclick="createCollectionDiv('basePath')"
										value="Register Program">&nbsp;&nbsp; Register Program</label>
								</div>
							</div>
							&nbsp;&nbsp;

							<div class="form-group col-lg-6 col-md-6">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectProgram" class="uploadLabels radio-inline"><input
										type="radio" name="selectProgram" class="registeRadioButtons"
										onclick="showSelect('Program')" value="Select Program">&nbsp;&nbsp;
										Select Program</label>
								</div>
								<div id="showSelectProgramDiv">
									<select class="simple-select2" id="instituteList"
										name="instituteList" style="width: 100%"
										onchange="retrieveCollections('instituteList', this.options[this.selectedIndex],'onChange');">
									</select>

									<div class="col-md-2 col-lg-2 col-sm-2"></div>
									<div style="padding-top: 10px;">
										<a href="#" style="display: none;"
											class="addDeleteUploadLabels" id="deleteProgram"
											onclick="functionDelete('instituteList','Program')"> <img
											src="images/Uploads.delete.png"
											th:src="@{/images/Uploads.delete.png}" class="uploadslogo"
											alt="delete"> Delete Program
										</a> &nbsp;&nbsp; <a href="#" style="display: none;"
											class="addDeleteUploadLabels" id="editProgram"
											onclick="functionEditCollection('instituteList','Program')"> <img
											src="images/Search_EditMetaData.svg"
											th:src="@{/images/Search_EditMetaData.svg}"
											class="uploadslogo" alt="delete"> Edit Program
										</a>

									</div>
								</div>
							</div>

						</div>
						<div
							class="form-row jumbotron pt-2 pb-2 mb-2 col-lg-10 col-md-10 registerDiv"
							id="studyListDiv" style="display: none;">

							<div class="form-group col-lg-4 col-md-4"
								style="margin-left: 70px;">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectStudy" class="uploadLabels radio-inline"><input
										type="radio" name="selectStudy" class="registeRadioButtons"
										onclick="createCollectionDiv('instituteList')"
										value="Register Study">&nbsp;&nbsp; Register Study</label>
								</div>
							</div>
							&nbsp;&nbsp;

							<div class="form-group col-lg-6 col-md-6">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectStudy" class="uploadLabels radio-inline"><input
										type="radio" name="selectStudy" class="registeRadioButtons"
										onclick="showSelect('Study')" value="Select Study">&nbsp;&nbsp;
										Select Study</label>
								</div>
								<div id="showSelectStudyDiv">
									<select class="simple-select2" id="studyList" aria-labelledby="studyList" name="studyList"
										style="width: 100%"
										onchange="retrieveCollections('studyList', this.options[this.selectedIndex],'onChange');">
									</select>


									<div style="padding-top: 10px;">
										<a href="#" style="display: none;" id="deleteStudy"
											class="addDeleteUploadLabels"
											onclick="functionDelete('studyList','Study')"> <img
											src="images/Uploads.delete.png"
											th:src="@{/images/Uploads.delete.png}" class="uploadslogo"
											alt="delete"> Delete Study
										</a>&nbsp;&nbsp; <a href="#" style="display: none;"
											class="addDeleteUploadLabels" id="editStudy"
											onclick="functionEditCollection('studyList','Study')"> <img
											src="images/Search_EditMetaData.svg"
											th:src="@{/images/Search_EditMetaData.svg}"
											class="uploadslogo" alt="delete"> Edit Study
										</a>

									</div>
								</div>
							</div>

						</div>

						<div
							class="form-row jumbotron pt-2 pb-2 mb-2 col-lg-10 col-md-10 registerDiv"
							id="dataSetListDiv" style="display: none;">

							<div class="form-group col-lg-4 col-md-4"
								style="margin-left: 70px;">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectAsset" class="uploadLabels radio-inline"><input
										type="radio" name="selectAsset" class="registeRadioButtons"
										onclick="showSelect('subAsset')" value="Register Asset">&nbsp;&nbsp;
										Register Asset</label>
								</div>
								<div id="showSubAssetSelectionDiv"
									style="display: none; margin-left: 23px;">

									<div class="form-group col-lg-12 col-md-12">
										<label for="assetSelection" class="uploadSubLabels radio-inline"><input
											type="radio" name="assetSelection" data-toggle="modal"
											data-target="#createAssetModal" data-backdrop="static"
											data-keyboard="false" value="Register Empty Asset">&nbsp;&nbsp;
											Register Empty Asset</label>
									</div>
									<div class="form-group col-lg-12 col-md-12">
										<label for="addAsets" class="uploadSubLabels radio-inline"
											style="margin-top: -10px;"><input type="radio"
											name="assetSelection" data-toggle="collapse"
											data-target="#assetUploadDiv" id="addAsets"
											value="Register Asset">&nbsp;&nbsp; Upload Asset(s)
											from Globus Endpoint</label>

									</div>
								</div>
							</div>
							&nbsp;&nbsp;

							<div class="form-group col-lg-6 col-md-6">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectAsset" class="uploadLabels radio-inline"><input
										type="radio" name="selectAsset" class="registeRadioButtons"
										onclick="showSelect('Asset')" value="Select Asset">&nbsp;&nbsp;
										Select Asset</label>
								</div>
								<div id="showSelectAssetDiv">
									<select class="simple-select2" id="dataList" aria-labelledby="dataList" name="dataList"
										style="width: 100%"
										onchange="retrieveCollections('dataList', this.options[this.selectedIndex],'onChange');">
									</select>
									<div style="padding-top: 10px;">
										<a href="#" style="display: none;"
											class="addDeleteUploadLabels" id="deleteDataSet"
											onclick="functionDelete('dataList','Asset')"> <img
											src="images/Uploads.delete.png"
											th:src="@{/images/Uploads.delete.png}" class="uploadslogo"
											alt="delete"> Delete Asset
										</a> &nbsp;&nbsp;<a href="#" style="display: none;"
											class="addDeleteUploadLabels" id="editAsset"
											onclick="functionEditCollection('dataList','Asset')"> <img
											src="images/Search_EditMetaData.svg"
											th:src="@{/images/Search_EditMetaData.svg}"
											class="uploadslogo" alt="delete"> Edit Asset
										</a>
									</div>
								</div>
							</div>
							<div class="form-row pt-2 pb-2 mb-2 col-lg-12 col-md-12 collapse"
								id="assetUploadDiv">
								<form class="form-horizontal" id="registerBulkAssetForm"
									enctype="multipart/form-data" method="POST"
									style="width: 100%;">

									<div class="form-row" style="margin-left: 100px;">
										<div class="form-group col-lg-12 col-md-12">

											<div class="form-group col-lg-12 col-md-12"
												style="margin-top: -3px">

												<button type="button" class="btn btn-md btn-link"
													id="assetSelectionGlobusButton">
													Select Assets from <img
														src="images/Uploads-Globus.icon.png"
														th:src="@{/images/Uploads-Globus.icon.png}"
														style="width: 20px;" alt="globus"> Globus Endpoint
												</button>
												<br />
											</div>

											<div class="col-md-12 col-sm-12" id="globusDetailsDiv"
												style="margin-left: 3px; margin-top: 21px;">
												<div class="form-row"
													th:if="${bulkUploadCollection !=null and endpoint_id != null}">
													<div
														class="form-group col-lg-4 col-md-4 assetBulkGlobusLabels">
														<span class="assetGlobusSelectionFields">GLOBUS
															ENDPOINT ID </span>
													</div>
													<div
														class="form-group col-lg-6 col-md-6 assetBulkGlobusValues">
														<span id="assetGlobusEndpointId" th:text="${endpoint_id}"
															style="font-weight: normal; padding-left: 10px;"></span>
													</div>
												</div>

												<div class="form-row" style="margin-top: -6px;"
													th:if="${bulkUploadCollection !=null and endpoint_path != null}">
													<div
														class="form-group col-lg-4 col-md-4 assetBulkGlobusLabels">
														<span class="assetGlobusSelectionFields">GLOBUS
															ENDPOINT PATH </span>
													</div>
													<div
														class="form-group col-lg-6 col-md-6 assetBulkGlobusValues">
														<span id="assetGlobusEndpointPath"
															th:text="${endpoint_path}"
															style="font-weight: normal; padding-left: 10px;"></span>
													</div>
												</div>

												<div class="form-row" style="margin-top: -6px;"
													th:if="${bulkUploadCollection!=null and fileNames != null}">
													<div
														class="form-group col-lg-4 col-md-4 assetBulkGlobusLabels">
														<span class="assetGlobusSelectionFields">SELECTED
															FILES</span>
													</div>
													<div
														class="form-group col-lg-6 col-md-6 assetBulkGlobusValues"
														id="assetSelectedFiles">
														<ul>
															<li th:each="fileName:${fileNames}" th:text="${fileName}"></li>
														</ul>
														<input th:if="${fileIds != null}" type="hidden"
															name="fileIds" th:value="${fileId}"
															th:each="fileId : ${fileIds}" />
													</div>
												</div>


												<div class="form-row" style="margin-top: -6px;"
													th:if="${bulkUploadCollection !=null and folderNames != null}">
													<div
														class="form-group col-lg-4 col-md-4 assetBulkGlobusLabels">
														<span class="assetGlobusSelectionFields">SELECTED
															FOLDERS</span>
													</div>
													<div
														class="form-group col-lg-6 col-md-6 assetBulkGlobusValues"
														id="assetSelectedFolders">
														<ul>
															<li th:each="folderName:${folderNames}"
																th:text="${folderName}"></li>
														</ul>
														<input th:if="${folderIds != null}" type="hidden"
															name="folderIds" th:value="${folderId}"
															th:each="folderId : ${folderIds}" />
													</div>
												</div>

												<div class="form-row" style="margin-top: -6px;"
													th:if="${bulkUploadCollection !=null and endpoint_id != null}">
													<div
														class="form-group col-lg-4 col-md-4 assetBulkGlobusLabels">
														<span class="assetGlobusSelectionFields">INCLUDE
															CRITERIA&nbsp; <i class="fas fa-question-circle"
															data-toggle="tooltip" data-placement="right"
															title="Add list of include patterns to match source files in the selected folders. "></i>
														</span>
													</div>
													<div
														class="form-group col-lg-6 col-md-6 assetBulkGlobusValues"
														style="background-color: #fff;">
														<input type="text" name="includeCriteria"
															placeholder="Enter criteria" id="includeCriteria"
															style="width: 100%; border: none; background-color: transparent; padding-left: 10px;">
													</div>
												</div>
											</div>
											<div class="form-row col-md-12 col-sm-12"
												th:if="${bulkUploadCollection != null and endpoint_id != null}"
												style="margin-left: 5px; margin-top: 10px;">
												<label
													style="color: #C06400; font-family: 'inter_regular'; font-size: 15px; font-weight: 500;">
													Do you want to upload bulk metadata file:</label>
												<div class="form-group">
													<div class="pull-left">
														<label class="uploadAssetLabels radio-inline"><input
															type="radio" name="assetUploadType"
															class="assetBulkRadioButtons"
															onchange="displayAssetTpeSelection('Yes')" value="Yes">
															&nbsp;Yes</label>
													</div>
												</div>
												&nbsp;&nbsp;&nbsp;&nbsp;
												<div class="form-group">
													<div class="pull-left" style="margin-left: 15px">
														<label class="uploadAssetLabels radio-inline"> <input
															type="radio" name="assetUploadType"
															class="assetBulkRadioButtons"
															onchange="displayAssetTpeSelection('No')" value="No">&nbsp;No
														</label>
													</div>
												</div>
											</div>
											<div class="form-row col-md-12 col-sm-12" id="uploadCsvFile"
												style="display: none; margin-left: 7px; margin-bottom: 10px;">
												<label> <input type="file" name="doeMetadataFile"
													id="doeMetadataFile"
													accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
					  application/vnd.ms-excel,.xls, .xlsx" /></label>
											</div>
											<div class="form-row col-md-12 col-sm-12"
												id="formAssetSelection" style="display: none;">
												<div class="form-group col-md-6 col-sm-6">
													<label
														style="color: #C06400; font-family: 'inter_regular'; font-size: 15px; font-weight: 500;">Asset
														Type: <select class="simple-select2" id="assetTypeSelect"
														name="assetType"
														style="border: 2px solid #E87B05; color: #C06400; width: 40%"
														onChange="retrieveAssetTypeDiv(this.options[this.selectedIndex])">
															<option value="Select">Select</option>
															<option value="Dataset">Dataset</option>
															<option value="Model">Model</option>
													</select>
													</label>
												</div>
												<div class="form-group col-md-12 col-sm-12"
													id="addMetadataDiv" style="display: none;">
													<input type="hidden" name="collection_type" value="Asset" />
													<div class="col-md-3 col-sm-3 addUserMetadaDiv">
														<button id="addUserMetadataForBulkAssets" type="button"
															class="btn btn-primary mb-2 mr-2"
															onclick="addNewMetaDataCollection('assetBulkMetadataTable')">Add
															Metadata</button>
													</div>

													<table id="assetBulkMetadataTable"
														class="table display dt-responsive wrap"
														style="width: 85%; border: none; border-collapse: separate; border-spacing: 0 1px;">
														<thead>
															<tr>
																<th aria-sort="none" class="sortable" data-sort="text"
																	role="columnheader" scope="col">ATTRIBUTE</th>
																<th aria-sort="none" class="sortable" data-sort="text"
																	role="columnheader" scope="col">VALUE</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="form-group col-lg-8 col-md-8"
												style="margin-top: -4px; margin-bottom: 0px; margin-left: 0px;">
												<input type="button" value="Upload" class="btn"
													disabled="true" id="registerBulkAssets">
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>


						<div
							class="form-row jumbotron pt-2 pb-2 mb-2 col-lg-10 col-md-10 registerDiv"
							id="uploadAndRegisterFiles" style="display: none;">

							<div class="form-group col-lg-5 col-md-5"
								style="margin-top: 10px; padding-left: 88px;">

								<a href="#" id="addBulkDataFiles" class="addDeleteUploadLabels"
									data-toggle="tooltip"> <i class="fas fa-upload"></i>&nbsp;&nbsp;
									Upload Files to Asset
								</a>
							</div>

							<div class="form-group col-lg-5 col-md-5"
								style="margin-top: 10px;">
								<a href="javascript:void(0)" id="registerFolder"
									data-toggle="tooltip" class="addDeleteUploadLabels"
									onclick="createCollectionDiv('dataList')"><img
									src="images/Uploads.add.png"
									th:src="@{/images/Uploads.add.png}" class="uploadslogo"
									alt="register">&nbsp;&nbsp;&nbsp; Register Asset
									Subcollection </a>
							</div>
						</div>



						<div class="form-row col-md-12 col-sm-12" id="dataListDiv"
							style="display: none; margin-top: 30px;">
							<div class="form-group col-lg-10 col-md-12"
								style="height: fit-content; font-size: 19px; background-color: #FFFFFF; border-radius: 15px;">
								<p
									style="margin-top: 4px; margin-left: 35px; font-family: latoregular; color: #8F8E8E;">
									<b>Asset Files/Subcollections</b>
								</p>
								<ul id="dataListing">
								</ul>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			th:replace="fragments/editCollectionFragment :: editCollectionFragment"></div>

		<div th:replace="fragments/uploadDataFiles :: uploadDataFiles">Upload
			files</div>
		<div
			th:replace="fragments/createCollectionFragment :: createCollectionFragment">Create
			collection Fragment</div>
	</div>
</body>
</html>
