<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div class="form-row jumbotron col-md-10 col-sm-10" id="uploadDataFilesTab" th:fragment="uploadDataFiles" style="display:none;margin-top:40px;margin-left:25px;">
                <div class="col-md-12 col-sm-12 p-0 m-0">
                 <div class="alert alert-danger uploadBulkDataError" role="alert" style="display:none;margin-bottom:10px;">
           <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                            <h6 class="uploadBulkDataErrorMsg"></h6>                       
                    </div>
        </div>
                    <div class="col-lg-2 col-md-2 col-sm-12" style="z-index:1010;">
                        <button type="button" class="float-left btn btn-link" 
                                style="background-color:transparent; border:0px;color: #00467f;">
                             <b>Register Data</b>
                        </button>
                        </div>
                </div>
       
             <input type="hidden" id="bulkDataFilePathCollection" name="bulkDataFilePathCollection"/>
             
                     
                      <div class="form-row col-md-9 col-sm-9" style="margin-left:20px;">
                             <div class="form-group">
										<div class="pull-left">
										<label class="radio-inline"><input type="radio" id="datafileTypeSingle" name="datafileTypeUpload" value="singleData" 
										onchange="displayDataFileSection('singleData')"> &nbsp;&nbsp; Single data file</label>
										</div>
                              </div>
                        <div class="form-group">
										<div class="pull-left" style="margin-left: 15px">
										<label class="radio-inline"><input type="radio" name="datafileTypeUpload" id="datafileTypeBulk" value="bulkData" 
										onchange="displayDataFileSection('bulkData')">&nbsp;&nbsp; Bulk data files</label>
										</div>
                         </div>
                        
								
                <div class="col-md-12 col-sm-12" id="singleFileDataUploadSection" style="display:none;">
                <form class="form-horizontal" id="registerDataFileForm"  method="POST"> 
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row" style=" margin-top: 20px;">
                             
                               <div class="form-group col-lg-12 col-md-12" style="display:none;">
                            <label for="collectionPath">Data File Path</label>
                               <input type="text" id="dataFilePath" disabled name="path" style="width:70%;"/>
                            </div>
                             <div class="form-group col-lg-4 col-md-12">
                            <label for="checksum">Check Sum</label>
                            <input type="text" name="checksum" id="checksum">
                            </div>
                             <div class="form-group col-lg-8 col-md-12">
                            <label for="collectionPath">Data Source</label>
                            <input type="file" name="doeDataFile" id="doeDataFile">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 col-sm-12">
                      
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="addNewMetaDataForSingleDataFile" type="button" class="btn btn-primary float-right mb-2 mr-2" onclick="addNewMetaDataCollection('newMetaDataTableForSingleFile')">Add MetaData</button>
                               <table id="newMetaDataTableForSingleFile" class="table table-stripped table-bordered display dt-responsive wrap" style="width:100%">
                      <thead>
							<tr>
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Attribute Name</th>
                                 <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>                      
                        </tbody>
                    </table> 
                        </div>
               
                    </div>
                    </form>
                </div>
          
           <div class="col-md-12 col-sm-12" id="bulkFileUploadSection" style="display:none;">
           
            <div class="form-row col-md-9 col-sm-9" id="bulkTypeUploadDiv" style="margin-left:20px;">
                             <div class="form-group">
										<div class="pull-left">
										<label class="radio-inline"><input type="radio" id="uploadTypeGlobus" name="bulkUploadType" value="globus" 
										onchange="displayUploadTypeDiv('globus')"> &nbsp;&nbsp; Globus</label>
										</div>
                              </div>
                        <div class="form-group">
										<div class="pull-left" style="margin-left: 15px">
										<label class="radio-inline"><input type="radio" name="bulkUploadType" id="uploadTypeS3" value="s3" 
										onchange="displayUploadTypeDiv('s3')">&nbsp;&nbsp; S3</label>
										</div>
                         </div>
                         
               </div>
               
               
                 <form class="form-horizontal" id="registerBulkDataForm" enctype="multipart/form-data" method="POST" style="display:none;"> 
                    <input type="hidden" id="bulkDatafilePath" name="bulkDatafilePath"/>
                    <input type="hidden" id="uploadType" name="uploadType"/>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row" style=" margin-top: 20px;">
                             <div class="form-group col-lg-12 col-md-12" id="displayGlobusUploadDiv" style="display:none;">
                               <div class="form-group col-lg-12 col-md-12">
                            <input type="button" class="btn btn-md btn-link" id="primaryGlobusButton" value="Select Data from Globus Endpoint"/>
                            </div>
                            
                            <div class="form-group col-lg-12 col-md-12" id="globusEndPointInformation" th:if="${endpoint_id != null}">
									
									
									<label for="${endpoint_id}">Globus Endpoint ID:
									<span id="${endpoint_id}" th:text="${endpoint_id}" style="font-weight: normal;"></span></label>
									
									<br />
									
									<label for="${endpoint_path}">Globus Endpoint Path:
									<span id="${endpoint_path}" th:text="${endpoint_path}" style="font-weight: normal;"></span></label>
									<br />
							</div>
							</div>	
							
							   <div class="form-group col-lg-12 col-md-12" id="displayS3UploadDiv" style="display:none;">
                               <div class="form-group col-lg-12 col-md-12">
                          <label for="bucketName">S3 Bucket:</label>
										<input
											type="text" class="form-control" name="bucketName" 
											id="bucketName" placeholder="Enter S3 Bucket Name" />
									</div>
									<div class="col-sm-12 column">
										<label for="s3Path">S3 (Source) Path:</label> <input
											type="text" class="form-control"
											name="s3Path" id="s3Path"
											placeholder="Enter S3 (Destination) Path" size="40" />
											<input type="checkbox" name="s3File" id="s3File">
											Check this if the source path is a file and not a folder.
															
									</div>
									<div class="col-sm-12 column">
										<label for="accessKey">Access Key:</label> <input
											type="text" class="form-control"
											name="accessKey" id="accessKey"
											placeholder="Enter Access Key" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="secretKey">Secret Access Key:</label> <input
											type="password" autocomplete="secret-access-key" class="form-control"
											name="secretKey" id="secretKey"
											placeholder="Enter Secret Access Key" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="region">Region:</label> <input
											type="text" class="form-control"
											name="region" id="region"
											placeholder="Enter Region (for Example us-east-1)" size="40" />
									</div>         
                            </div>                                                       
							</div>
							
														
                             <div th:if="${fileNames != null}"  class="form-group col-lg-12 col-md-12">
                             <label for="fileName">Selected Files:</label>
                            <div class="form-group col-lg-12 col-md-12">
                              
                             <ul> 
                                <li th:each="fileName:${fileNames}" th:text="${fileName}"></li>
                              </ul>
                          </div>                        
                        </div>
                             
                    <div th:if="${folderNames != null}"  class="form-group col-lg-12 col-md-12">
                       <label for="folderName">Selected Folders:</label>                          
                          <ul> 
                               <li th:each="folderName:${folderNames}" th:text="${folderName}"></li>
                          </ul>
                    </div>     
                     </div>
                 </form>
                    </div>
                    
                </div>
           
            <div class="col-md-12 col-sm-12 form-group" id="registerFileBtnsDiv" style="display:none;margin-top:35px;margin-bottom:15px;padding: 5px;">
             <input type="button" value="Register" class="btn btn-primary float-right mr-4 mb-4" id="registerBulkDataFileBtn">
           </div>             
          
    </div>
</body>
</html>
