<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div class="form-row col-md-10 col-sm-10" id="uploadDataFilesTab" th:fragment="uploadDataFiles" 
      style="display:none;margin-top:40px;margin-left:25px;border-top: 2px solid #E87B05;">
                <div class="col-md-12 col-sm-12 p-0 m-0">
                 <div class="alert alert-danger uploadBulkDataError" role="alert" style="display:none;margin-bottom:10px;">
           <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;padding-top: 10px; border-radius: 0px;">
                            <h6 class="uploadBulkDataErrorMsg"></h6>                       
                    </div>
        </div>
                    
                </div>
       
             <input type="hidden" id="bulkDataFilePathCollection" name="bulkDataFilePathCollection"/>
             
                     
                      <div class="form-row col-md-9 col-sm-9" style="margin-left:20px;margin-top: 20px;">
                             <div class="form-group">
										<div class="pull-left">
										<label class="uploadLabels radio-inline"><input type="radio" id="datafileTypeSingle" name="datafileTypeUpload" value="singleData" 
										onchange="displayDataFileSection('singleData')"> &nbsp;&nbsp; Select a File</label>
										</div>
                              </div>
                        <div class="form-group">
										<div class="pull-left" style="margin-left: 15px">
										<label class="uploadLabels radio-inline"><input type="radio" name="datafileTypeUpload" id="datafileTypeGlobusUpload" value="globus" 
										onchange="displayDataFileSection('globus')">&nbsp;&nbsp; Transfer from Globus</label>
										</div>
                         </div>
                         
                          <div class="form-group">
										<div class="pull-left" style="margin-left: 15px">
										<label class="uploadLabels radio-inline"><input type="radio" name="datafileTypeUpload" id="datafileTypes3Upload" value="s3" 
										onchange="displayDataFileSection('s3')">&nbsp;&nbsp; Transfer from S3</label>
										</div>
                         </div>
                         
                         <div class="form-group">
										<div class="pull-left" style="margin-left: 15px">
										<label class="uploadLabels radio-inline"><input type="radio" name="datafileTypeUpload" id="datafileTypeDriveUpload" value="drive" 
										onchange="displayDataFileSection('drive')">&nbsp;&nbsp; Google Drive</label>
										</div>
                         </div>
                        
								
                <div class="col-md-12 col-sm-12" id="singleFileDataUploadSection" style="display:none;">
                <form class="form-horizontal" id="registerDataFileForm"  method="POST"> 
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row" style=" margin-top: 20px;">
                             
                               <div class="form-group col-lg-12 col-md-12" style="display:none;">
                            <label for="collectionPath">Data File Path</label>
                               <input type="text" id="dataFilePath" disabled name="path" style="width:70%;"/>
                            </div>
                             
                             <div class="form-group col-lg-12 col-md-12" style="text-align: center;">
                            
                            <label class="uploadLabels" for="collectionPath">Data Source &nbsp;&nbsp; 
                       <input type="file" aria-label="doe data file" name="doeDataFile" id="doeDataFile" style="width: 235px;">
                        &nbsp;&nbsp;<span style="font-size: 12px;color: #000;font-family: 'latoregular';"><i class="fas fa-info-circle"></i> Max File Size: 2 GB</span></label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 col-sm-12">
                      
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="addNewMetaDataForSingleDataFile" type="button" class="btn btn-primary float-right mb-2 mr-2" onclick="addNewMetaDataCollection('newMetaDataTableForSingleFile')">Add Metadata</button>
                               <table id="newMetaDataTableForSingleFile" class="table display dt-responsive wrap" style="width:100%;border:none">
                      <thead>
							<tr>
                                <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Attribute Name</th>
                                 <th aria-sort="none" class="sortable" data-sort="text" role="columnheader" scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>                      
                        </tbody>
                    </table> 
                        </div>
               
                    </div>
                    </form>
                </div>
          
           <div class="col-md-12 col-sm-12" id="bulkFileUploadSection" style="display:none;">   
                 <form class="form-horizontal" id="registerBulkDataForm" enctype="multipart/form-data" method="POST" style="display:none;"> 
                    <input type="hidden" id="bulkDatafilePath" name="bulkDatafilePath"/>
                    <input type="hidden" id="uploadType" name="uploadType"/>
                       <input type="hidden" id="accessToken" name="accessToken"/>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-row" style=" margin-top: 20px;">
                             <div class="form-group col-lg-12 col-md-12" id="displayGlobusUploadDiv" style="display:none;">
                               <div class="form-group col-lg-12 col-md-12">
                               <button type="button" class="btn btn-md btn-link" id="primaryGlobusButton">
                               Select Data from <img src="images/Uploads-Globus.icon.png" th:src="@{/images/Uploads-Globus.icon.png}" style="width:20px;" alt="globus"> Globus Endpoint
                               </button>
                            
                            </div>
                            
                            <div class="form-group col-lg-12 col-md-12" id="globusEndPointInformation" th:if="${endpoint_id != null}">
									
									
									<label for="${endpoint_id}">Globus Endpoint ID:
									<span id="${endpoint_id}" th:text="${endpoint_id}" style="font-weight: normal;"></span></label>
									
									<br />
									
									<label for="${endpoint_path}">Globus Endpoint Path:
									<span id="${endpoint_path}" th:text="${endpoint_path}" style="font-weight: normal;"></span></label>
									<br />
							</div>
							</div>	
							
							
							
							<div class="form-group col-lg-12 col-md-12" id="displayDriveUploadDiv" 
							style="display:none;">
							<div th:if="${authorized != null}" class="alert-success" style="margin-left: 13px"
							 ><i class="fa fa-check">&nbsp;</i>Access Token successfully generated</div>
                               <div class="form-group" style="margin-left: 13px">
								<button type="button" class="btn btn-primary" id="driveUploadAuthlink"
								onClick="return refreshAttributes('Drive')">
								Authorize MoDaC to Access Your Google Drive</button>
								</div>
								
                            <div class="col-sm-12 column" id="driveDiv">
							  <a href="#" id="pickerUploadLink">
							  Select Data from Google Drive</a>
							</div>
                            
							</div>	
							
							   <div class="form-group col-lg-12 col-md-12" id="displayS3UploadDiv" style="display:none;background-color: #E0F0F4;padding-bottom: 20px;">
                               <div class="form-group col-lg-12 col-md-12">
                          <label for="bucketName">S3 Bucket:</label>
										<input
											type="text" class="form-control" name="bucketName" 
											id="bucketName" placeholder="Enter S3 Bucket Name" />
									</div>
									<div class="col-sm-12 column">
										<label for="s3Path">S3 (Source) Path:</label> <input
											type="text" class="form-control"
											name="s3Path" id="s3Path"
											placeholder="Enter S3 (Destination) Path" size="40" />
											<input aria-label="s3 file" type="checkbox" name="s3File" id="s3File">
											Check this if the source path is a file and not a folder.
															
									</div>
									<div class="col-sm-12 column">
										<label for="accessKey">Access Key:</label> <input
											type="text" class="form-control"
											name="accessKey" id="accessKey"
											placeholder="Enter Access Key" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="secretKey">Secret Access Key:</label> <input
											type="password" class="form-control"
											name="secretKey" id="secretKey"
											placeholder="Enter Secret Access Key" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="region">Region:</label> <input
											type="text" class="form-control"
											name="region" id="region"
											placeholder="Enter Region (for Example us-east-1)" size="40" />
									</div>         
                            </div>                                                       
							</div>
							
                             <div class="form-group col-lg-12 col-md-12" id="fileNamesDiv" 
							th:style="${fileNames != null ? 'display:block' : 'display:none'}">
                             <label for="fileName">Selected Files:</label>
                            <div class="form-group col-lg-12 col-md-12">                             
                             <ul> 
                                <li th:each="fileName:${fileNames}" th:text="${fileName}"></li>
                              </ul>
                          </div>  
                          <input th:if="${fileIds != null}" type="hidden" name="fileIds" th:value="${fileId}"
							th:each="fileId : ${fileIds}"/>                      
                        </div>

                    <div class="form-group col-lg-12 col-md-12" id="folderNamesDiv" 
					th:style="${folderNames != null ? 'display:block' : 'display:none'}">
                       <label for="folderName">Selected Folders:</label>                          
                          <ul> 
                               <li th:each="folderName:${folderNames}" th:text="${folderName}"></li>
                          </ul>
                          <input th:if="${folderIds != null}" type="hidden" name="folderIds" th:value="${folderId}"
																	th:each="folderId : ${folderIds}"/>
                    </div>     
                     </div>
                 </form>
                    </div>
                    
                </div>
           
            <div class="col-md-9 col-sm-9 form-group" id="registerFileBtnsDiv" style="text-align:center;display:none;margin-top:35px;margin-bottom:15px;padding: 5px;">
             <input type="button" value="Upload" class="btn btn-primary mr-4 mb-4" id="registerBulkDataFileBtn">
           </div>             
          
    </div>
</body>
</html>
