.aboutcontainer {
  align-items: flex-start;
  background-image: url(/images/about_background.svg);
  background-size: 100% 105%;
  display: flex;
  min-width: 1440px;
  padding: 45px 438px;
  height: 148px;
}
.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h4-inter-light-size {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 564px;
}

.h4-inter-light-siz {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxl);
    font-weight: 300;
    letter-spacing: -0.7px;
    line-height: 37.3px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

#aboutText{
	color: #FFFFFF;
    font-family: latoregular;
    font-size: 29px;
    line-height: 60px;
    margin-left: 2rem;
    letter-spacing: 1.2px;
}

#aboutTxtlandingPage {
	height: 18px; 
	width: 189px; 
	color: #E66F05;; 
	font-family: 'Poppins'; 
	font-size: 26px; 
	line-height: 45px; 
	letter-spacing: 2px;
}
#aboutImgDiv{
	text-align: left;
	margin-top: 179px;
	margin-bottom: 50px;
	background-color: #E66F05;
}
#aboutMoDaCDescp {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: 24px;
  width: 1000px;
  margin-top: 4rem;
  padding-bottom: 4rem;
}


#aboutMoDaCDescp a{
  text-decoration: underline;
  color: var(--green-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal; 
}