.aboutcontainer {
  align-items: flex-start;
  background-image: url(/images/about_background.svg);
  background-size: cover;
  display: flex;
  min-width: 1440px;
  padding: 45px 438px;
  height: 148px;
}
.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h4-inter-light-size {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 564px;
}

.h4-inter-light-siz {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxl);
    font-weight: 300;
    letter-spacing: -0.7px;
    line-height: 37.3px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}


#aboutMoDaCDescp {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: 24px;
  width: 1000px;
  margin-top: 4rem;
  padding-bottom: 4rem;
}


#aboutMoDaCDescp a{
  color: var(--green-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal; 
}