[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: none;
	cursor: pointer;
}

/* Scrollbar for firefox only */
 html,body {
    scrollbar-color: #3A84A7 #EFF6FB;
    scrollbar-width:auto;
}


/* Scrollbar css for Edge, Chrome and Safari */
::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-thumb {
	background: #3A84A7;
	height:349px;
	background-clip: content-box;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 4px;
	
}

::-webkit-scrollbar-track {
    background: #EFF6FB;
}

body {
	background: rgb(255, 255, 255); /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,225,224,1) 34%, rgba(226,225,224,1) 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,225,224,1) 34%,rgba(226,225,224,1) 100%);*/
	/* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,225,224,1) 34%,rgba(226,225,224,1) 100%);*/
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#e2e1e0', GradientType=0); /* IE6-9 */
}

inline {
	display: inline;
}

.fivepercent {
	width: 5% !important;
}

.tenpercent {
	width: 10%;
}

.fifteenpercent {
	width: 15%;
}

.twentpercent {
	width: 20%;
}

.twentfivepercent {
	width: 25%;
}

.thirtypercent {
	width: 30%;
}

.thirtyfivepercent {
	width: 35%;
}

.fourtypercent {
	width: 40%;
}

.fourtyfivepercent {
	width: 45%;
}

.fiftypercent {
	width: 50%;
}

.fiftyfivepercent {
	width: 55%;
}

.sixtypercent {
	width: 60%;
}

.sixtyfivepercent {
	width: 65%;
}

.seventypercent {
	width: 70%;
}

.seventyfivepercent {
	width: 75%;
}

.eightypercent {
	width: 80%;
}

.eightyfivepercent {
	width: 85%;
}

.nintypercent {
	width: 90%;
}

.nintyfivepercent {
	width: 95%;
}

.hundredpercent {
	width: 100%;
}

.popover {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

.popover-header {
	background-color: #c1e3ff !important;
	font-family: 'latoregular';
}

.btn {
	font-size: .875rem;
	border: 1px solid #a5a5a591;
}

.btn {
	padding: .375rem 0.45rem;
}

.table-legend {
	background: #f5f5f5;
	text-align: center;
	justify-content: center;
	margin-right: 50px;
	border: 1px solid #e5e5e5;
	left: 15%;
	border-radius: 5px;
	padding: 0px;
}

.card-body {
	padding: 0px;
}

.dataTables_length {
	margin-top: 0px;
	padding: 5px;
}
.paginate_button.current {
	width: 30px;
	height: 27px;
	padding: 3px !important;
}
/* DivTable  */
.divTable {
	display: table;
	width: 100%;
	max-height: 500px;
	overflow-y: scroll;	
}

.divTableRow {
	display: table-row;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 25px;
	width: 23px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
 .tooltip-inner {
     /* background-color:#264663;
      color: #FFFFFF;
      font-family: 'inter_regular';
      font-size:13px;*/
      
	  align-items: center;
	  background-color: var(--rhino);
	  border-radius: 5px;
	  box-shadow: 0px 3px 4px #00000059;
	  color: var(--white);
	  font-family: var(--font-family-inter);
	  font-size: 13px;
	  font-weight: 300;
	  font-style: normal;
    }

#tooltipHtml, #outputTooltipHtml {
	cursor: pointer;
	color: #033D6F;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableHead {
	background-color: #00467f;
	color: #fff;
}

.optionalLabel {
	color: #8E8E8E;
	font-family: 'inter_regular';
	font-size: 14px;
	font-style: italic;
}

.optionalLabelInfo {
	font-family: 'inter_regular';
	font-size: 14px;
	color: #000000;
	line-height: 16px;
	font-style: italic;
	font-weight: 500;
}

.dataTables_filter {
	margin-top: -7px;
	margin-right: 10px;
}

.dataTables_info {
	margin-left: 15px;
	font-family: 'latoregular';
	float: right !important;
	margin-right: 29px;
	margin-top: -6px;
	font-size: 13px;
	letter-spacing: 1px;
}


table.dataTable thead th, table.dataTable tfoot th {
	background-color: #194F85;
}

table.dataTable tfoot th {
	background-color: var(--lapis-lazuli);
	border-bottom: none;
}

table.dataTable tfoot th {
	background-color: #194F85;
}

table.dataTable tbody tr.shown+tr>td {
	padding: 0;
}

.rowAttribute {
	width: 30% !important;
}

.fa-users, .fa-trash {
	color: #E87B05 !important;
}

.fa-edit {
	color: #E87B05 !important;
}

.fa-download, .fa-copy {
	color: #E87B05 !important;
}

.fa-file-export {
	color: #E87B05 !important;
}

.btn-primary, bg-primary {
	background-color: #00579e !important;
}


 #addNewMetaDataForSingleDataFile,
	#addUserMetadataForBulkAssets,
	#btnUpdateAccessGroup, #btnUpdatePermissions, #btnPredictionAccessGrp {
	background-color: #E66F05 !important;
	font-family: 'inter_regular';
}

.backToStatusTab, .backToUpload {
	color: #E66F05;
	font-family: 'inter_medium';
	font-size: 17px;
}


.closeButtons {
	margin-left: -12px;
	background-color: #E87B05 !important;
	color: #fff;
	width: 5%;
	border-radius: 10px;
}

label.infoLabel {
	font-size: 14px;
	font-family: inter_medium;
	color: #4e8bc6;
}


ol#dataListing>li {
	list-style-type: none;
	counter-increment: item;
}

ol#dataListing>li:before {
	padding-right: 0.5em;
	font-weight: bold;
	content: counter(item) ".";
}

img.line {
	float: left;
	margin-left: -23px;
	margin-top: 11px;
	width: 15px;
}

img.sub-line {
	float: left;
	margin-left: -2px;
	margin-top: 11px;
	width: 15px;
	margin-right: 10px;
}

a:hover {
	cursor: pointer;
}

li.nav-item>.dropdown-menu>a:hover {
	background-color: transparent !important;
	color: #000 !important;
}

li.nav-item>a:hover {
	border-color: transparent !important;
	background-color: transparent !important;
}

.nav-tabs .nav-item.show .nav-link {
	border-color: transparent !important;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

table.dataTable thead .sorting {
	background-image: none !important;
}

table.dataTable thead .sorting_asc {
	background-image: none !important;
}

table#manageTasksTable thead .sorting{
	background-image: url(/images/asset_files_sort_up.svg) !important;
	background-size: 16px 19px;
}

table#manageTasksTable thead .sorting, table#manageTasksTable thead .sorting_asc,
	table#manageTasksTable thead .sorting_desc {
	background-position: 90% 50%;
}

table#manageTasksTable thead .sorting_asc{
	background-image: url(/images/asset_files_sort_up.svg) !important;
	background-size: 16px 19px;
}

table#manageTasksTable thead .sorting_desc{
	background-image: url(/images/asset_files_sort_down.svg) !important;
	background-size: 16px 19px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:after {
	content: none !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc_disabled:before {
	content: none !important;
}

.divTableBody {
	display: table-row-group;
}


#doeMetadataFile, #uploadTestInferFile, #uploadTestOutputFile,
	#doeDataFile {
	color: #000000;
	font-family: 'inter_regular';
	font-size: 15px;
}

#doeMetadataFile::file-selector-button, #uploadTestInferFile::file-selector-button,
	#uploadTestOutputFile::file-selector-button, #doeDataFile::file-selector-button
	{
	margin-right: 15px;
	box-sizing: border-box;
	height: 36px;
	width: 146px;
	border: 2px solid #E87B05;
	background-color: #FFFFFF;
	border-radius: 15px;
	color: #000000;
	font-family: 'inter_regular';
	font-size: 15px;
	font-weight: 500;
}


.wrapper {
	overflow: hidden;
}

.underlineLinks {
	text-decoration: underline !important;
}


a.detail-control-sub-folder {
	float: left;
	/*margin-left:-12px;*/
	margin-right: 10px;
}

a.detail-control {
	margin-top: 5px;
	cursor: pointer;
}


div.container.main {
	width: 100% !important;
	background: #fff;
	padding-left: 15px;
	padding-bottom: 20px;
	display: block;
	border-bottom: solid 1px #333;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	background: #fff;
	border-radius: 5px !important;
}

.form-row {
	margin-left: 0px;
	margin-right: 0px;
}

.td_class_5_percent {
	width: 5% !important;
}

.td_class_1 {
	width: 10% !important;
	word-break: break-word;
}

.td_class_3 {
	width: 30%;
}

.td_class_4 {
	width: 25% !important;
	word-break: break-word;

}

.td_class_2 {
	width: 13.75% !important;
	word-break: break-word;
}

.td_class_5 {
	width: 20% !important;
}

.td_class_7 {
	width: 40% !important;
	word-break: break-word;
}

.td_class_9 {
	width: 60% !important;
}

.td_class_15 {
	width: 15% !important;
}

.td_class_35 {
	width: 35% !important;
}



}

/*--===============================================================================
Body 
==================================================================================---*/
#skip a {
	display: block;
	position: absolute;
	left: -999px;
	top: -999px;
}

#skip a:focus {
	left: 0;
	top: 0;
	padding: 3px;
	background: #ffc;
	border: 1px solid #990000;
}

a {
	color: #00458F;
}

.select2-container--bootstrap4.select2-selection--single .select2-selection__rendered
	{
	color: #000
}
#updateAccessPermissionsModal {
  input.select2-search__field {
      width: auto !important;
  }
}

#registerCollectionForm {
	input.select2-search__field {
		width: auto !important;
	}
}
/*tabs*/
.tab-content>.tab-pane {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e1e0+34,e2e1e0+100 */
	background: transparent; /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,225,224,1) 34%, rgba(226,225,224,1) 100%);  FF3.6-15 */
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,225,224,1) 34%,rgba(226,225,224,1) 100%);  Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,225,224,1) 34%,rgba(226,225,224,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#e2e1e0', GradientType=0); /* IE6-9 */
}

.card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border: 0px;
}

.card-title {
	color: #333;
	font-size: 14px;
	text-transform: uppercase; /* float: left; */
	margin-bottom: 0px;
}

.card-title.sectional {
	background-color: #455A64;
	color: #fff;
	font-weight: 600;
	margin-top: 0px;
	margin-left: -15px;
	border: 1px solid #e7e7e7;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.card-header:first-child {
	border-radius: 0px;
}

.hidden {
	display: none
}


.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #E6EEF8 !important;
	color: #2660a9 !important;
	font-weight:bold;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected]
	{
	background-color: transparent !important;
	color: #E87B05 !important;
}

.select2-container--default .select2-results>.select2-results__options {
	background-color: #E4E1E1 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b
	{
	border-color: #E87B05 transparent transparent transparent !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b
	{
	border-color: #E87B05 transparent transparent transparent !important;
}

.select2-container *:focus {
	outline: none;
}

div.has-error ul.select2-choices {
	border-color: rgb(185, 74, 72) !important;
}

ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass
	{
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cc0000 !important;
	background-color: #f3d8d8 !important;
	background-image: url(http://goo.gl/GXVcmC) !important;
	background-position: 50% 50% !important;
	background-repeat: repeat !important;
}

ul.myErrorClass input {
	color: #666 !important;
}

.ui-button {
	background: #fff !important;
}

label {
	font-weight: bold;
}

.was-validated .form-control .simple-select2:invalid {
	border-color: #dc3545;
}

.form-control {
	color: #000;
}

.form-group {
	margin-bottom: .5rem;
}

.skipnav a:focus, .skipnav a:active, .skipnav a:hover, .skipnav a:visited
	{
	position: static;
	left: 0;
	width: auto;
	height: auto;
	overflow: visible;
	text-decoration: underline;
	color: white;
	font-weight: bolder;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
	color: #999;
}

form {
	font-family: 'source sans pro', sans-serif;
	font-size: 14px;
}

label {
	font-size: 14px;
	color: #333;
	margin-bottom: 0px;
	/*    text-transform:uppercase;*/
	font-weight: 600;
	padding-top: 12px;
	width: 100%;
}

.btn-round-lg {
	border-radius: 25px;
}

.btn-round {
	border-radius: 17px;
}

.btn-round-sm {
	border-radius: 15px;
}


.btn-danger {
	color: #fff !important;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.bootbox-body {
	overflow-wrap: break-word;
}

.help-inline {
	font-size: 12px;
}

.form-control {
	font-size: 14px;
}

.form-control::-webkit-input-placeholder {
	color: #afafaf;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
	color: #afafaf;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
	color: #afafaf;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
	color: #afafaf;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
	color: #afafaf;
} /* Microsoft Edge */
select.form-control:not ([size] ):not ([multiple] ){
	height: 35px;
}

.multiselect-selected-text {
	font-size: 14px;
}

.select2-container .select2-selection--single {
	width: 100%;
	height: 35px;
}

.select2-container .select2-selection--multiple {
	min-height: 35px;
}

.select2-container--bootstrap4 .select2-selection--single {
	padding: 0.5rem 1.125rem .75rem .375rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field
	{
	min-width: .75rem;
	font-size: 14px;
	margin-top: 5px;
}

.select2-container--bootstrap4 .select2-selection__clear {
	margin-right: -15px
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered
	{
	padding: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	font-size: 14px;
	padding-bottom: 3px;
	color: #000;
	background-color: transparent;
}

input.select2-search__field {
	min-width: fit-content;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice
	{
	margin: 0px 5px;
	background: #e9ecef;
	font-size: 14px;
	padding: 5px;
	margin: 3px;
}

.select2-container .select2-selection--single .select2-selection__clear
	{
	display: none;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder
	{
	font-size: 14px !important;
}

.select2-results__option[aria-selected] {
	cursor: pointer;
	font-size: 14px;
	padding: 6px;
}

.select2-container span.select2-selection.select2-selection--single {
	border: 2px solid #AD5A00;
}

.select2-container .select2-selection--single #select2-instituteList-container,
	#select2-studyList-container, #select2-dataList-container {
	background-color: #fff !important;
	color: #000 !important;
}

.select2-results__option[aria-selected=true] {
	display: none;
}

span.select2-selection.select2-selection--multiple {
	border: 2px solid #AD5A00 !important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection
	{
	border-color: #a94442;
}

.has-error .select2-selection {
	border: 1px solid #a94442 !important;
	border-radius: 4px;
}

.icon-required {
	font-weight: 600;
	font-size: 14px;
	color: red;
	float: left;
	position: absolute;
	margin-left: -7px;
}

.asterix {
	color: #990000;
}

.alert {
	margin-bottom: 0px;
	border-radius: 0px;
}

.disabled {
	background-color: #e9ecef;
}

.gj-datepicker-bootstrap [role=right-icon] button {
	background-color: #fff !important;
}


button.ms-choice {
	border: 0px;
	margin-top: 5px;
}

.btn-primary:hover {
	background-color: #0364b3 !important;
}


#btnRegister {
	background-color: #245D93 !important;
	font-size: 15px;
	border-radius: 12px;
	height: 38px;
	width: 154px;
	font-family: 'latoregular';
	margin-left: 83px;
}

mrs-100 {
	width: 100%
}

.popover {
	max-width: 900px !important;
	background-color: var(--white);
    border: 0.5px solid;
    border-color: var(--black);
    border-radius: 15px;
    box-shadow: 0px 4px 15px #00000040;
}

.infoTooltip+.popover {
	max-width: 250px !important;
	width: 250px !important;
}

table {
	text-align: left;
	font-size: 14px;
}

.dataTables_filter, .dataTables_paginate {
	float: right !important;
	margin-bottom: 10px;
}

.pagination {
	float: right !important;
}

.dataTables_paginate {
	color: #000000;
	font-family: 'latoregular';
	font-size: 7px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:after {
	opacity: 0.5 !important;
}

.page-item.active .page-link {
	background-color: #7f8990 !important;
	border-color: #7f8990
}

img.historyImg {
	width: 24px;
}

img:hover {
	cursor: pointer
}

i.fas.fa-file-plus {
	font-size: 16px !important;
}

.fas.fa-share {
	color: #f39530;
	cursor: pointer;
}

.my_class {
	background-color: rgba(222, 244, 255, 0.7);
}

i.expand {
	font-size: 16px;
	color: #194F85;
	font-weight: bold;
}
/* background colors */
.bg-dark {
	background-color: #616A70 !important;
}

.bg-grant {
	background-color: #e1f1fd !important;
}

.input-group-prepend {
	background-color: #d9eaf6;
}

.input-group-text {
	padding: .3rem .75rem;
}

.input-group>.input-group-prepend:not (:first-child )>.input-group-text
	{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* modals */
h1.modal-title {
	font-size: 1.5rem;
}

h2.modal-title {
	font-size: 1.5rem;
}

h3.table-title {
	font-size: 1rem;
}

.modal-title {
	font-size: 21px;
	font-weight: 500;
	font-family: latoregular;
	color: #1C3D5D;
}

.modal-body {
	max-height: 800px;
	/*overflow: auto;*/
}

.jumbotron {
	border-radius: 0px;
}

.modal-footer {
	width: 100%
}

/* placeholder input */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #A8A8A8;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #A8A8A8;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #A8A8A8;
}

.b-4 {
	border-top: 8px solid #7f8990 !important;
}

.card-heading {
	width: 100%;
	background: #00467f;
}

.card-header {
	background-color: #fff !important;
	border-bottom: 0px !important;
}

.card-header .fa {
	transition: .3s transform ease-in-out;
	color: #fff;
}

.card-header .collapsed .fa {
	transform: rotate(90deg);
	color: #fff;
}

#return-to-top {
background: #007bbd;
    border-top-left-radius: 100%;
    color: #fff;
    display: block;
    font-size: .76rem;
    font-weight: 600;
    height: 75px;
    line-height: 1.2;
    padding: 35px 6px 0 16px;
    text-align: center;
    text-decoration: none;
    width: 75px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1100;
	text-align: center;
    font-family:  var(--font-family-open_sans);
	text-transform: uppercase;
}

#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	font-size: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
	color: #fff;
	top: 5px;
}

.ag-root-wrapper.ag-layout-normal {
	height: 84% !important;
	width: 100% !important;
}

/* Add checkboxes to multiple select dropdown - will affect all previous Select2 Multi-Selects as well */
.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option[aria-selected="true"]:before
	{
	font-family: 'fontAwesome';
	content: '\f14a';
	font-weight: normal !important;
	margin-right: 1rem;
	color: #333;
}

.select2-container--default .select2-results__options[aria-multiselectable="true"] .select2-results__option[aria-selected="false"]:before
	{
	font-family: 'fontAwesome';
	content: '\f0c8';
	font-weight: normal !important;
	margin-right: 1rem;
}

.btn-link {
	color: #004A9E !important;
}

.btn-success {
	background-color: #218739 !important;
}

.btn-close {
	background-color: #E87B05 !important;
}

.list-inline .list-inline-item a {
	color: #fff;
}

.list-inline .list-inline-item a:hover {
	color: #00467f;
}

.text-green {
	color: #16a085;
}

.text-orange {
	color: #f39c12;
}

.text-red {
	color: #e74c3c;
}

/*table {
	border: 2px solid #42b983;
	border-radius: 3px;
	background-color: #fff;
}

th {
	background-color: #00729e;
	color: rgba(255, 255, 255, 0.66);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td {
	background-color: #f9f9f9;
}
*/

th, td {
	min-width: 120px;
	padding: 10px 20px;
}

th.active {
	color: #fff;
}

th.active .arrow {
	opacity: 1;
}

.arrow {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 5px;
	opacity: 0.66;
}

.arrow.asc {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #fff;
}

.arrow.dsc {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
}


.labelEditCollection {
	margin-bottom: 22px;
	height: 46px;
	background-color: #194F85;
	color: #fff;
	letter-spacing: 0.5px;
	font-family: 'inter_regular';
	font-size: 12px;
	font-weight: 500;
	line-height: 48px;
	padding-left: 12px !important;
}

#spinner {
	position: fixed;
  	top: 20%;
  	left: 40%;
  	height: 5px;
  	z-index: 9999;
}

#dimmer {
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100500;
}

.row-buffer {
	padding-top: 18px;
}

.required {
	display: inline-block;
	color: #d2322d;
	font-size: 0.8em;
	font-weight: bold;
	position: relative;
	top: -0.2em;
}

.drilldown-content {
	margin-left: 18px;
	margin-right: 11px;
}