footer {
  background: #fff;
  font-size: 14px;
}

.list-inline .list-inline-item a {
  color: #333;
}

.list-inline .list-inline-item a:hover {
  color: #00467f;
}

.contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 34px;
  min-width: 130px;
  text-align: right;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.top-footer {
  background-color: #1F4571;
  color: white;
}

.top-footer-container {
  max-width: 1440px;
  margin: 0 auto;

}

.footer-email {
  padding-right: 52px;
}

.top-footer a {
  color: #fff;
}

.primary-content {
  line-height: 1.2;

}

.primary-link {
  background: none;
  border: none;
  cursor: default;
  display: flex;
  text-decoration: none;
  visibility: visible;
  width: 100%;
  font-weight: 700;
}

.list {
  font-size: 1.01rem;
  margin-top: 0.25rem;
  padding: 0.75rem 0 2rem;
  line-height: 1.6;
}

.list--unstyled {
  list-style-type: none;
}

.secondary-link-firstchild {
  padding-top: 0rem;
}

.secondary-link {
  padding-top: 1rem;
}

.top-footer-leftcontainer {
  padding: 37px;
  height: 320px;
}

.sign-up {
  padding-bottom: 1.5rem;
  padding-top: 37px;
}

.sign-up-heading {
  font-family: 'Poppins';
  font-size: 1.43rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.form {
  font-family: 'Open Sans';
  font-size: 1.01rem;
  line-height: 1.3;
}

.form-label {
  display: block;
  color: white;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.01rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 1.5rem;
  max-width: 30rem;
  margin-bottom: 0.5rem;
}

.form-form-group {
  margin-top: 1.5rem;
}

.form-input {
  margin-top: 0;
  width: 100%;
  height: 40px;
}

.form-button {
  width: auto;
  margin-top: 1.25rem;
  background-color: #face00;
  color: #1b1b1b;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1;
  margin-right: 0.5rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;

}

.contact-link {
  margin-left: 20px;
  font-size: 1.01rem;
  line-height: 1.6;
}

.usa-form {
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.01rem;
    line-height: 1.3;
}
.usa-form-group {
    margin-top: 1.5rem;
}

<!-- Primary footer -->


.usa-footer__primary-section>.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 87.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.usa-footer__nav {
    border-bottom: 1px solid #a9aeb1;
    margin-left: auto;
    margin-right: auto;
    max-width: 87.5rem;
    padding-left: 0;
    padding-right: 0;
}

.grid-row.grid-gap-4 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.grid-row.grid-gap-4>* {
    padding-left: 1rem;
    padding-right: 1rem;
}



.usa-list {
    line-height: 1.6;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 3ch;
}
.usa-list--unstyled {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
.usa-list li:last-child {
    margin-bottom: 0;
}
.usa-footer__secondary-link+.usa-footer__secondary-link {
    padding-top: 1rem;
}


.usa-list li {
    margin-bottom: 0.25em;
    max-width: 88ex;
}

.usa-list--unstyled>li {
    margin-bottom: 0;
    max-width: unset;
}

.usa-footer__secondary-link {
    line-height: 1.2;
    margin-left: 1rem;
    padding: 0;
}
.usa-sign-up {
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}
.usa-sign-up__heading {
    font-family: Poppins,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.43rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

.usa-form-group .usa-label:first-child {
    margin-top: 0;
}

.usa-sign-up .usa-button, .usa-sign-up .usa-label {
    margin-top: 0.75rem;
}

.usa-label {
    display: block;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.01rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 1.5rem;
    max-width: 30rem;
}

.usa-form .usa-button {
    margin-top: 0.5rem;
}

.usa-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #007bbd;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.01rem;
    font-weight: 600;
    line-height: 1;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.usa-button--accent-warm, .usa-button--accent-warm:visited {
    background-color: #face00;
    color: #1b1b1b;
}
[class*=grid-col] {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.usa-footer__primary-content {
    border-top: 1px solid #a9aeb1;
}

<!--End primary footer -->

.usa-footer__contact-info {
    line-height: 1.2;
}

.grid-row.grid-gap-1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  margin-top: 1rem;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.grid-col-auto {
  flex: 0 1 auto;
}

.grid-col, .grid-col-auto {
    max-width: 100%;
    width: auto;
}

.grid-row.grid-gap-1>* {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

 .social-link {
  background: transparent;
  height: auto;
  padding: 0 0.5rem 0 0;
  width: auto;
}

.social-link .usa-icon {
  fill: #face00;
  color: #face00;
  height: 40px;
  width: 40px;
  margin-left: -3px;
  margin-right: -3px;
}

.usa-footer__secondary-section {
    background-color: #dfe1e2;
    color: #1b1b1b;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem
}

.usa-footer__primary-link {
    color: #1b1b1b;
    display: block;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
}

.usa-footer__secondary-section>.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100.5rem;
    padding-left: 1.5rem;
    padding-right: 1rem
}

@media (min-width: 64em) {
    .usa-footer__secondary-section>.grid-container {
        padding-left:2rem;
        padding-right: 2rem
    }
    .usa-footer__primary-section>.grid-container {
	    padding-left: 2rem;
	    padding-right: 2rem;
	}
}

.usa-footer__secondary-section a {
    color: #1b1b1b
}

.usa-footer__logo {
    margin-bottom: .5rem;
    margin-top: .5rem
}

@media (min-width: 30em) {
    .usa-footer__logo {
        align-items:center;
        margin-bottom: 0;
        margin-top: 0
    }
    .usa-footer__primary-content {
    	border: none;
	}
	
	.usa-footer__secondary-link {
   		 margin-left: 0;
	}	
	.usa-form {
    	max-width: 20rem;
	}
	.usa-form .usa-button {
   		margin-top: 1.5rem;
	}
	.usa-button {
   		 width: auto;
	}
	
	.usa-footer__nav {
	    border-bottom: none;
	    padding-left: 1rem;
	    padding-right: 1rem;
	}
    
}

.usa-footer__logo-img {
    max-width: 5rem
}

.usa-footer__logo-heading {
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.39rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: .5rem;
    margin-top: .5rem
}

.usa-footer__contact-links {
    margin-top: 1.5rem
}

@media (min-width: 30em) {
    .usa-footer__contact-links {
        margin-top:0;
        text-align: right
    }
}

.usa-footer__contact-heading {
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.39rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0
}

@media (min-width: 30em) {
    .usa-footer__contact-heading {
        margin-bottom:.25rem;
        margin-top: .25rem
    }
}

.usa-footer__social-links {
    line-height: 1;
    padding-bottom: .5rem
}

.usa-footer__social-links a {
    text-decoration: none
}

.usa-social-link {
    background-color: rgba(0,0,0,.1);
    display: inline-block;
    height: 3rem;
    padding: .25rem;
    width: 3rem
}

.usa-social-link:hover {
    background-color: #fff
}

@media(forced-colors:active) {
    .usa-social-link {
        background-color: #d3d3d3;
        forced-color-adjust: none
    }
}

.usa-social-link__icon {
    display: block;
    height: auto;
    width: 100%
}

@media (min-width: 30em) {

    .usa-footer__social-links {
        justify-content:flex-end
    }
    .usa-footer__address {
        justify-content:flex-end
    }
}

@media (min-width: 64em) {
    .usa-footer--slim .usa-footer__nav {
        padding-left:0;
        padding-right: 0
    }
}

.usa-footer--slim .usa-footer__address {
    padding: 1rem
}

@media (min-width: 30em) {
    .usa-footer--slim .usa-footer__address {
        padding:0
    }
}

.usa-footer--slim .usa-footer__logo {
    align-items: center
}

.usa-footer--slim .usa-footer__logo-img {
    max-width: 3rem
}

.usa-footer--slim .usa-footer__contact-info {
    display: inline-block
}

.usa-footer--big .usa-footer__nav {
    margin-left: -1rem;
    margin-right: -1rem
}

@media (min-width: 30em) {

    .usa-footer--slim .usa-footer__contact-info {
        margin-top:0;
        padding-bottom: 1rem;
        padding-top: 1rem
    }
    .usa-footer--big .usa-footer__nav {
        border-bottom:1px solid #a9aeb1;
        padding-top: 2rem
    }
}

@media (min-width: 40em) {
    .usa-footer--big .usa-footer__nav {
        border-bottom:none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }
    .tablet\:grid-col-8 {
	    flex: 0 1 auto;
	    width: 66.6666666667%;
	}
}

.usa-footer--big .usa-footer__primary-link {
    font-family: Poppins,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.17rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0
}

.usa-footer--big .usa-footer__primary-content--collapsible .usa-footer__primary-link {
    align-items: center;
    display: flex;
    justify-content: flex-start
}

.usa-footer--big .usa-footer__primary-content--collapsible .usa-list--unstyled {
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width: 30em) {

    .usa-footer--big .usa-footer__primary-link {
        margin-bottom:.5rem;
        padding-bottom: 0;
        padding-top: 0
    }

    .usa-footer--big .usa-footer__primary-link:hover {
        cursor: auto;
        text-decoration: none
    }
    .usa-footer--big .usa-footer__primary-content--collapsible .usa-list--unstyled {
        padding:.75rem 0 2rem
    }
}

.usa-footer--nci-big .usa-footer__primary-link {
    background: none;
    border: none;
    cursor: default;
    display: flex;
    text-decoration: none;
    visibility: visible;
    width: 100%
}

.usa-footer--nci-big .usa-footer__primary-link:hover {
    text-decoration: none
}

.usa-footer--nci-big .usa-footer__nci-collapse-header {
    cursor: pointer;
    display: flex
}

.usa-footer--nci-big .usa-footer__nci-list-header {
    cursor: default;
    display: none;
}

@media (min-width: 30em) {

	.usa-footer__primary-link {
	    padding-left: 0;
	    padding-right: 0;
	}
    .usa-footer--nci-big .usa-footer__primary-link {
        padding-bottom:0;
        padding-top: 0
    }
    .usa-footer--nci-big .usa-footer__nci-collapse-header {
        display:none
    }
    .usa-footer--nci-big .usa-footer__nci-list-header {
        display:flex
    }
}

.usa-footer--nci-big .usa-footer__primary-content--collapsible button.usa-footer__primary-link:before {
    background: url(/images/arrow_narbar_mobile.png) no-repeat 50%/contain;
    content: "";
    display: inline-block;
    height: 2ex;
    margin-right: .25rem;
    vertical-align: baseline;
    width: 2ex;
}

@supports((-webkit-mask: url("")) or (mask:url(""))) {
    .usa-footer--nci-big .usa-footer__primary-content--collapsible button.usa-footer__primary-link:before {
        background:none;
        background-color: #fff;
        -webkit-mask: url(/images/footer_mobile_collapse.png) no-repeat center/contain;
        mask: url(/images/footer_mobile_collapse.png) no-repeat center/contain
    }
}

.usa-footer--nci-big .usa-footer__primary-content--collapsible button.usa-footer__primary-link[aria-expanded=true]:before {
    transform: rotate(90deg)
}

.usa-footer--nci-big .usa-footer__primary-content--collapsible button.usa-footer__primary-link:before {
    margin-left: -.25rem;
    width: 19px;
	height: 8px;
	transform: rotate(-90deg) translate(-6px,-2px);
}

.usa-footer--nci-big .usa-footer__primary-link,.usa-footer--nci-big .usa-footer__primary-link:focus,.usa-footer--nci-big .usa-footer__primary-link:hover,.usa-footer--nci-big .usa-footer__primary-link:link,.usa-footer--nci-big .usa-footer__primary-link:visited,.usa-footer--nci-big .usa-footer__primary-section,.usa-footer--nci-big .usa-footer__primary-section:focus,.usa-footer--nci-big .usa-footer__primary-section:hover,.usa-footer--nci-big .usa-footer__primary-section:link,.usa-footer--nci-big .usa-footer__primary-section:visited,.usa-footer--nci-big .usa-footer__secondary-link a,.usa-footer--nci-big .usa-footer__secondary-link a:focus,.usa-footer--nci-big .usa-footer__secondary-link a:hover,.usa-footer--nci-big .usa-footer__secondary-link a:link,.usa-footer--nci-big .usa-footer__secondary-link a:visited,.usa-footer--nci-big .usa-footer__secondary-section,.usa-footer--nci-big .usa-footer__secondary-section:focus,.usa-footer--nci-big .usa-footer__secondary-section:hover,.usa-footer--nci-big .usa-footer__secondary-section:link,.usa-footer--nci-big .usa-footer__secondary-section:visited,.usa-footer--nci-big .usa-footer__secondary-section a,.usa-footer--nci-big .usa-footer__secondary-section a:focus,.usa-footer--nci-big .usa-footer__secondary-section a:hover,.usa-footer--nci-big .usa-footer__secondary-section a:link,.usa-footer--nci-big .usa-footer__secondary-section a:visited {
    color: #fff
}

.usa-footer--nci-big .usa-footer__secondary-link a {
    line-height: 1.3;
    text-decoration: none
}

.usa-footer--nci-big .usa-footer__secondary-link a:hover {
    text-decoration: underline
}

.usa-footer--nci-big .usa-footer__primary-section {
    background-color: #1F4571;
}

.usa-footer--nci-big .usa-footer__primary-section .usa-footer__nav {
    border-bottom: 1px solid #000;
    margin-left: -1rem;
    margin-right: -1rem
}


@media (min-width: 40em) {
    .usa-footer--nci-big .usa-footer__primary-section .usa-footer__nav {
        border-bottom:none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }
    .tablet\:grid-col-auto {
	    flex: 0 1 auto;
	    max-width: 100%;
	    width: auto;
	}
	.tablet\:grid-col-4 {
	    flex: 0 1 auto;
	    width: 33.3333333333%;
	}
}

@media (min-width: 64em) {
    .usa-footer--nci-big .usa-footer__primary-section .usa-footer__nav {
        margin-bottom:2rem
    }
}

@media (min-width: 30em) {

    .usa-footer--nci-big .usa-footer__primary-content--collapsible button.usa-footer__primary-link:before {
        display:none
    }
    .usa-footer--nci-big .usa-footer__primary-section .usa-footer__nav {
        padding-top:2rem
    }
	.mobile-lg\:grid-col-auto {
	    flex: 0 1 auto;
	    max-width: 100%;
	    width: auto;
	}
	.mobile-lg\:grid-col-7 {
	    flex: 0 1 auto;
	    width: 58.3333333333%;
	}
	.mobile-lg\:grid-col-6 {
	    flex: 0 1 auto;
	    width: 50%;
	}
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.grid-row.grid-gap>* {
    padding-left: .5rem;
    padding-right: .5rem
}

.grid-row.grid-gap {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

@media (min-width: 64em) {
   
    .grid-row.grid-gap>* {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .desktop\:grid-col-7 {
	    flex: 0 1 auto;
	    width: 58.3333333333%;
	}
	.desktop\:grid-col-4 {
	    flex: 0 1 auto;
	    width: 33.3333333333%;
	}
	.desktop\:grid-col-5 {
	    flex: 0 1 auto;
	    width: 41.6666666667%
	}
	
	.grid-row.grid-gap {
        margin-left:-1rem;
        margin-right: -1rem
	}
	.usa-footer__nci-collapse-header {
		display:none;
	}
	.usa_footer_desktop {
	    display:block !important;
	}
}

.usa-footer--nci-big .usa-footer__primary-section .usa-footer__primary-content {
    border-top-color: #000;
    font-size: 16.15999984741211px;
}

.usa-footer__primary-content {
    line-height: 1.2;
}

.usa-footer--nci-big .usa-footer__primary-section .usa-footer__primary-content--collapsible .usa-list--unstyled.hidden {
    display: none;
}


.usa-footer--nci-big .usa-footer__primary-section .usa-footer__primary-content .usa-list--unstyled {
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width: 30em) {

	.usa-footer__contact-info {
	    justify-content: flex-end;
	    margin-top: 0.5rem;
	}

    .usa-footer--nci-big .usa-footer__primary-section .usa-footer__primary-content--collapsible .usa-list--unstyled.hidden {
        display:block;
        font-size: 1.01rem;
    }
    .usa-footer--nci-big .usa-footer__primary-section .usa-footer__primary-content .usa-list--unstyled {
        margin-bottom:1.5rem;
        margin-top: .25rem;
        padding: .75rem 0 2rem
    }
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-form {
    max-width: 100%
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-label {
    margin-bottom: .5rem
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-input {
    margin-top: 0;
    max-width: 100%
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-button {
    margin-top: 1.25rem;
    width: 100%
}

@media (min-width: 40em) {
    .usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-button {
        width:auto
    };
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-form-group--error {
    border-left-color: #e41154
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-form-group .usa-error-message {
    background: #e41154;
    border-color: #e41154;
    color: #fff;
    line-height: 1.6;
    padding: .5rem .5rem 0
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-form-group .usa-error-message.hidden {
    display: none
}

.usa-footer--nci-big .usa-footer__primary-section .usa-sign-up .usa-form-group .usa-input--error {
    border-color: #e41154
}

.usa-footer--nci-big .usa-footer__secondary-section {
    background: var(--live-site-bottom-footer, #122F4B);
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__logo {
    align-items: baseline;
    margin-bottom: 0;
    margin-top: 0
}

@media (min-width: 64em) {
    .usa-footer--nci-big .usa-footer__secondary-section .usa-footer__logo {
        margin-bottom:1.5rem
    }
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__logo-heading {
    font-family: Poppins,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif,serif;
    margin-bottom: 0;
    margin-top: 0
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__logo-heading .logo__agency-name {
    display: block;
    font-size: 24.959999084472656px;
    line-height: 1.3
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__logo-heading .logo__parent-organization {
    font-size: var(--font-size-xl);
    font-weight: 400;
    line-height: 1.2;
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-heading,.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-heading {
    font-family: Poppins,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif,serif;
    font-size: 22.8799991607666px;
    font-weight: 600
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-heading {
    margin-bottom: .25rem
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-heading {
    margin-bottom: 1rem;
    margin-top: 1rem
}

@media (min-width: 64em) {
    .usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-heading {
        margin-top:.75rem
    }
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-links {
    padding-bottom: 0
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-links .usa-social-link {
    background: transparent;
    height: auto;
    padding: 0 .5rem 0 0;
    width: auto;
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__social-links .usa-social-link .usa-icon {
    fill: #face00;
    color: #face00;
    height: 40px;
    margin-left: -3px;
    margin-right: -3px;
    width: 40px;
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-links {
    margin-top: 1.25rem;
    text-align: left
}

@media (min-width: 64em) {
    .usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-links {
        margin-top:0;
        text-align: right
    }
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-links a {
    font-size: 1.01rem;
    line-height: 1.6;
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-links address a {
    display: block;
    font-size: 14.239999771118164px;
}

.usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-info {
    justify-content: flex-start;
    display: block;
}

@media (min-width: 64em) {
    .usa-footer--nci-big .usa-footer__secondary-section .usa-footer__contact-info {
        justify-content:flex-end;
        display: flex;
    }
}