.fa-greater-than {
	font-size: 13px;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

@media ( min-width : 1200px) {
	.landingSearchDiv {
       margin-left: 8vw !important;
	}
}

@media ( min-width : 991px) {
	.dpehyt {
		list-style: none;
		margin-bottom: 0px;
		padding: 0px;
		display: none;
		width: 100%;
	}
	.footer_more_info {
		margin-left: 7.5rem;
	}
	.footer_policies {
		margin-left: -4rem;
	}

	.footer_subsection {
		margin-left: -1.5rem;
	}

}

@media ( max-width : 990px) {

	.mobileNav {
		background: #fff;
    	border-right: 0;
   		bottom: 0;
	    flex-direction: column;
	    left: 0;
	    overflow-y: auto;
	    padding: 1rem;
	    position: absolute;
	    top: 0;
	    width: 20rem;
	    z-index: 500;
	    height: 100vh;
	    width: 320px;
	    display:none;
	}
	#aboutSubMenu {
	    padding-left: 3px;
	}
	
	.banner-header {
		margin-left: auto !important;
	    margin-right: auto !important;
	    max-width: 87.5rem !important;
	    padding: 0.5rem 1rem !important;
	    display: flex;
	
	}
	.logo-container {
		margin-left: -2.2rem !important;
	}
	.fa-bars:before {
    	content: url(/images/Menu_btn.png);
	}
	.fa-times:before {
		content: url(/images/cancel_mobile_navbar_icon.png);
	}
	#aboutMenuMobile {
		background-image: url(/images/arrow_narbar_mobile.png),linear-gradient(transparent,transparent);
    	background-position: 100%;
    	background-repeat: no-repeat;
    	display: block;
	}	
	.mobile-nav-toggle[aria-expanded="true"] {
		align-self: flex-end;
    	border: 0;
    	box-shadow: none;
    	cursor: pointer;
    	padding: 0;
	}

	.nci-header-mobilenav__list-msg {
		background-color: transparent;
    	padding: 1.5rem 1rem;
    	border: none;
    	cursor: pointer;
    	line-height: 1.3;
    	text-align: left;
    	text-decoration: none;
    	width: 100%;
    	color: #007bbd;
    	font-family: Open Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 16px;
		padding-left: 2px;
    	
	}
	.nci-header-mobilenav__list-msg img {
		transform: rotate(-180deg);
		padding-left: 10px;
	}
	#spinner {
		text-align: center;
		left: 5%;
		right: 5%;
	}
	form#contact-us-form .contactUsFieldsDiv {
		margin-left: -2rem !important;
		margin-right: -5rem !important;
	}
	form#contact-us-form .loginHr {
		margin-left: -3rem !important;
		margin-right: -4rem !important;
	}

	div.wrapper {
		left: 0px !important;
		right: 0px !important;
	}
	#attributeVallanding {
		border-radius: 32px  !important;
		height: 45px;
		border: 2.51px solid #E0730F;
		background-color: #FFFFFF;
		margin-left: -1.2rem;
		margin-right: -9px;
		width: -webkit-fill-available;
		padding-left: 20px;
		margin: 0 auto !important;
		height: 62px !important;
		width: 90% !important;
	}
	#landingSearch{
		top: 1rem !important;
	}
	#attributeVallanding::placeholder {
		font-size: 22px;
		transform: translateY(-1px);
	}
	#attributeVal::placeholder {
		font-size: 22px !important;
		transform: translateY(-2.5px);
	}
	#attributeVal {
		height: 80px !important;
		font-size: 25px !important;
		margin-left: -1.3rem !important;
		margin-top: 0px !important;
		border-radius: 0px !important;
		width: 56.5rem !important;
		border: 2px solid #E66F05;
		font-weight: 550;
		padding-left: 2rem !important;
	}
	#resetBtnLandingForMobile {
		position: absolute;
		top: 1.4rem !important;
    	right: 7rem !important;
	}
	#landingSearchMobileButton {
		position: absolute;
		right: 35px;
    	top: 18px;
	}
	#landingSearchMobileButton img {
		width: 60px;
		height: 30px;
	}
	#clearFilters {
		display: none;
	}
	#mobileFiltersSection {
		display: flex !important;
		float: right;
		margin-top: 0rem;
		margin-right: 0.9rem;
	}
	#filterSectionDiv>.filterComponentDiv {
		margin-top: 3rem;
	}
	#filterSectionDiv>.filterComponentDiv ~ .filterComponentDiv {
		margin-top: 0rem;
	}

	label.attrName {
		font-size: 17px;
	}
	label.showMorefields {
		font-size: 16.5px;
	}
	#filterSectionSubDiv {
		margin-left: -7px;
	}
	label.showMorefields div {
		margin-top: -22px !important;
		margin-left: 24px !important;
		word-break: break-all;
	}
	.filterComponentDiv p {
		height: 2.4rem;
	}
	#cancelFiltersMobile img {
		height: 28px;
		width: 45px;
	}
	#searchFiltersMobilebtn img {
		height: 28px;
		width: 45px;
	}
	#resetBtnMobile {
		position: absolute;
		top: 2rem;
		right: 6rem;
	}
	#searchMobileBtn {
		position: absolute;
	    top: 0rem;
	    right: -0.5rem !important;
	    height: 5.6rem !important;
	    width: 6rem !important;
	    border-radius: 0px !important;
	    background-color: #E66F05;
	    text-align: center;
	}
	#searchMobileBtn img {
		width: 32px !important;
		transform: translate(25px, 15.5px);
	}
	#searchMobileBtn span {
		position: relative;
	    top: 3rem;
	    left: -1.2rem;
	    font-size: 12px;
	    color: #fff;
	    font-family: 'inter_medium';
	}
	.cil_14_bold_no_color_mobile {
		color: #2E76ED;
		font-family: 'lato_bold';
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 23px;
		word-break: break-all;
	}
	#backMobileFilter {
		font-family: 'inter_medium';
		font-size: 17px;
		color: #4079B2;
	}
	#mobileKeyworkSearchDiv {
		padding-bottom: 20px;
	}
	#filterSectionDiv {
		border-radius: 1rem;
		margin-left: 2.4rem !important;
		margin-right: 1.3rem !important;
		border: 2px solid #3a73b9;
	}
	.mobileFilterSearch {
		display: inline-block !important;
	}
	#searchResultMobileTable_length {
		margin-right: 2rem;
        float: right;
	}
	#searchResultsDiv {
		display: none !important;
	}
	#searchResultsMobileDiv {
		padding-right: 0px !important;
		padding-left: 5px !important;
		padding-top: 0rem;
	}
	#searchSubSectionDiv {
		/* margin-right: -30px !important;
	margin-left: -12px !important; */
		margin-right: -1rem !important;
		margin-left: -2rem !important;
	}
	#searchResultMobileTable_wrapper {
		padding-top: 1rem;
		padding-left: 0.7rem;
		padding-bottom: 4rem;
	}
	#keyworkSearchDiv {
		display: none !important;
	}
	table#searchResultMobileTable tr {
		display: inherit !important;
	}
	table#searchResultMobileTable tr.odd td {
		background-color: #FFFFFF !important;
		padding-bottom: 2rem;
		padding-top: 1rem;
		border-bottom: 1px solid #A5A5A5;
	}
	table#searchResultMobileTable tr.even td {
		background-color: #FFFFFF !important;
		padding-bottom: 2rem;
		padding-top: 1rem;
		border-bottom: 1px solid #A5A5A5;
	}
	.cil_12_bold_no_color_mobile_dataset {
		margin-left: -1px;
		margin-top: 1rem;
		color: #000000;
		font-family: 'latoregular';
		font-size: 16px;
		line-height: 21px;
	}
	.landingSearchDivMobile {
		display: flex !important;
		margin-top: -6px !important;
		background-color: transparent !important;
		flex-wrap: wrap;
	}
	.mobileContainer {
		display: block !important;
		margin: 0px auto;
		/* margin-left: 4px !important; */
		margin-top: -0.5rem !important;
		/* margin-right: 4px !important; */
	}
	.buttoncontainer {
		background-image: url(/images/modac.hero1.png);
		background-position: center;
	}
	.subbuttoncontainer {
		height: 42px;
		max-width: 95%;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#titleText {
		letter-spacing: 1px;
		font-size: 26px;
		text-align: center;
		line-height: 42px;
	}
	.globalContainer {
		display: none;
	}
	.mobile-nav-toggle[aria-expanded="true"] .closeNavBarIcon {
		display: block !important;
	}
	.mobile-nav-toggle[aria-expanded="false"] .closeNavBarIcon {
		display: none !important;
	}
	.mobile-nav-toggle[aria-expanded="true"] .toggleNavBarIcon {
		display: none !important;
	}
	.mobile-nav-toggle[aria-expanded="false"] .toggleNavBarIcon {
		display: block !important;
	}
	.d-sm-block {
   	 display: block!important;
	}
	.toggleNavBarIcon {
		font-size: 28px;
		transform: translateY(-3px);
		float: left;
	}
	.closeNavBarIcon {
		display: none;
		font-size: 1.25rem; 
		color: #2F3C5A;
		float:right;
	}
	
	.footer_subsection {
		margin: -0.5rem;
		margin-top: 1rem;
		padding-bottom: 1rem;
	}
	text-align: center;
	}

	.footer_nci {
		margin-top: 0.5rem;
	}

	.mobile-navigation {
		position: absolute;
		top: 99px;
		left: 0px;
		display: block;
		z-index: 1000;
		transition: transform 250ms ease-out 0s;
	}
	.dpehyt {
		list-style: none;
		margin-bottom: 0px;
		padding: 0px;
		width: 100%;
	}
	.hQrVZb {
		display: grid;
		position: relative;
		line-height: 36px;
		text-align: left;
		text-decoration: none;
		background: var(--utility-colors-white, #FFF);
		padding-left: 15px;
		margin-right: 24px;
	}
	
	.hQrVZb a.hover,.hQrVZb a:hover {
	    background: #F7F7F7;
	    color: #5d5d52;
		cursor: pointer;
	}
	.hZHGfK {
		list-style: none;
		margin-bottom: 0px;
		padding: 0px;
		width: 100%;
		transition: all 250ms ease-in 0s;
	}
	.hQrVZb a {
		display: block;
		text-decoration: none;
		padding-left: 1.5rem;
		cursor: pointer;
		color: var(--secondary-colors-slate, #3D4551);
    	font-family: Open Sans;
    	font-size: 16px;
    	font-style: normal;
    	font-weight: 400;
        border-top: 1px solid var(--utility-colors-gray, #F0F0F0);
		border-bottom: 1px solid var(--utility-colors-gray, #F0F0F0);
	}
	.hQrVZb_subTab a {
		font-size: 16px;
	}

	.hQrVZb a.active::after {
		background-color: #007bbd;
		border-radius: 99rem;
		bottom: 0.25rem;
		content: "";
		display: block;
		left: 1.75rem;
		position: absolute;
		top: 0.25rem;
		width: 0.25rem;
	}
	.hQrVZb a.active {
		color: #2461D6;
		font-family: Poppins;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
	}
	.mobilenav__overlay {
		background: rgba(0,0,0,.2);
		bottom: 0;
		content: "";
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	
}


@media ( max-width :1200px) and (min-width: 992px) {
	.topNav-item {
		display: none;
	}

}

@media ( max-width :990px) {
	.closeBtn {
		margin-top: -15px !important;
	}

	#userGuideMenu.dropdown-menu, #helpMenu.dropdown-menu
		{
		width: 350px;
		float: right;
		margin-left: 0px;
	}
}

@media ( max-width : 360px) {
	#spinner {
		left: 0%;
	}
}


@media ( max-width : 768px) {

	.assetFilesmobileMsg {
		display: block !important;
		color: #000000;
		font-family: 'latoregular';
		font-size: 16px;
		margin-left: 14px;
	}
	
	#assetUrlLink {
		display: none;
	}
	.assetFilesDiv {
		display: none;
	}
	.assetFilesConditional {
		padding-top: 40px;
		margin-left: 1rem !important;
	}
}

@media ( max-width : 550px) {

	.nav-bar .nabar-toggler
     #changeUserMenu.dropdown-menu {
		margin-left: -50px !important;
	}
	.logoImg {
		width: 312px !important;
	}

	.col.order-first {
		margin-left: -2.25rem !important;
	}


	#dataSetFragment_mobile {
		display: block !important;
		padding-top: 6px;
		margin-right: -1rem;
	}
	.datasetDetailsheader {
		margin-bottom: -5px;
	}
	#backtoSearch {
		margin-left: 10px !important;
		margin-top: -6px;
		margin-right: 1px !important;
	}
	#backtoSearch  img {
		content: url('/images/Asset-Detail.Back_Arrow.Mobile.svg') !important;
		width: 55px !important;
	}
	#assetDetailsSubSection {
		display: none;
	}
	.asset_attributes_subsection {
		    display: none !important;
	}
	table#dataSetMetaData tr:nth-child(odd) td {
		padding-left: 13px;
		border: none;
		display: inline-flex;
	}
	table#dataSetMetaData tr:nth-child(even) td {
		padding-left: 13px;
		border: none;
		display: inline-flex;
	}
	table#dataSetMetaData tbody tr {
		padding-bottom: 1px;
	}
	table#dataSetMetaData tr td:nth-child(even) {
		margin-top: -16px !important;
	}
	.attrClass {
		color: #194F85;
		font-size: 13px;
		font-family: 'inter_bold';
	}
	.attrValClass {
		font-family: lato_bold;
		font-size: 15px;
		margin-top: -2px;
		line-height: 20px;
		color: #000000;
	}
	.AttrValueTxt {
		font-family: 'latoregular';
		font-size: 16px;
		color: #000000;
		line-height: 17px;
		overflow-wrap: anywhere;
	}
	#titleText {
		font-size: 2rem !important;
		line-height: 2rem !important;
	}
}

@media ( max-width : 440px) {
	.popover {
		margin-top: 8rem;
		word-break: break-all;
		height: fit-content;
		max-width: fit-content !important;
		width: fit-content;
		margin-left: 3rem;
	}
	.popover-body {
		padding-left: 3px;
		padding-right: 3px;
	}
	.divTableRow div:first-child {
		width: 32%;
	}
	
}

@media ( min-width : 768px) {
	.navbar .navbar-brand {
		margin-top: 0px;
	}
}

@media ( max-width : 380px) {

	#topNav {
		width: 100%;
		margin-top: -57px;
	}
	#changeUserMenu.dropdown-menu {
		width: 350px;
		float: right;
		margin-left: 0px;
	}
}


@media ( min-width : 992px) {
	.modal-lg {
		max-width: 95%;
	}
	#mobileKeyworkSearchDiv {
		display: none;
	}
}

@media ( min-width : 992px) and (max-width:1082px) {
	.td_class_7 {
		width: 10% !important;
		word-break: break-word;
	}
	.td_class_9 {
		width: 40% !important;
		word-break: break-word;
	}
}

@media ( min-width : 1082px) and (max-width:1230px) {
	.td_class_7 {
		width: 20% !important;
		word-break: break-word;
	}
	.td_class_9 {
		width: 65% !important;
		word-break: break-word;
	}
}

@media ( min-width : 1230px) and (max-width:1371px) {
	.td_class_7 {
		width: 20% !important;
		word-break: break-word;
	}
	.td_class_9 {
		width: 80% !important;
		word-break: break-word;
	}
}

@media ( min-width : 1371px) {
	.td_class_7 {
		width: 40% !important;
		word-break: break-word;
	}
	.td_class_9 {
		width: 60% !important;
		word-break: break-word;
	}
}
@media ( max-width : 623px) {
	.cancelBtnDiv {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.submitBtnDiv {
		margin-left: auto !important;
		margin-right: auto !important;
	}
    
    #btnSubmitEmail {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	]margin-top: 0rem !important;
	}
}

@media ( max-width : 561px) {
	#btnSubmitEmail {
	  margin-top: 1rem !important;
	}
}