@import url("https://fonts.googleapis.com/css?family=Inter:300,700,400,500|Poppins:500,600|Open+Sans:700");

.component-2 {
  align-items: flex-start;
  background: linear-gradient(
    180deg,
    rgb(130.9, 82.9, 10.91) 0%,
    rgba(255, 203.58, 126.44, 0) 100%
  );
  display: flex;
  padding: 45px 438px;
}

.h4-inter-light-size {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 564px;
}

.frame-32 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.h4-inter-light-siz {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 300;
  letter-spacing: -0.7px;
  line-height: 37.3px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 50px 0px 0px;
  position: relative;
  width: 230px;
}

.overlap-group2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 20px #45454573;
  flex-direction: column;
  padding: 29px 38px;
}


.flex-row {
	align-self: flex-start;
    display: flex;
    gap: 56px;
}

#release-notification-form {
    max-width: 800px;
    margin-top: -3rem;
}

.frame-6 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--shady-lady);
  display: flex;
  gap: 12px;
  height: 29px;
  position: relative;
  width: 325px;
}


#notification_txtarea {
	background: #E7EDF1;
    border: none;
    border-radius: 0px;
    color: var(--midnight-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}


.for-specific-question {
  margin-left: 5rem;
  margin-top: 2rem;
  white-space: nowrap;
}

.contact .group {
  align-items: flex-start;
  display: flex;
}

.document_div {
	display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 3rem;
}


.your-text-here {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 3rem;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification_header {
    color: #409cc6;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29.8px;
    min-height: 30px;
    white-space: nowrap;
}

#sendNotificationBtn {
	color: var(--white);
    font-family: var(--font-family-inter);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.15px;
    white-space: nowrap;
    background-color: var(--black) !important;
    border: 1px solid;
    border-color: #b6c8d2;
    border-radius: 30px;
    height: 54px;
    margin-top: 3rem;
    width: 185px;
}

.form_div {
	padding: 86px 108px;
	padding-left: 5rem !important;
}

.layer-1 {
  height: 35px;
  width: 24px;
}


#siteFeedbackMsg {
	font-family: inter_regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #2859DA;
}