.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #E87B05 transparent transparent transparent !important;
}
table#newMetaDataTableForSingleFile tbody tr td {
	background-color: #E0F0F4;
}

table#newMetaDataTableForSingleFile thead tr th {
	background-color: #194F85;

}

.btn-primary{
   background-color: #194F85!important;
}

table#newMetaDataTable tbody tr td {
	background-color: #E0F0F4;
	font-family: 'latoregular';
}

table#newMetaDataTable thead tr th {
	background-color: #194F85;
	font-size: 13px;
    font-family: 'inter_medium';

}

.select2-container .select2-selection--single .select2-selection__rendered {
	color: #000;
	background-color: transparent;
}

.select2-selection .select2-selection--multiple{
	background-color: #F7F7F7;
}