.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #3B6EB4 transparent transparent transparent !important;
	border-width: 8px 6px 0 6px;
	margin-left: -12px;
}



.btn-primary {
	background-color: #194F85 !important;
}

table#newMetaDataTableForSingleFile {
	border: none;
	margin-left: -25px;
    margin-top: 20px;
}

#doeDataFile {
    margin-top: 12px;
}

table#newMetaDataTable tbody tr td, table#newMetaDataTableForSingleFile tbody tr td {
	background-color: #EEF4F6;
	color: #235172;
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	padding: 16px 32px !important;

	input {
		padding: 0 10px;

	}

	input[type="radio"] {
		margin-top: 10px;
		accent-color: #004A8B;
	}

	textarea {
		padding: 8px;
		min-height: 120px;
	}
}

table#newMetaDataTable tbody td,  table#newMetaDataTableForSingleFile tbody td{
	border-bottom: 4px solid white;
	border-top: none;
}

table#newMetaDataTable tbody tr td:first-child, table#newMetaDataTableForSingleFile tbody tr td:first-child {
	text-transform: uppercase;
	font-weight: 600;
}


table#newMetaDataTable tbody tr td:nth-child(2), table#newMetaDataTableForSingleFile tbody tr td:nth-child(2) {
	padding: 8px 0px !important;
}

table#newMetaDataTable thead tr th, table#newMetaDataTableForSingleFile thead tr th {
	background-color: #194F85;
	letter-spacing: 0.5px;
	color: #FFF;
	font-family: "Open Sans";
	font-size: 15px;
	padding: 2px 32px;
	font-weight: 100;
	width: 50%;
}

table#newMetaDataTable thead tr th:nth-child(2), table#newMetaDataTableForSingleFile thead tr th:nth-child(2) {
	padding: 2px 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	color: #000;
	background-color: transparent;
}

.select2-selection .select2-selection--multiple {
	background-color: #F7F7F7;
}

.uploadAssetLabels {
	color: #000000;
	font-family: 'inter_regular';
	font-size: 14px;
	font-weight: 500;
}

.assetBulkRadioButtons {
	height: 19px;
	width: 22px;
	transform: translateY(5px);
}

.registeRadioButtons {
	transform: scale(1.75);
	accent-color: #004A8B;
}

.uploadLabels .registeRadioButtons {
	margin-right: 10px;
}

#dataSetListDiv {
	border-bottom: none;
}
#uploadAndRegisterFiles {
	border-bottom: none;
}

#dataListDiv{
	padding-top: 30px;
	border-top: 3px solid #B5C5E5;
}
.uploadslogo {
	width: 12px;
}

#registerBulkDataFileBtn {
	margin-top: auto;
	font-family: var(--font-family-inter);
	min-height: 32px;
	min-width: 120px;
	max-width: 300px;
	font-weight: 500;
	line-height: 5px;
	background-color: #2c4088 !important;
	border-radius: 65px;
	box-shadow: 0px 4px 50px #ffffff8c;
	padding-left: 2rem;
	text-align: left;
	padding-top: 4px;
	margin-bottom: 0.2rem;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	line-height: 60%;
	letter-spacing: 0.14px;
	text-transform: uppercase;
}

#registerBulkAssets,
#registerCollectionBtn, #registerBulkDataFileBtn {
	margin-top: auto;
	font-family: var(--font-family-inter);
	min-height: 48px;
	min-width: 200px;
	max-width: 300px;
	font-weight: 600;
	line-height: 5px;
	background-color: #2c4088 !important;
	border-radius: 65px;
	box-shadow: 0px 4px 50px #ffffff8c;
	padding-left: 2rem;
	text-align: left;
	padding-top: 12px;
	margin-bottom: 0.2rem;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	line-height: 60%;
	letter-spacing: 0.14px;
	text-transform: uppercase;
}

#registerBulkAssets, #registerBulkDataFileBtn {
	min-height: 42px;
	min-width: 233px;
	padding-top: 8px;
}

#registerFolder, #addBulkDataFiles, #cancelRegisterBtn {
	margin-top: auto;
	font-family: var(--font-family-inter);
	height: 41px;
	width: 193px;
	font-weight: 600;
	line-height: 5px;
	background-color: #2c4088 !important;
	border-radius: 65px;
	box-shadow: 0px 4px 50px #ffffff8c;
	padding-left: 2rem;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 0.2rem;
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	line-height: 110%;
	letter-spacing: 0.14px;
	text-transform: uppercase;
	min-height: 50px;
}
#registerFolder{
width: 220px;
height: 52px;
} 
#addBulkDataFiles{
	width: 220px;
	height: 52px;


}

.parentCollectionName,
#folder_name {
	/*width: 130%;*/
	height: 46px;
	padding-left: 25px;
	border: none;
	background-color: transparent;
	color: #000;
	/* flex: 1; */
}


.uploadLabels {
	font-family: var(--font-family-inter);
	color: #353941;
	font-size: 19px;
	font-weight: 700;
	padding-top: 0;
	padding-bottom: 20px;
	width: auto;
	display: block;
}

.uploadSubLabels {
	color: #C06400;
	font-family: 'inter_regular';
	font-weight: 200;
	font-size: 14px;
}

.assetGlobusSelectionFields {
	color: #235172;
	font-size: 13px;
	letter-spacing: 0.5px;
	margin-left: 10px;
	font-family: 'Open Sans';
	font-weight: 700;
	position: absolute;
	margin: 8px;
}

.assetBulkGlobusLabels {
	/* background-color: #194F85; */
	/* padding-top: 10px;
	padding-bottom: 10px; */
	/* border: 0.95px solid #898989; */
	color: #235172;
	height: 41px;
	/* padding-left: 10px; */
	font-family: 'inter_regular';
	/* margin-right: 10px; */
}

.assetGCValue,
.assetBulkGlobusValues {
	border: 1px solid #6B7294;
	padding: 10px;
	color: #6B7294;
	font-family: 'inter_regular';
	height: 37px;
	border-radius: 8px;
}

.uploadToAssetBulkValues {
	border-radius: 8px;
	border: 1px solid #6B7294;
    background: #FFF;
    color: #A8B1B6;
	font-family: 'inter_regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 10px;
	height:37px;
	line-height: 17px;
}

.assetGCLabels {
	text-transform: uppercase;
	color: #235172;
	height: 47px;
	font-family: 'Open Sans';
	font-weight: 700;
}

.assetGCValue,
.assetBulkGlobusValues input:focus,
.uploadToAssetBulkValues input:focus {
	outline: none;
}


.bulkAssetTextbox {
	padding-left: 10px;
	font-family: 'inter_regular';
	width: 100%;
	border-radius: 8px;
	border: 1px solid #6B7294;
	height: 36px;
}

input#includeCriteria:focus {
	outline: none;
}

.addUserMetadaDiv {
	margin-top: -42px;
	float: right;
	padding-left: 0px;
}

.addDeleteUploadLabels {
	color: #F39530;
	font-family: 'inter_regular';
	font-size: 14px;
}

#primaryGlobusButton,
#assetSelectionGlobusButton,
#authorizeGoogleCloud,#driveUploadAuthlink,
#cloudUploadAuthlink,#pickerUploadLink {
	width: 250px;
	font-size: 14px;
	font-family: 'inter_regular';
	background-color: #2c4088 !important;
	border-radius: 65px;
	box-shadow: 0px 4px 50px #ffffff8c;
	padding-left: 2rem;
	text-align: left;
	padding-top: 12px;
	margin-bottom: 0.2rem;
	color: #FFF !important;
	font-size: 14px;
	font-style: normal;
	line-height: 110%;
	letter-spacing: 0.14px;
	text-transform: uppercase;
	padding: 4px 32px;
}

#authorizeGoogleCloud,#driveUploadAuthlink,#cloudUploadAuthlink,#pickerUploadLink {
	width: 330px;
	padding: 7px 32px 0px 32px;
}

#driveUploadAuthlink:disabled, #cloudUploadAuthlink:disabled{
    background: #B4B4B4 !important;
    box-shadow: 0px 4px 50px 0px rgba(255, 255, 255, 0.55);
}

#collectionMetaDataLabel {
	color: #1C3D5D;
	font-family: latoregular;
}

table#globusDetailsDiv td {
	border: none;
	padding-top: 2px;
}

table#assetBulkMetadataTable tbody tr td {
	background-color: #EEF4F6;
	color: #235172;
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	padding: 16px 12px !important;
	border-bottom: 2.5px solid white;
}

table#assetBulkMetadataTable tbody tr td:first-child {
	padding: 16px 12px !important;
	font-weight: 600;
	text-transform: uppercase;
	width: 33.33%;
}

table#assetBulkMetadataTable tbody tr td:nth-child(2) {
	padding: 8px 12px !important;
}

table#assetBulkMetadataTable thead tr th {
	background-color: #194F85 !important;
	color: #fff;
	font-weight: 400;
	padding: 7px;
	font-size: 13px;
	font-family: 'inter_regular';
	padding-left: 14px;
}

#uploadHeader {
	font-size: 38px;
	text-align: center;
	font-weight: 300;
	background: linear-gradient(90deg, #015694 18.75%, #707AAD 50.93%, #C57908 89.72%);
	min-height: 136px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


#uploadSectionDiv {
	border: none;
	max-width: 1006px;
	margin: 40px auto;
	box-shadow: 2px 10px 30px 0px #0000004D;
	border-radius: 20px;
	background: #fff;
	padding: 0;
}

#uploadSubFragmentTab {
	margin: 0;
	padding: 0;
	display: block;
}


.registerDiv .form-group {
	margin: 0;
}

.registerDiv .form-group:first-child {
	margin-bottom: auto;
	flex-basis: 120px;
}

.registerDiv .form-group .form-heading {
	font-family: var(--font-family-poppins);
	font-size: 25px;
	font-weight: 500;
	color: #004A8B;
}


#showSelectProgramDiv,
#showSelectStudyDiv,
#showSelectAssetDiv {
	display: none;
	margin-top: 10px;
	margin-left: 40px;
}

.permissionsLabel {
	span.select2-selection.select2-selection--multiple {
		border-radius: 8px;
		border: 1px solid #6B7294 !important;
		min-height: 42px;
		height: auto;
		color: #000;
		font-weight: 400;
	}
}

td {
	.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
		color: black;
		padding: 5px;
	}
}

input[type=text]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

span.select2-selection.select2-selection--multiple {
	border-radius: 8px;
	border: 1px solid #6B7294 !important;
	min-height: 42px;
	height: auto;
}

.fa-info-square {
	font-size: 19px;
}

.icon {
	width: 17px;
	height: 19px;
	vertical-align: text-bottom;
}

.close-button {
	padding: 5px 6px !important;
}

label.radio-label {
	display: inline;
	color: #000;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

.registerStudy {
	min-width: 180px !important;
}

.registerFolder {
	min-width: 300px !important;
}

.metadataIcon {
	height: 22px;
	width: 22px;
	margin-top: -4px;
}

/* This is a temp fix we can fix with js  */
#userMetaData {
	span.select2.select2-container.select2-container--default {
		width: 70% !important;
	}

	input[type="search"] {
		width: 70% !important;
	}
}

/* End Temp fix */

.registerAssetContainer {
	padding: 2rem 4rem 1rem 4rem;
}

.asset-register-dropdown .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b,
.registerFilesAndSubCollectionsOptions .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b
 {
	border-color: #3B6EB4 transparent transparent transparent !important;
	border-width: 8px 6px 0 6px;
	margin-left: -12px;
	margin-top: -6px;
}

#formAssetSelection .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
	border-color: #3B6EB4 transparent transparent transparent !important;
	border-width: 8px 6px 0 6px;
	margin-left: -12px;
	margin-top: -6px;
}

.asset-register-dropdown .select2-container span.select2-selection.select2-selection--single,
.registerFilesAndSubCollectionsOptions .select2-container span.select2-selection.select2-selection--single
 {
	border: 1.5px solid #3B6EB4;
	border-radius: 8px;

}


.asset-register-dropdown .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 12px;
	padding-top: 2px;
}

.asset-register-dropdown .select2 {
	color: #083A50;
	font-size: 16px;
	height: 40px;
	width: 100% !important;
	margin-top: -3px;
	margin-bottom: 12px;
}
 .registerFilesAndSubCollectionsOptions .select2 {
 	color: #083A50;
	font-size: 16px;
	height: 40px;
	margin-top: -3px;
	margin-bottom: 12px;
 }

.asset-files-dropdown select2 {
	color: #083A50;
	font-size: 16px;
	height: 40px;
	margin-top: -3px;
	margin-bottom: 12px;
}



.registerDiv .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
	border-color: #3B6EB4 transparent transparent transparent !important;
}

.registerDiv .select2-container span.select2-selection.select2-selection--single {
	border: 1.5px solid #3B6EB4;
	border-radius: 8px;

}


.registerDiv .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 12px;
	padding-top: 2px;
}

.registerDiv .select2 {
	color: #083A50;
	font-size: 16px;
	height: 40px;
	width: 100% !important;
	margin-top: -3px;
	margin-bottom: 12px;
}


.uploadRadioButtons {
	margin-right: 10px;
	accent-color: #004A8A !important;
	transform: scale(1.6) !important;
}


.uploadAssetLabels {
	font-family: var(--font-family-inter);
	color: #353941;
	font-size: 19px;
	font-weight: 700;
	padding-top: 0;
	padding-bottom: 20px;
	width: auto;
	display: block;
}

.uploadAssetRadioLabels {
	font-family: 'Open Sans';
	color: #353941;
	font-size: 16px;
	font-weight: 400;
	padding-top: 0;
}


label.radio-label {
	display: inline;
	color: #000;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

.asset-register-dropdown span.select2.select2-container.select2-container--bootstrap4.select2-container--disabled {
	opacity: 0.2;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected] {
	color: #083A50 !important;
}


.asset-register-dropdown {
	padding-left: 12px;
}

#formAssetSelection .select2-container span.select2-selection.select2-selection--single {
	border: 1.5px solid #3B6EB4;
	border-radius: 8px;
}

#formAssetSelection .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
	border-color: #3B6EB4 transparent transparent transparent !important;
}

.disable-pointer-events {
    pointer-events: none;
	opacity: 0.2;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected]:hover {
	background-color: #c8d4dc !important;
	color: #000;
}

ul#select2-uploadAssetSelect-results, ul#select2-registerAssetSelect-results,
ul#select2-uploadFilesSelect-results{
    background-color: #EBF2F6 !important;
    color: #000;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112%;
    letter-spacing: -0.16px;
}

#formAssetSelection {
	.select2-container{
		margin-left: 12px;
	}
}