<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Title</title>
     <link rel="canonical" href="https://modac.cancer.gov/resetPassword" />
</head>

<body>
        
 <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>       
        
<div class="wrapper">

    <!-- HEADER -->
  <div th:if= "${loggedOnUser != null}">
    <div th:replace="fragments/header :: header">Header and nav goes here</div>
    </div>
    <div th:if= "${loggedOnUser == null}">
    <div th:replace="fragments/public-header :: public-header">Header and nav goes here</div>
    </div>
    <!-- END HEADER -->
    
 
 <!-- Content -->
     <div role="main" id="content">
        <div class="card-body tab-content text-left" id="pills-tabContent">

            <div th:replace="fragments/changePassword :: changePassword">Login tab</div>
            <div th:replace="fragments/modal-dialogs :: modal-dialogs">modal dialogs</div>
             <div id="spinner" class="spinner" style="display: none;">
                <img id="img-spinner" th:src="@{/images/giphy.gif}" alt="Loading"/>
             </div>
           <div id="dimmer" style="display: none;"></div> 
        </div>
         <a aria-label="return to top" href="javascript:void();" id="return-to-top"><i
        class="fa fa-caret-up fa-2x mt-2 mb-3 ml-3 mr-2 text-white"></i></a>
    </div>    
 <!-- End content -->

    <!-- FOOOTER -->
    <div th:replace="fragments/footer :: footer">Footer goes here</div>
    <!-- END FOOTER -->
</div>


<script th:inline="javascript">
    window.name = "DOE";
    /*<![CDATA[*/
    var search_criteria_json= {};
    var dataset_criteria_json= {};
    var advancedSearchHiddenOptions = {};
    var studyMetadata ;
    var instituteMetaData;
    var selfMetadata;
    var loggedOnUserInfo = /*[[${loggedOnUser}]]*/ 'undefined';
    /*]]>*/

</script>
<script src="js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
<script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="js/bootbox-5.1.1.min.js" th:src="@{/js/bootbox-5.1.1.min.js}"></script>
<script src="js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="js/bootstrap3-typeahead.min.js" th:src="@{/js/bootstrap3-typeahead.min.js}"></script>
<script src="js/select2.full.min.js" th:src="@{/js/select2.full.min.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script src="DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"
        th:src="@{/DataTables/DataTables-1.10.18/js/jquery.dataTables.js}"></script>
<script src="DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"
 th:src="@{/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js}"></script>

<script src="js/jquery.are-you-sure-1.9.0.js" th:src="@{/js/jquery.are-you-sure-1.9.0.js}"></script>
<script src="https://unpkg.com/@ag-grid-enterprise/all-modules@22.1.2/dist/ag-grid-enterprise.min.js"></script>
<script src="js/controller/common.js" th:src="@{/js/controller/common.js}"></script>
<script src="js/controller/register.js" th:src="@{/js/controller/register.js}"></script>
<script src="js/controller/login.js" th:src="@{/js/controller/login.js}"></script>
<script src="js/controller/doe.js" th:src="@{/js/controller/doe.js}"></script>
<script src="js/controller/dataset.js" th:src="@{/js/controller/dataset.js}"></script>
<script src="js/controller/editCollection.js" th:src="@{/js/controller/editCollection.js}"></script>
</body>
</html>
