<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>
	<div id="uploadTab" role="tabpanel" th:fragment="uploadFragment">
		<div id="uploadHeader">
			<p>Upload</p>
		</div>


		<div id="uploadSectionDiv" class="form-row jumbotron">
			<div class="form-row col-md-12 col-sm-12" id="uploadSubFragmentTab">

				<input type="hidden" th:value="${basePathSelected}" id="basePath" />
				<input type="hidden" th:value="${datafilePath}" id="datafilePath" />
				<input type="hidden" th:value="${programPath}" id="programPath" />
				<input type="hidden" th:value="${uploadPath}" id="uploadPath" /> <input type="hidden"
					th:value="${studyPath}" id="studyPath" /> <input type="hidden" id="uploadAsyncType"
					th:value="${uploadAsyncType}" />
				<input type="hidden" id="assetPermissions" />
				<input type="hidden" th:value="${bulkUploadCollection}" id="bulkUploadCollection" />
				<input type="hidden" th:value="${authorizedGC != null}" id="gcCloudAuthorized" />
				<input type="hidden" th:value="${endpoint_id}" id="globusEndpointId" />


				<input type="hidden" id="showUploadDataFilesTab"
					th:value="${authorized != null or endpoint_id != null or authorizedGC != null}" />

				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<div class="form-row jumbotron registerDiv">
							<div class="form-group">
								<div class="form-heading">
									Program
								</div>
							</div>

							<div class="form-group">
								<div class="pull-left" style="margin-top: 6px; margin-left: 15px">
									<label class="uploadLabels radio-inline"><input type="radio" name="selectProgram"
											class="registeRadioButtons" onclick="createCollectionDiv('basePath')"
											value="Register Program">&nbsp;&nbsp; Register Program</label>
								</div>
								<div class="d-flex">
									<div class="pull-left" style="margin-left: 15px">
										<label for="selectProgram" class="uploadLabels radio-inline"><input type="radio"
												name="selectProgram" class="registeRadioButtons"
												onclick="showSelect('Program')" value="Select Program">&nbsp;&nbsp;
											Select Program</label>
									</div>
									<div id="showSelectProgramDiv" style="min-width: 400px;margin-top: 0;">
										<select class="simple-select2" id="programList" name="programList"
											style="width: 100%"
											onchange="retrieveCollections('programList', this.options[this.selectedIndex],'onChange');">
										</select>

										<div class="col-md-2 col-lg-2 col-sm-2"></div>
										
									</div>
									<div class="form-group" style="padding: 0 18px">

										<img src="/images/deleteOrange.svg"
												th:src="@{/images/deleteOrange.svg}" style="display: none;" class="addDeleteUploadLabels"
												id="deleteProgram" onclick="functionDelete('programList','Program')"
												alt="delete">
										<img src="images/Search_EditMetaData.svg"
										th:src="@{/images/Search_EditMetaData.svg}" style="display: none; padding-left: 18px;" class="addDeleteUploadLabels"
												id="editProgram" onclick="functionEditCollection('programList','Program')"
												alt="edit">
									</div>
								</div>
							</div>

						</div>
						<div class="form-row jumbotron registerDiv" id="studyListDiv" style="display: none;">

							<div class="form-group">
								<div class="form-heading">
									Study
								</div>
							</div>

							<div class="form-group">
								<div class="pull-left" style="margin-top: 6px;margin-left: 15px">
									<label class="uploadLabels radio-inline"><input type="radio" name="selectStudy"
											class="registeRadioButtons" onclick="createCollectionDiv('programList')"
											value="Register Study">&nbsp;&nbsp; Register Study</label>
								</div>


								<div class="d-flex">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectStudy" class="uploadLabels radio-inline"><input type="radio"
											name="selectStudy" class="registeRadioButtons" onclick="showSelect('Study')"
											value="Select Study">&nbsp;&nbsp;
										Select Study</label>
								</div>
								<div id="showSelectStudyDiv" style="min-width: 400px; margin-top: 0;">
									<select class="simple-select2" id="studyList" aria-labelledby="studyList"
										name="studyList" style="width: 100%"
										onchange="retrieveCollections('studyList', this.options[this.selectedIndex],'onChange');">
									</select>
								</div>
								<div class="form-group" style="padding: 0 18px">

									<img src="/images/deleteOrange.svg"
											th:src="@{/images/deleteOrange.svg}" style="display: none;" class="addDeleteUploadLabels"
											id="deleteStudy"  onclick="functionDelete('studyList','Study')"
											alt="delete">
									<img src="images/Search_EditMetaData.svg"
									th:src="@{/images/Search_EditMetaData.svg}" style="display: none; padding-left: 18px;" class="addDeleteUploadLabels"
											id="editStudy" onclick="functionEditCollection('studyList','Study')"
											alt="edit">
								</div>
							</div>
							</div>
						</div>

						<div class="form-row jumbotron registerDiv" id="dataSetListDiv" style="display: none;">

							<div class="form-group">
								<div class="form-heading">
									Asset
								</div>
							</div>

							<div class="form-group">

								<div class="pull-left" style="margin-top: 6px;margin-left: 15px">
									<label for="assetSelection" class="uploadLabels radio-inline"><input type="radio"
											name="selectAsset" data-backdrop="static" data-keyboard="false"
											value="Register Asset" class="registeRadioButtons"
											onchange="displayEmptyAssetScreen('emptyAsset')">&nbsp;&nbsp;
										Register Asset</label>
								</div>
								<div class="d-flex">
								<div class="pull-left" style="margin-left: 15px">
									<label for="selectAsset" class="uploadLabels radio-inline"><input type="radio"
											name="selectAsset" class="registeRadioButtons" onclick="showSelect('Asset')"
											value="Select Asset">&nbsp;&nbsp;
										Select Asset</label>
								</div>
								<div id="showSelectAssetDiv" style="min-width: 400px;margin-top: 0;">
									<select class="simple-select2" id="dataList" aria-labelledby="dataList"
										name="dataList" style="width: 100%"
										onchange="retrieveCollections('dataList', this.options[this.selectedIndex],'onChange');">
									</select>
								</div>
								<div class="form-group" style="padding: 0 18px">

									<img src="/images/deleteOrange.svg"
											th:src="@{/images/deleteOrange.svg}" style="display: none;" class="addDeleteUploadLabels"
											id="deleteDataSet"  onclick="functionDelete('dataList','Asset')"
											alt="delete">
									<img src="images/Search_EditMetaData.svg"
									th:src="@{/images/Search_EditMetaData.svg}" style="display: none; padding-left: 18px;" class="addDeleteUploadLabels"
											id="editAsset" onclick="functionEditCollection('dataList','Asset')"
											alt="edit">
								</div>
							</div>
							</div>

							<!-- bulk asset upload div -->

							<!-- <div
			          th:replace="upload/uploadBulkAssetsFragment :: uploadBulkAssetsFragment"></div>
			 -->
							<!-- End bulk asset upload div -->

						</div>


						<div class="form-row jumbotron registerDiv" id="uploadAndRegisterFiles" style="display: none;">

							<div class="col-lg-5 col-md-5" style="margin-top: 10px; padding-left: 88px;">

								<a href="#" id="addBulkDataFiles" class="addDeleteUploadLabels" data-toggle="tooltip">
									<i class="fas fa-upload"></i>&nbsp;&nbsp;
									Upload to Asset
								</a>
							</div>

							<div class="col-lg-5 col-md-5" style="margin-top: 10px;">
								<a href="javascript:void(0)" id="registerFolder" data-toggle="tooltip"
									class="addDeleteUploadLabels" onclick="createCollectionDiv('dataList')"><img
										src="images/Uploads.add.png" th:src="@{/images/Uploads.add.png}"
										class="uploadslogo" alt="register">&nbsp;&nbsp;&nbsp; Register Asset
									Subcollection </a>
							</div>
						</div>



						<div class="form-row col-md-12 col-sm-12" id="dataListDiv"
							style="display: none; margin-top: 30px;">
							<div class="form-group col-lg-10 col-md-12"
								style="height: fit-content; font-size: 19px; background-color: #FFFFFF; border-radius: 15px;">
								<p
									style="margin-top: 4px; margin-left: 35px; font-family: latoregular; color: #8F8E8E;">
									<b>Asset Files/Subcollections</b>
								</p>
								<ul id="dataListing">
								</ul>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/editCollectionFragment :: editCollectionFragment"></div>

		<div th:replace="upload/uploadDataFiles :: uploadDataFiles">Upload
			files</div>
		<div th:replace="upload/uploadRegisterCollectionFragment :: uploadRegisterCollectionFragment">Create
			collection Fragment</div>
	</div>
</body>

</html>