<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>

<body>
	<div id="assetDetailsFragment_mobile" th:fragment="assetDetailsFragment_mobile"
		style="display: none;">

		<div class="form-row col-lg-12 col-md-12 col-sm-12"
			style="padding: 1rem 0rem 0rem 0.5rem; margin-left: -1rem;">
			<div class="col-md-12 col-sm-12"
				style="color: #000000; font-family: 'latoregular'; font-size: 13px; margin-left: -19px; word-break: break-word;">
				<table id="assetDetailsDiv" class="table display dt-responsive wrap"
					style="border: none; background-color: transparent;">
					<tbody style="background-color: transparent;">
						<tr>
							<td style="display: inline-flex; width: -webkit-fill-available;"><div
									class="col-md-12">ASSET LINK:</div>
								<div class="col-md-12"
									style="font-family: lato_bold; font-size: 18px; margin-top: -5px;">
									<span th:text="${assetLink}" id="assetUrlLink"></span>
									<button type="button" class="share-assetLink-copy-button"
										data-toggle="tooltip" data-placement="bottom"
										th:data-clipboard-text="${assetLink}"
										data-original-title="Copy asset link">
										<img src="images/copy_to_clipboard.svg" width="20"
											alt="Copy to clipboard">
									</button>
								</div></td>
						</tr>
						<tr>
							<td>
								<div class="col-md-12">PROGRAM NAME:</div>
								<div class="col-md-12"
									style="font-family: lato_bold; font-size: 18px;"
									id="selectedProgramName" th:text="${progName}"></div>
							</td>
						</tr>
						<tr>
							<td><div class="col-md-12">STUDY NAME:</div>
								<div class="col-md-12"
									style="font-family: lato_bold; font-size: 18px;"
									id="selectedStudyName" th:text="${studyName}"></div></td>
						</tr>
						<tr>
							<td><div class="col-md-12">ASSET NAME:</div>
								<div class="col-md-12"
									style="font-family: lato_bold; font-size: 18px;"
									id="selectedDataSetName" th:text="${assetName}"></div></td>
						</tr>
						<tr>
							<td><div class="col-md-12">ASSET PATH:</div>
								<div class="col-md-12"
									style="font-family: lato_bold; font-size: 18px;"
									id="selectedAssetPath" th:text="${assetPath}"></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="form-row col-lg-12 col-md-12 col-sm-12"
			style="padding-bottom: 1rem; margin-top: 14px; margin-left: -0.5rem; border-bottom: 2px solid #194F85; border-top: 2px solid #194F85;">

			<p
				style="color: #5099AB; font-family: 'latoregular'; font-size: 23px; padding-top: 35px;">Asset
				Attributes</p>


			<table id="dataSetMetaData" class="table display dt-responsive wrap"
				style="border: 0.95px solid #898989; margin-top: -11px; word-wrap: break-word;">

				<tbody>
					<tr th:each="metadata : ${assetMetadata}"
						style="display: grid; letter-spacing: 0.8px;">
						<td><div class="attrClass">ATTRIBUTE:</div>&nbsp;&nbsp;&nbsp;
							<div class="attrValClass"
								th:text="${#strings.toUpperCase(metadata.displayName)}"></div></td>

						<td
							th:if="${#strings.startsWith(metadata.value, 'https') OR #strings.startsWith(metadata.value, 'http')}">
							<div class="attrClass">VALUE:</div>&nbsp;&nbsp;&nbsp;
							<div class="AttrValueTxt">
								<a target="_blank" th:href="${metadata.value}"
									th:value="${metadata.value}"></a>
							</div>
						</td>
						<td
							th:unless="${#strings.startsWith(metadata.value, 'https') OR #strings.startsWith(metadata.value, 'http')}">
							<div class="attrClass">VALUE:</div>&nbsp;&nbsp;&nbsp;
							<div class="AttrValueTxt" th:text="${metadata.value}"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
